body {
  color: #1f4795;
}

/* Slidebar scroll fix */

html {
  overflow: scroll;
}

/* fix disappearing input issue */
input, textarea {
  transform: translateZ(0px);
}

/* Foundation revisions */

a {
  color: #24b2e7;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

a:hover, a:focus {
  color: #147db6;
  transition: background-color 0.25s, border 0.25s, color 0.25s ease-in-out;
}

.full-width {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Headings for small screens */
h1 {
  font-size: 2.5rem; }
h2 {
  font-size: 2rem; }
h3 {
  font-size: 1.75rem; }
h4 {
  font-size: 1.5rem; }
h5 {
  font-size: 1.25rem; }
h6 {
  font-size: 1.125rem;
}

/* Headings for non-small screens */
@media screen and (min-width: 42em) {
  h1 {
    font-size: 2.75rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 2.125rem; }
  h4 {
    font-size: 1.75rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 1.25rem; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888888;
}

.h5-symbol {
  vertical-align: -3px;
  margin-left: 0.375rem;
  margin-right: -0.0625rem;
  height: 1.25rem;
}

.h6-symbol {
  vertical-align: -3px;
  margin-top: 0.25rem;
  margin-right: -0.125rem;
  height: 1.125rem;
}

.large-text-symbol {
  height: 1.5rem;
  margin-right: -0.0625rem;
}

.med-text-symbol {
  vertical-align: -3px;
  height: 1.0625rem;
  margin-right: -0.125rem;
}


/* Lead text for non-small screens */
@media screen and (min-width: 42em) {
  .lead {
    font-size: 111%;
    line-height: 1.6;
  }
}

.button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  background-color: #24b2e7;
  transition: border 0.25s ease-in-out, background-color 0.25s ease-in-out;
  outline: none;
  position: relative;
  box-shadow: 0 3px #147db6;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button.large {
  font-size: 1.125rem;
}

.button.small {
  font-size: 0.9375rem; }

.button.tiny {
  font-size: 0.9375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #169ccd;
  border: 1px solid #169ccd;
}

.button.secondary {
  color: #147db6;
  background-color: #ffffff;
  border: 1px solid #147db6;
  box-shadow: 0 3px #147db6;
  transition: border 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #169ccd;
  border: 1px solid #169ccd;
}

.button.alert {
  background-color: #ffffff;
  border: 1px solid #890045;
  color: #890045;
  box-shadow: 0 3px #890045
}

.button.alert:hover, .button.alert:focus {
  background-color: #9c1537;
  color: #ffffff;
}

.button.caution {
  background-color: #ffffff;
  border: 1px solid #e7b708;
  color: #e7b708;
}

.button.caution:hover, .button.caution:focus {
  background-color: #e7b708;
  color: #ffffff;
}

.button.clear {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 3px #ccc;
  transition: border none, background-color 0.25s ease-in-out;
}

.button.clear:hover, .button.clear:focus {
  background-color: #169ccd;
  color: #ffffff;
  border: 1px solid #169ccd;
  box-shadow: 0 3px #147db6;
}

.button.disabled, .button[disabled],
.button.disabled:hover, .button.disabled:focus,
.button[disabled]:hover, .button[disabled]:focus {
  background-color: #555555;
  border-color: #555555;
  color: #ffffff;
}

.button:active {
  box-shadow: 0 0 !important;
	top: 3px;
}

.button.large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button.baseline {
  vertical-align: baseline;
}

.button.tag {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.round {
  border-radius: 999px;
}

table thead, table tfoot {
  color: #888888;
}

html input[disabled] {
  background-color: transparent;
  color: #999999;
  border-color: #999999;
}

textarea[disabled] {
  background-color: transparent;
  color: #999999;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  border: 0;
  border-bottom: 1px solid #24b2e7;
  box-shadow: none;
  color: #1f4795;
  height: inherit;
  line-height: inherit;
  transition: border 0.25s ease-in-out;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #147db6;
}

.checkin-checkbox:checked + label {
  color: #24b2e7;
}

[type='checkbox'] + label, [type='radio'] + label {
  margin-right: 0.5rem;
}

[type='radio'] {
  margin-bottom: 0.5rem;
}

/* custom checkboxes */

.custom-checkbox {
  position: absolute;
  opacity: 0;
}
.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.custom-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #24b2e7;
  background: white;
}
.custom-checkbox:hover + label:before {
  background: #ffffff;
}
.custom-checkbox:checked + label:before {
  background: #ffffff;
}
.custom-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.custom-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.custom-checkbox:checked + label:after {
  position: absolute;
  left: 1px;
  top: -1px;
/*  box-shadow: 2px 0 0 #24b2e7, 4px 0 0 #24b2e7, 4px -2px 0 #24b2e7, 4px -4px 0 #24b2e7, 4px -6px 0 #24b2e7, 4px -8px 0 #24b2e7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);*/
  font-family: "FontAwesome";
  content: "\f00c";
  color: #24b2e7;
}

/* inputs */

select {
  color: #1f4795;
  border-color: #24b2e7;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28106, 181, 204%29'></polygon></svg>");
  outline: none;
  transition: border 0.25s ease-in-out, background-image 0.25s ease-in-out;
  border: none;
  border-bottom: 1px solid #24b2e7;
  line-height: inherit;
  height: auto;
}

select:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #147db6'></polygon></svg>");
  border-color: #147db6;
}

select:focus {
  border-color: #147db6;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #147db6'></polygon></svg>");
}

select[disabled] {
  color: #999999;
  border-color: #999999;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: #999999'></polygon></svg>");
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999999;
  opacity: 1;  }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999; }

input::placeholder,
textarea::placeholder {
  color: #999999; }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  color: #888888;
  font-size: 1rem;
}

.radio,
.checkbox {
  position: relative;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio label,
.checkbox label {
  margin-bottom: 0;
  font-weight: normal;
}

.styled-radio + label {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.styled-radio:checked + label {
  background-color: #169ccd;
  border: 1px solid #169ccd;
  color: #ffffff;
}

.styled-checkbox:checked + label {
  background-color: #1f4795;
  border: 1px solid #1f4795;
  color: #ffffff;
}

.accordion {
  background: transparent;
}

.accordion-title {
  font-size: 1rem;
  padding: 1rem;
  border-bottom: none;
  background-color: #ffffff;
}

.accordion-title:focus {
  background-color: #ffffff;
}

.accordion-title::before {
  content: '';
}

.is-active > .accordion-title::before {
  content: '';
}

/*#volunteer-list li .accordion-title {
  font-size: 0.875rem;
}*/

.accordion-content {
  color: #888888;
  padding-bottom: 0.5rem;
}

#volunteer-list .accordion-content p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.accordion-content p span {
  float: right;
}

.accordion-content .button {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
}

/* Align large checkboxes on non-small screens */
@media screen and (min-width: 42em) {
  .checkbox.large input[type="checkbox"] {
  position: absolute;
  left: 10px;
  top: 9px;
  }
}

/* fontawesome additions */

.fa-sm {
  font-size: 0.7rem;
}

/* Scandalous classes */

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.qtr-margin-top {
  margin-top: 0.25rem;
}

.qtr-margin-bottom {
  margin-bottom: 0.25rem;
}

.qtr-margin-left {
  margin-left: 0.25rem;
}

.qtr-margin-right {
  margin-right: 0.25rem;
}

.half-margin-bottom {
  margin-bottom: 0.5rem;
}

.half-margin-top {
  margin-top: 0.5rem;
}

.half-margin-left {
  margin-left: 0.5rem;
}

.half-margin-right {
  margin-right: 0.5rem;
}

.three-qtr-margin-top {
  margin-top: 0.75rem;
}

.three-qtr-margin-left {
  margin-left: 0.75rem;
}

.one-margin-bottom {
  margin-bottom: 1rem;
}

.one-margin-top {
  margin-top: 1rem;
}

.one-margin-left {
  margin-left: 1rem;
}

.one-margin-right {
  margin-right: 1rem;
}

.three-halves-margin-bottom {
  margin-bottom: 1.5rem;
}

.three-halves-margin-top {
  margin-top: 1.5rem;
}

.three-halves-margin-left {
  margin-left: 1.5rem;
}

.three-halves-margin-right {
  margin-right: 1.5rem;
}

.two-margin-bottom {
  margin-bottom: 2rem;
}

.two-margin-top {
  margin-top: 2rem;
}

.two-margin-left {
  margin-left: 2rem;
}

.two-margin-right {
  margin-right: 2rem;
}

.three-margin-bottom {
  margin-bottom: 3rem;
}

.three-margin-top {
  margin-top: 3rem;
}

.two-line-height {
   line-height: 2rem;
}

.white {
  color: #ffffff;
}

.white-link {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.white-link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.blue {
  color: #24b2e7;
}

.blue-bg {
  background-color: #24b2e7;
}

.blue-icon {
  color: #24b2e7;
}

.blue-icon:hover {
  color: #147db6;
}

.navy {
  color: #1f4795;
}

.grey {
  color: #888888;
}

.grey-bg {
  background-color: #888888;
}

.light-grey {
  color: #aaaaaa;
}

.success {
  color: #67bc63;
}

.alert {
  color: #890045;
}

.caution {
  color: #e7b708;
}

.center {
  text-align: center;
  display: block;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.small-text {
  font-size: 0.875rem;
}

.base-text {
  font-size: 1rem;
}

.large-text {
  font-size: 1.125rem;
}

.med-bold {
  font-weight: 700;
}

.trim-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-input {
  display: inline-block;
  margin-left: 0.5rem;
}

.input-left {
  padding-right: 0.5rem;
}

.input-right {
  padding-left: 0.5rem;
}

.input-middle {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.hidden-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.hidden-file:focus + label {
  background-color: #147db6;
  color: #ffffff;
  border-color: #147db6;
}

.underline {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

.hidden-overflow {
  overflow: hidden;
}

.no-bullet {
  list-style-type: none;
}

.arrow-cursor {
  cursor: default;
}

.fit-left {
  float: left;
  display: inline-block;
}

.fit-right {
  float: right;
  display: inline-block;
}

.input-sizer {
  display: block;
  overflow: hidden;
  padding-left: 4px;
}

/* small header */

#header {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #ffffff;
  z-index: 2;
  border-bottom: 1px solid #24b2e7;
}

#header-logo {
  max-height: 44px;
  margin-top: 0.625rem;
}

#header-profile {
  margin-top: 1.0625rem;
  margin-right: 3rem;
}

#header-profile-icon {
  margin-top: 1.125rem;
  margin-right: 2.5rem;
}

.header-spacer {
  height: 60px;
}

#tilde-menu {
  position: absolute;
  height: 22px;
  top: 1.125rem;
  right: -11px;
}

#tilde-menu g {
  fill: #24b2e7;
  transition: fill 0.25s ease-in-out;
}

#tilde-menu:hover g, #tilde-menu:focus g {
  fill: #147db6;
}

.fa-bars {
  margin-right: 3rem;
}

#container {
  /*margin-bottom: 24px;*/
  text-align: center;
}

#wrapper {
  padding-top: 60px;
  position: relative;
}

/* non-small header */
@media screen and (min-width: 42em) {
  #header-logo {
    max-height: 50px;
    margin-top: 0.375rem;
  }
}

/* menus */

#menu {
  background-color: #24b2e7;
  color: #ffffff;
}

.list-group-item {
  position: relative;
  display: block;
  height: 60px;
  padding: 17px 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #fff;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

a.list-group-item {
  color: #ffffff;
}

.list-group-item:hover {
  background-color: #ffffff;
  color: #147db6;
}

#beta-home {
  position: absolute;
  top: -13px;
  left: 5px;
  color: #888888;
  transition: color 0.25s ease-in-out;
}

#beta-home:hover {
  color: #147db6;
}

#home-menu {
  color: #24b2e7;
  background-color: #ffffff;
}

#home-menu .list-group-item {
  border-bottom: 1px solid #24b2e7;
}

#home-menu a.list-group-item {
  color: #24b2e7;
}

#home-menu .list-group-item:hover {
  background-color: #24b2e7;
  color: #ffffff;
}


/* footer */

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

#push {
  height: 5rem;
}

#footer {
  height: 5rem;
  padding: 1rem 1rem 1.5rem;
  background: #24b2e7;
  color: #ffffff;
}

#bottom-stripe {
  position: fixed;
  bottom: 0;
  height: 11px;
  z-index:  2;
  background-color: #24b2e7;
}

.modal {
  padding: 1rem;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 4rem;
  display: none;
}

/* Status messages */

.errorlist {
  list-style-type: none;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.status-highlight {
  background-color: #24b2e7;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

/* Titles */
.title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.title-sub {
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.subtitle {
  margin-bottom: 1rem;
  text-align: center;
}

.popup-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* pagination */

.pagination li, .pagination a {
  border-radius: 99px;
  color: #1f4795;
}

.pagination .current {
  background-color: #1f4795;
}

/* login */

  #remember-label {
    padding-left: 0;
  }

  #remember-checkbox {
    position: static;
    margin-right: 1rem;
  }

/* confirm-account */

#verify-email {
  width: 80px;
}

/* verify-identity */

#passport-id, #routing-number, #bank-account-number {
  width: 105px;
}

#social-security-number {
  width: 112px;
}

/* org-signup */

#org-status {
  width: 190px;
  margin-left: 0.25rem;
}

#other-cause {
  width: 111px;
}

#user-affiliation {
  width: 146px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/*#org-website {
  width: 182px;
}

#org-email {
  width: 205px;
}*/

#tax-id {
  width: 111px;
  margin-top: 0.5rem;
}

.fa-caret-right, .fa-caret-left {
  transition: color 0.25s ease-in-out;
}

#add-volunteer-popup {
  min-height: 410px;
}

#current-amount-div {
  width: 144px;
  display: block;
  position: relative;
  margin: auto;
  transition: color 0.25s, fill 0.25s ease-in-out;
}

#current-amount-div:hover .amount-input {
  border-color: #147db6;
}

#current-amount-div:hover circle {
  stroke: #147db6;
}

#current-amount-div:hover .symbol-circle {
  stroke: #147db6;
}

#oc-symbol {
  float: left;
  height: 32px;
  margin-top: 0.25rem;
}

.oc-button.tiny {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

.symbol-circle {
  stroke: #24b2e7;
  transition: stroke 0.25s ease-in-out;
}

.amount-input {
  width: 100px;
  color: #1f4795;
  display: inline;
  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #24b2e7;
}

.amount-input:focus {
  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #147db6;
}

.amount-input:focus + #oc-symbol .symbol-circle {
  stroke: #147db6;
}

.current-placeholder {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 4px;
}

.value-div {
  position: relative;
  width: 123px;
  margin: auto;
}

.value-placeholder {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 66px;
}

.dollar-placeholder {
  position: absolute;
  top: 8px;
  left: 5px;
  color: #999999;
}

.dollar-price {
  text-indent: 13px;
  width: 60px;
}

.item-price {
  text-indent: 13px;
}

.current-price {
  text-indent: 22px;
}

.usd-circle {
  font-size: 7rem;
}

.usd-icon {
  font-size: 3rem;
}

/* sell */

.hidden-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.product-quantity {
  display: inline-block;
  width: 35px;
}

/* nominate */

.button.zeroclipboard-is-hover {
  background-color: #1f4795;
  border-color: #1f4795;
  color: #ffffff;
}

/* find-orgs */

#cause-select {
  width: 150px;
}

.org-img {
  border-radius: 999px;
  width: 33px;
}

@media screen and (min-width: 42em) {
  .org-img {
    width: 44px;
  }
}

/* volunteer-requests */

.volunteer-confirm label {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-right: 0;
}

.volunteer-confirm i {
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}

.volunteer-confirm .accept:hover {
  color: #009900;
}

.volunteer-confirm .decline:hover {
  color: #890045;
}

.volunteer-confirm .question:hover {
  color: #f6bc2e;
}

.vol-status {
  line-height: 2;
  margin-top: 0.125rem;
}

/* community */

.atcb-list {
  background-color: #ffffff;
  border: 1px solid #24b2e7;
  border-radius: 4px;
  top: 130%;
}

.atcb-item {
  color: #ffffff;
  padding: 0.25rem;
  margin-left: 0.25rem;
  border-radius: 4px;
}

i:hover ~ .addtocalendar {
  color: #147db6;
}

.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover{
    visibility:visible;
}


/* blog */

.blog-img {
  width: ;
}

/* profile */

#profile-info {
  line-height: 0rem;
  font-size: 1.5rem;
}

#community-feed {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: 0.875rem;
  max-height: 75vh;
  overflow: auto;
}

.feed-item {
  min-height: 67px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  text-align: left;
}

.biz-logos {
  /* border: 1px solid #cccccc; */
  background-color: #ffffff;
  padding: 7px;
  margin: 0.25rem;
  border-radius: 5px;
  filter: grayscale(30%);
  transition: filter 0.25s ease-in-out, border-color 0.25s ease-in-out;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

.biz-logos:hover {
  filter: grayscale(0%) saturate(111%);
}

.biz-logos:active {
   box-shadow:
    inset 0 2px 9px #999,
    inset 0 -2px 6px #999;
}

<<<<<<< HEAD
=======
.featured-overlay {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 33px;
  font-weight: bold;
  border-radius: 40px;
  background-color: #f5a412;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 5px;
  text-align: center;
}

.featured-overlay.date {
  width: 55px;
}

.biz-header-image {
  width: 165px;
}

>>>>>>> c9ae310... fixed width date overlay
/* small */
#profile-img {
  display: inline-block;
  height: 44px;
  margin-right: 0;
  margin-top: 1rem;
  vertical-align: middle;
}


/* non-small */
@media screen and (min-width: 42em) {
  #profile-img {
    height: 55px;
    margin-right: 2rem;
  }
}

.profile-text {
  margin-top: 0.375rem;
  padding-bottom: 0.25rem;
  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid #888888;
}

.profile-text:focus {
  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid #555555;
}

/* my-hours */

#hours-total {
  border-bottom: 1px solid #999999;
}

/* admin-profile */

#live-project-list {
  font-size: 0.875rem;
}

.mini-menu {
  display: none;
  position: absolute;
  right: 23px;
  top: 30px;
  width: 200px;
  border: 1px solid #cccccc;
  border-bottom: none;
  text-align: left;
  background-color: #fcfcfc;
  z-index: 100;
}

.mini-menu a {
  color: #888888;
}

.mini-menu li {
  list-style-type: none;
  border-bottom: 1px solid #cccccc;
  padding-left: 10px;
}

.mini-menu li:hover {
  background-color: #24b2e7;
  color: #ffffff;
}

.mini-open i {
  transition: color 0.25s ease-in-out;
}

.mini-open:hover i {
  color: #147db6;
}

/* create-event */

.remove-input {
  position: absolute;
  top: 13px;
  right: 5px;
  cursor: pointer;
}

.location {
  padding-right: 1.5rem;
}


/* live-dashboard */

input[type="checkbox"] + label.vol-arrived {
  margin-left: 0;
}

.pac-container {
  z-index: 100002;
}

.checkin-checkbox-icon {
  font-size: 1.5rem;
  margin-top: -3px;
  color: #cccccc;
}

/* volunteer-opportunities */

.other-volunteering {
  height: 3rem;
  margin: 1rem;
}

/* time-tracker */

#user-orgs {
  margin-bottom: 2rem;
}

/* approve-hours */

.volunteer-declined, .volunteer-deferred {
  text-align: center;
}


/* offer */

.progress-counter {
  width: 33px;
  height: 33px;
  border-radius: 99px;
  border: 1px solid #999999;
  margin: auto;
  margin-bottom: 0.5rem;
}

.progress-counter h6 {
  font-size: 1.125rem;
  padding-top: 0.125rem;
}

.progress-highlight {
  background-color: #24b2e7;
  border-color: #24b2e7;
}

.progress-highlight h6 {
  color: #ffffff;
}

#goods-detail-div {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 1rem;
}

#offer-1 {
  position: absolute;
  left: 0;
  width: 100%;
}

#offer-2, #offer-3, #offer-4 {
  position: absolute;
  width: 100%;
  left: 100%;
  display: none;
}

.discount-amount {
  width: 55px;
  margin-top: 0;
}

input[disabled].good-cat {
  color: #1f4795;
}

.input-icon-right {
  position: absolute;
  right: 5px;
  top: 8px;
}

.input-icon-left {
  position: absolute;
  left: 5px;
  top: 8px;
}

#item-title {
  margin-left: 3.625rem;
}

#item-name {
  max-width: 333px;
  margin: auto;
}

#current-value {
  width: 40px;
  margin-left: 0.25rem;
}

#id_offer_limit_value {
  width: 44px;
}

#max-currents {
  width: 40px;
}

#min-purchase-amount {
  width: 44px;
}

/* redeem-currents */

#id_redeem_price {
  width: 77px;
  text-indent: 11px;
  transform: none;
}

#id_biz_name {
  width: 288px;
  margin: auto;
  border-bottom: none;
}

#offer-spacer {
  visibility: hidden;
}

/* marketplace */

.biz-deets-item {
  margin-bottom: 0;
  color: #888;
  font-size: 0.875rem;
}
