/* custom radio buttons */

.custom-radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.custom-radio + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.custom-radio + label:before {
  content: '\f1db';
  font-family: 'FontAwesome';
  margin-right: 10px;
  color: #24b2e7;
  font-size: 1.25rem;
}
.custom-radio:hover + label:before {
  background: #ffffff;
}
.custom-radio:checked + label:before {
  background: #ffffff;
}
.custom-radio:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.custom-radio:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.custom-radio:checked + label:after {
  content: '\f058';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  color: #24b2e7;
  font-size: 1.25rem;
}