/* home */

#home-quote {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  margin-top: 2rem;
}

/* small home */

#home {
  display: block;
  overflow: visible;
  background-color: #24b2e7;
  color: #ffffff;
  min-height: 100vh;
}

#home-logo {
  margin-top: 4rem;
  width: 234px;
}

#home-tagline {
  line-height: 1.2;
  margin-top: 4.5rem;
}

#home-symbol {
  margin-right: 0.375rem;
  height: 2rem;
}

.home-link {
  font-size: 1.125rem;
}

#home .home-link:hover {
  color: #ffffff;
  font-weight: 500;
}

#home .home-link:active {
  color: #ffffff;
  font-weight: normal;
}

#home .home-link:focus {
  color: #ffffff;
  font-weight: normal;
}

.button.clear:hover {
  background-color: #42bdea;
  border-color: #42bdea;
}

.button.clear:focus {
  background-color: #42bdea;
  border-color: #42bdea;
}

#back-button {
  position: fixed;
  left: 55px;
  top: 55px;
  cursor: pointer;
}

.icon-box {
  margin: 1rem 0.5rem 0;
}

.intro-icon {
  width: 77px;
  height: 77px;
  padding: 21px 0;
  border-radius: 99px;
  border: 1px solid #1f4975;
  color: #1f4975;
  background-color: #ffffff;
  cursor: default;
  display: inline-block;
  margin: 0 0.25rem 1rem;
}

#arrow-1 {
  height: 22px;
  position: absolute;
  top: 40px;
  left: 273px;
}

#arrow-2 {
  height: 15px;
  position: absolute;
  top: 144px;
  right: 99px;
}

#arrow-3 {
  height: 19px;
  position: absolute;
  bottom: 133px;
  right: 155px;
}

#arrow-4 {
  height: 19px;
  position: absolute;
  bottom: 133px;
  left: 155px;
}

#arrow-5 {
  height: 15px;
  position: absolute;
  top: 144px;
  left: 88px;
}

#arrow-down {
  height: 10px;
  margin: 0.5rem auto 1rem;
}

#arrow-up {
  position: absolute;
  top: 211px;
  left: 16px;
}

#how-it-works-small {
  max-width: 400px;
  width: 100%;
}

#everyone-box {
  background: none;
}

#everyone-box .accordion-title {
  border: none;
  background: none;
  padding: 0.5rem;
}

#everyone-box .accordion-content {
  background: none;
  color: #ffffff;
  text-align: center;
  border: none;
  padding-top: 0px;
}

.benefit-icon {
  width: 77px;
  height: 77px;
  padding: 21px 0;
  border-radius: 99px;
  border: 1px solid #1f4975;
  color: #1f4975;
  background-color: #ffffff;
}

#benefits-small {
  background: none;
}

#benefits-small .accordion-title {
  border: none;
  background: none;
  padding: 0.5rem;
}

#benefits-small .accordion-content {
  background: none;
  color: #ffffff;
  text-align: center;
  border: none;
  padding-top: 0px;
}

#mission-box {
  max-width: 433px;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* non-small home */
@media screen and (min-width: 42em) {
  #home {
    background: url(/static/img/wheelbarrow-blur.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #signup-box .button:hover {
    background-color: #1f4975;
    border-color: #1f4975;
  }

  #signup-box .button:focus {
    background-color: #1f4975;
    border-color: #1f4975;
  }

  .icon-box {
    width: 155px;
    display: inline-block;
  }

  .diagram-div {
    width: 555px;
    margin: auto;
    position: relative;
  }

  #benefits-div {
    width: 640px;
    margin: auto;
  }

  #benefit-box {
    height: 99px;
    width: 488px;
    margin: auto;
  }

  #mission-box {
    width: 433px;
  }
}

#intro-1, #intro-2, #intro-3, #intro-4 {
  min-height: 100vh;
  position: relative;
}

#intro-2, #intro-4, #intro-6 {
  background-color: #ffffff;
  color: #1f4975;
}
