/* video button */

.thumb-wrapper {
  position: relative;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  width: 200px;
  height: 88px;
  margin: auto;
}

.thumb-box {
  position: relative;
  height: 77px;
  width: 77px;
}

.play-intro_open:hover #video-title {
  color: #ffffff;
  font-weight: 500;
}

.play-intro_open:hover #play-circle {
  stroke: #24b2e7;
}

.play-intro_open:hover #play-poly {
  stroke: #24b2e7;
  fill: #ffffff;
}

.play-intro_open {
  text-decoration: none;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

#video-title {
  position: absolute;
  font-size: 1.125rem;
  top: 22px;
  left: 100px;
  color: #ffffff;
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out; }

#video-thumb {
  border-radius: 100px;
  position: absolute;
  left: 0;
  z-index: 1;
}

#play-button {
  z-index: 2;
  position: absolute;
  left: 0;
}

#play-poly {
  stroke: #ffffff;
  fill: #24b2e7;
  -webkit-transition: stroke 300ms ease-out;
  -moz-transition: stroke 300ms ease-out;
  transition: stroke 300ms ease-out;
  -webkit-transition: fill 300ms ease-out;
  -moz-transition: fill 300ms ease-out;
  transition: fill 300ms ease-out;}

#play-circle {
  stroke: #ffffff;
  -webkit-transition: stroke 300ms ease-out;
  -moz-transition: stroke 300ms ease-out;
  transition: stroke 300ms ease-out; }

/*#play-button:hover polygon {
  fill: #ffffff;
  stroke: #24b2e7; }

#play-button circle {
  stroke: #ffffff; }

#play-button:hover circle {
  stroke: #24b2e7; }*/

#play-intro {
  margin: 5rem 0 0; }

#play-intro,
#play-intro_wrapper,
#play-intro_background {
  transition: all 0.3s; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
