amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
diff-match-patch==20121119
dj-database-url==0.4.2
Django==1.10.3
django-import-export==0.5.1
django-extensions==1.9.9
django-templates-macros==0.2
djangorestframework==3.5.3
docopt==0.4.0
gunicorn==19.6.0
ipython==3.1.0
kombu==4.0.2
mandrill==1.0.57
numpy==1.11.2
pandas==0.19.1
Pillow==3.1.1
psycopg2==2.7.3.1
pymysql==0.8.0
python-dateutil==2.6.0
pytz==2016.7
PyYAML==3.12
redis==2.10.5
requests==2.12.4
rest-pandas==0.5.0
scipy==0.18.1
six==1.10.0
tablib==0.11.2
vine==1.1.3
virtualenv==15.1.0
whitenoise==3.3.1
