<div id="beta-popup" class="modal center small-12 medium-10 large-8 small-centered columns">
  <div class="row center">
    <h3 class="popup-title">Welcome to the openCurrents beta</h3>
  </div>

  <div class="row center">
    <div class="half-margin-bottom small-12 medium-10 small-centered columns">
      <p class="navy">Thanks for being here! During this beta phase, we are focused on improving the website based on your feedback and growing the community with your support. It will not be possible to fulfill our mission without you.</p>

      <p class="navy">If you have any questions or suggestions, or wish to recommend a business or nonprofit to use openCurrents, send us a message by clicking the chat button at the bottom right of every page.</p>

      <div class="three-halves-margin-top">
        <a class="beta-popup_close button round">
          Got it
        </a>
        <a href="javascript:void(Tawk_API.toggle())" class="button round secondary">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#beta-popup').popup({
    vertical: 'top',
    transition: 'all 0.75s',
    scrolllock: true,
  });
</script>