{% extends "layouts/popup.html" %}

{% load tags %}

{% block title %}
  Confirm cash out
{% endblock title %}

{% block content %}
  <form method="post">
  {% csrf_token %}
    <p class="three-halves-margin-bottom">
      openCurrents uses Dwolla to send cash directly to your bank
      account. You will receive an email in the next 48 hours inviting
      you to transfer your full balance of
      ${{ balance_available_usd|round_number:2 }}.
    </p>

    <p>
      Alternatively, "give twice" by donating cash back to the nonprofit of your
      choice.
    </p>

    <div class="row three-halves-margin-top">
      <button onClick="ga('send', 'event', 'Redemption', 'ConfirmCashOut');"
      type="submit" class="button round secondary">
        Send to bank account
      </button>
      <a class="cash-out-popup_close donate-cash-popup_open button round">
        Donate to nonprofit
      </a>
    </div>
  </form>
{% endblock content %}
