{% extends "layouts/popup.html" %}

{% block title %}
  How openCurrents works
{% endblock title %}

{% block content %}
  <ol class="one-margin-bottom left">
    <li class="half-margin-bottom">
      Earn Currents by volunteering with any nonprofit!
      <strong>1 volunteer hour = 1 Current.</strong>
      You can earn Currents by either visiting "Record hours" from the menu or
      tagging <strong>@opencurrents</strong> on Instagram.
    </li>
    <li class="half-margin-bottom">
      Use your Currents to get credit with your favorite stores from the
      openCurrents marketplace. You can either buy gift cards or receive
      cash back after you make a purchase with them.
    </li>
    <li class="half-margin-bottom">
      Give more time, earn more Currents, get more rewards! There's no limit
      to the good you can give and receive.
    </li>
  </ol>

  <a class="how-to-popup_close button round">
    Got it
  </a>
{% endblock content %}
