{% extends "layouts/popup.html" %}
{% load staticfiles %}

{% block title %}
  Use Currents with any business in Austin
{% endblock title %}


{% block content %}
  <p id="no-biz-alert" class="alert hidden">
    Please include the name of business you are using Currents with.
  </p>

  <p>
    Your first 2 Currents redeemed during our beta phase are on us! That means
    we are giving you up to $40 value for exchanging Currents with any business.
    You must upload a receipt of the transaction as proof-of-purchase and the
    businesses must be located in the Greater Austin area.
  </p>

  {{ form.biz_name }}
  <!--input type="text" name="biz_name" placeholder="What business are you using Currents with?" class="center"/-->

  <div class="three-halves-margin-top">
    <a id="master-offer-next" class="show-no-biz-alert button round small">
      Next
    </a>
    <a href="{% url 'openCurrents:marketplace' %}" class="button round small secondary">
      Cancel
    </a>
  </div>
{% endblock content %}


{% block js %}
  <script type="text/javascript">

  </script>
{% endblock js %}
