{% extends "layouts/popup.html" %}
{% load staticfiles %}

{% block title %}
  Use Currents with any Austin business
{% endblock title %}


{% block content %}
  <p id="no-biz-alert" class="alert hidden">
    Please include the name of business you are using Currents with.
  </p>

  <p>
    Your first 2 Currents redeemed during our beta phase are on us! That means
    we are giving you up to $40 value for exchanging Currents with any business.
    You must upload a receipt of the transaction as proof-of-purchase and the
    businesses must be located in the Greater Austin area.
  </p>

  <p>
    Keep up the good work and please let us know if you would like to help us
    grow the community of businesses valuing time you give for the greater good!
  </p>

  <input type="text" id="id_biz_name" name="biz_name" placeholder="Business name" class="center"/>

  <div class="three-halves-margin-top">
    <a id="master-offer-next" class="show-no-biz-alert button round small">
      Next
    </a>
    <a href="{% url 'openCurrents:marketplace' %}" class="button round small secondary">
      Cancel
    </a>
  </div>
{% endblock content %}


{% block js %}
  <script type="text/javascript">
    $('#master-offer-next').on('click', function(){
      if ($('#id_biz_name').val() == '') {
        $('#no-biz-alert').show();
      }
      else {
        $('#master-offer-popup').popup('hide');
        $('#offer-details').hide();
        $('#master-offer-details').show();
        $('#id_master_biz_name').val($('#id_biz_name').val());
      }
    });
  </script>
{% endblock js %}
