{% extends "layouts/popup.html" %}
{% load staticfiles %}

{% block title %}
  No Available Dollars
{% endblock title %}

{% block content %}
  {% if balance_pending_usd > 0 %}
    <p>
      You will need Available Dollars to cash out or donate. Pending dollars become
      available when your proof of purchase is verified.
    </p>
  {% else %}
    <p>
      You need to redeem an offer with a business in the community in order to
      get dollars to your account. To see offers from participating
      businesses,
      <a class="no-wrap" href="{% url 'openCurrents:marketplace' %}">
        visit the Marketplace</a>.
    </p>
  {% endif %}

  {% if not has_volunteered %}
    <p>
      Also, you'll need to volunteer before you can cash out.
      <img class="med-text-symbol" src="{% static 'img/symbol-navy.svg' %}">
      1 = $20.
      <a class="no-wrap" href="{% url 'openCurrents:upcoming-events' %}">
        Find a volunteer opportunity
      </a>
    </p>
  {% endif %}

  <a onClick="ga('send', 'event', 'Redemption', 'CannotCashOut');"
  class="no-cash-popup_close button round">
    Got it
  </a>
{% endblock content %}
