{% extends "layouts/popup.html" %}

{% block title %}
  No proof of purchase
{% endblock title %}

{% block content %}
  <p>{{ offer.org.name }} may not accept Currents without a receipt, but
    provide any details below that may help the business verify that you
    made a purchase:</p>

  <textarea id="no-proof-typed" rows="3"
  placeholder="Details to help {{ offer.org.name }} identify your purchase"></textarea>

  <p><a class="no-receipt-popup_close half-margin-top button round">
    Continue
  </a></p>
{% endblock content %}
