{% extends "layouts/popup.html" %}

{% block title %}
  Redeeming an offer
{% endblock title %}

{% block content %}
  <p>To get cash back on your purchase, enter the full purchase price shown on
  your receipt. If a maximum dollar amount applies to an order, the limit will
  automatically be applied.</p>

  <p class="three-halves-margin-bottom">
    Thank you for being an active member of this community!
  </p>

  <a class="redeem-info-popup_close button round">Got it</a>
{% endblock content %}
