{% extends "layouts/popup.html" %}
{% load staticfiles  %}

{% block title %}
  A new way to earn Currents
{% endblock title %}

{% block content %}
  <div class="row one-margin-top one-margin-bottom">
    <div class="medium-8 small-centered columns">
      <img src="{% static 'img/selfie.png' %}">
    </div>
  </div>

  <form method='post' action="{% url 'openCurrents:edit-profile' %}">
  {% csrf_token %}
    <p>
      Now you can take a picture while you volunteer to earn Currents! Just tag
      <strong>@opencurrents</strong> on Instagram or Facebook to get credit.
      Of course you can always record hours the usual way too!
    </p>

    <p class="three-halves-margin-top">
      <button type="submit" name='no' class="button round">Got it</button>
      <button type="submit" name='no' class="button round secondary">Record hours</button>
    </p>
  </form>
{% endblock content %}
