{% extends "base.html" %}

{% load staticfiles %}

{% block heading %}
  <div class="row">
    <div class="small-12 columns">
      <h3 class="title">
        {% block title %} Page not found {% endblock title %}
      </h3>
    </div>
  </div> 
{% endblock heading %}

{% block content %}
  <div class="row one-margin-bottom center">
    <div class="small-12 medium-8 small-centered columns">
      <p class="three-halves-margin-bottom">You tried to access a resource that does not exist. If we directed you to this page by mistake, please let us know.</p>
      <a href="javascript:void(Tawk_API.toggle())" class="button round">Share feedback</a>

      <a href="{% url 'openCurrents:profile' %}" class="button round secondary">Back to profile</a>
    </div>
  </div>
{% endblock content %}