{% extends "layouts/base.html" %}

{% load staticfiles %}

{% block heading %}
  <div class="row">
    <div class="small-12 columns">
      <h3 class="title">
        {% block title %} Oops! What just happened? {% endblock title %}
      </h3>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <div class="row one-margin-bottom center">
    <div class="small-12 medium-8 small-centered columns">
      <p class="three-halves-margin-bottom">Don't worry, everything is going to
        be fine. And no, it's not your fault - it's ours. But really, we want to
        know - how did you arrive here? Please share feedback to describe what
        happened. Thank you!</p>
      <p class="half-margin-bottom">
        <a href="javascript:void(Tawk_API.toggle())" class="button round">
          Share feedback
        </a>
      </p>

      {% if request.user.is_authenticated %}
          <a href="{% url 'openCurrents:profile' %}"
          class="button round tiny secondary">
            Back to profile
          </a>
      {% else %}
          <a href="{% url 'openCurrents:home' %}"
          class="button round tiny secondary">
            Back to homepage
          </a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
