{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>
  
  <body>
    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}
        
        <div class="row">
            <h4 class="title-sub">Add volunteers</h4>
            <h6 class="no-margin-bottom">who helped [clean up Lady Bird Lake]</h6>
            <h6 class="">on [June 10, 2017]</h6>
        </div>
        
        <div class="row one-margin-top center">
          <div id="new-volunteers" class="small-12 medium-8 small-centered columns">

            <div class="row">
              <div class="input-left small-5 columns">
                <input type="text" id="add-volunteer-name" name="add-volunteer-name" placeholder="First name"/>
              </div>

              <div class="input-middle small-5 medium-6 columns">
                <input type="text" id="add-volunteer-email" name="add-volunteer-email" placeholder="Email"/>
              </div>

              <div class="input-right half-margin-top left small-2 medium-1 columns">
                <a id="add-volunteer" class="blue-icon one-margin-right"><i class="fa fa-lg fa-check-circle"></i></a>
              </div>
            </div>

            <p id="vol-error" class="small-text hidden alert">Name and email required</p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <p class="one-margin-top">or add multiple emails separated by spaces, new lines, or commas</p>
            <textarea name="bulk-emails" placeholder="email@yahoo.com, address@wahoo.com" rows="3"></textarea>
          </div>
        </div>

        <div class="row one-margin-top">
          <button class="button round">Record hours</button>
        </div>     
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){

        var num = 1;
        var volName;
        var volEmail;

        $("#add-volunteer").click(function(){

          if ($('#add-volunteer-name').val() == '' || $('#add-volunteer-email').val() == '') {
            $('#vol-error').slideDown();
          } else {
            volName = $('#add-volunteer-name').val();
            volEmail = $('#add-volunteer-email').val();

            $('#vol-error').slideUp();

            $('#new-volunteers').append('<div id="new-vol-'+num+'" class="row hidden"><div class="input-left small-5 columns"><input name="new-vol-name-'+num+'" type="text" class="hidden-input" value="'+volName+'"></div><div class="input-middle small-5 medium-6 columns"><input name="new-vol-email-'+num+'" type="text" class="hidden-input" value="'+volEmail+'"></div><div class="input-right half-margin-top left small-2 medium-1 columns"><input type="checkbox" checked id="new-vol-arrived-'+num+'" name="new-vol-arrived-'+num+'" class="hidden"/><label class="large-text vol-arrived" for="new-vol-arrived-'+num+'"><i class="styled-checkbox fa fa-lg fa-check-circle"></i></label></div></div>');

            $('#new-vol-'+num+'').slideDown();

            $('#add-volunteer-name').val('');
            $('#add-volunteer-email').val('');

            num ++;
          }
        });

        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>