{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row center">

          <!--<div class="medium-5 medium-offset-1 columns">
            <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
            <h4 class="title-sub">Linda McCoy</h4>
            <h6 class="three-halves-margin-bottom">Keep Austin Beautiful</h6>

            <div class="medium-5 medium-offset-1 columns">
              <h6 class="inline">My Currents: </h6>
              <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
              <h6 class="inline"> {{ user_balance }}</h6>
              <div class="qtr-margin-top">
                <a href="{% url 'openCurrents:upcoming-projects' %}">
                  <button class="button small round">Earn Currents</button>
                </a>
              </div>
            </div>

            <div class="medium-5 columns end">
              <h6 class="inline">Hours tracked:</h6>
              <!-- <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>-->
              <h6 class="inline"> {{ issued_total }}</h6>
              <div class="qtr-margin-top">
                <a href="{% url 'openCurrents:create-project' orgid %}">
                  <button class="button small round">Create project</button>
                </a>
              </div>
            </div>

          <!--</div>

          <div class="center half-margin-top medium-5 columns end">

          </div>-->
        </div>

        <div id="live-project-list" class="row one-margin-top">
          <div class="medium-8 small-centered columns">
            <h6 class="half-margin-bottom">Projects happening now (if any)</h6>

            <div class="row one-margin-top one-margin-bottom">
              <div class="left small-8 columns">
                <strong>Let's install a rain garden!</strong> on May 27 at 9:00am to 12:00pm at 1203 Springdale Rd
              </div>

              <div class="right small-4 columns">
                <button class="button round small secondary">Start</button>
              </div>
            </div>
          </div>
        </div>

        <div id="project-list" class="row one-margin-top">
          <div class="medium-8 small-centered columns">
            <h6 class="half-margin-bottom">Our upcoming projects</h6>
            <button class="button round small secondary">Preview live dashboard</button> (if no live projects)

            <div class="row one-margin-bottom">
              <div class="left small-9 columns">
                <strong>Let's restore Bunn Creek Nature Preserve!</strong> on June 3 at 8:30am to 12:00pm at 1200 St. Edwards Drive
              </div>

              <div class="right small-3 columns">
                <button class="button round small secondary">Edit</button>
              </div>
            </div>

            <div class="row one-margin-bottom">
              <div class="left small-9 columns">
                <strong>Let's clean up Lady Bird Lake!</strong> on June 10 at 10:00am at multiple locations
              </div>

              <div class="right small-3 columns">
                <button class="button round small secondary">Edit</button>
              </div>
            </div>

          </div>
        </div>

        <div class="row one-margin-bottom">
          <div class="left medium-8 small-centered columns">
            <h6 class="center half-margin-bottom">Community activity</h6>
            <div id="community-feed">
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
            </div>

            <!-- <h5 class="fit-left">I care about</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" value="showing people their power"/></span>

            <div class="tag-block">
              <button class="button round tiny">Nature</button>
            </div>

            <h5 class="fit-left">I offer</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span>

            <h5 class="fit-left">I am looking for</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span> -->

            <!--<h5 class="one-margin-top one-margin-bottom">My badges</h5>

            <h5 class="one-margin-top one-margin-bottom">My hours given</h5>
            -->
          </div>
        </div>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>

      <div class="row">
        <div class="small-centered medium-10 columns">

          <p></p>

          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
