{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row center">

          <!--<div class="medium-5 medium-offset-1 columns">
            <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
          <h3 class="title-sub">{{ user.first_name }} {{ user.last_name }}</h3>
          <h5 class="three-halves-margin-bottom">{{ org_name }}</h5>
        </div>

            <!-- <div class="medium-5 medium-offset-1 columns">
              <h6 class="inline">My Currents: </h6>
              <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
              <h6 class="inline"> {{ user_balance }}</h6>
              <div class="qtr-margin-top">
                <a href="{% url 'openCurrents:upcoming-projects' %}">
                  <button class="button small round">Earn Currents</button>
                </a>
              </div>
            </div> -->
          <div class="row">
            <div class="small-centered medium-5 columns">
              <h6 class="inline">Org hours tracked:</h6>
              <!-- <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>-->
              <h6 class="inline"> {{ issued_total }}</h6>
              <!-- <div class="qtr-margin-top">
                <a href="{% url 'openCurrents:create-project' orgid %}">
                  <button class="button small round">Create event</button>
                </a>
              </div> -->
            </div>

          <!--</div>

          <div class="center half-margin-top medium-5 columns end">

          </div>-->
        </div>

        <!-- current events section -->
        {% if events_current %}
          <div id="live-event-list" class="row one-margin-top">
            <div class="medium-8 small-centered columns">
              <h6 class="half-margin-bottom">Events happening now</h6>

              {% for event in events_current %}
                <div class="row one-margin-top one-margin-bottom">
                  <div class="left small-8 columns">
                    Let's {{event.project.name}}!
                    on {{event.datetime_start|day:timezone}}
                    at {{event.datetime_start|time:timezone}}
                    to {{event.datetime_end|time:timezone}}
                    at <strong>{{event.location}}</strong>
                  </div>

                  <div class="right small-4 columns">
                    <a href="{% url 'openCurrents:live-dashboard' event.id %}"/>
                      <button class="button round small">Start</button>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% elif events_upcoming %}
          <p><a href="{% url 'openCurrents:live-dashboard' event_id=events_upcoming.0.id %}" class="button round small">Preview live dashboard</a></p>
        {% endif %}

        {% if events_upcoming %}
          <div id="upcoming-event-list" class="row one-margin-top">
            <div class="medium-8 small-centered columns">
              <h6 class="half-margin-bottom">Our upcoming events</h6>

              {% for event in events_upcoming %}
                <div class="row one-margin-bottom">
                  <div class="left small-8 columns">
                    Let's {{event.project.name}}!
                    on {{event.datetime_start|day:timezone}}
                    at {{event.datetime_start|time:timezone}}
                    to {{event.datetime_end|time:timezone}}
                    at <strong>{{event.location}}</strong>
                  </div>

                  <div class="right small-4 columns">
                    <a href="{% url 'openCurrents:invite-volunteers' %}" class="button round small secondary">Invite</a>
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        {% endif %}

        {% if events_past %}
          <div id="past-event-list" class="row one-margin-top">
            <div class="medium-8 small-centered columns">
              <h6 class="half-margin-bottom">Past events</h6>

              {% for event in events_past %}
                <div class="row one-margin-bottom">
                  <div class="left input-left small-8 columns">
                    Let's {{event.project.name}}!
                    on {{event.datetime_start|day:timezone}}
                    at {{event.datetime_start|time:timezone}}
                    to {{event.datetime_end|time:timezone}}
                    at <strong>{{event.location}}</strong>
                  </div>

                  <div class="right input-right small-4 columns">
                    <a href="{% url 'openCurrents:live-dashboard' event.id %}"/>
                      <button class="button round small secondary">Attendees</button>
                    </a>
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        {% endif %}

        <!-- community feed code. Hardcoded not dynamic -->
        <!-- <div class="row one-margin-top">
          <div class="left medium-8 small-centered columns">
            <h6 class="center half-margin-bottom">Community activity</h6>
            <div id="community-feed">
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
            </div>
          </div>
        </div -->

            <!-- <h5 class="fit-left">I care about</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" value="showing people their power"/></span>

            <div class="tag-block">
              <button class="button round tiny">Nature</button>
            </div>

            <h5 class="fit-left">I offer</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span>

            <h5 class="fit-left">I am looking for</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span> -->

            <!--<h5 class="one-margin-top one-margin-bottom">My badges</h5>

            <h5 class="one-margin-top one-margin-bottom">My hours given</h5>
            -->

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="approve-hours-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Volunteers request approval</h3>
      </div>

      <div class="row center">
        <div class="small-centered medium-10 columns">

          <p class="three-halves-margin-bottom">Volunteers have tracked hours and need your signoff before Currents are issued to them. It is recommended that you approve volunteer hours once a week.</p>

          <a href="{% url 'openCurrents:volunteer-requests' %}" class="button round">View requests</button>
          <a><button class="approve-hours-popup_close button round secondary">Close</button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#approve-hours-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
          // if approval pending: autoopen: true,
        });
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
