{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>

  <body>
    {% include "partials/header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="hide-for-small-only row full-width collapse two-margin-top one-margin-bottom">
          <div class="left medium-6 medium-offset-1 large-5 large-offset-2 columns">
            <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="fit-left round" />
            <span class="input-sizer"> -->
              <h5 class="one-margin-top no-margin-bottom">{{ user.first_name }} {{ user.last_name }}</h5>
              <h6>{{org_name}}</h6>
              <a href="{% url 'openCurrents:invite-volunteers' %}" class="button secondary tiny round">Invite volunteers</a>
            <!-- </span> -->
          </div>

          <div class="one-margin-top right medium-4 large-3 columns end">
            <h6 class="no-margin-bottom two-line-height">My hours tracked: 10.0</h6>
            <h6>Org hours tracked: {{ issued_total }}</h6>
            <a href="{% url 'openCurrents:create-event' orgid %}" class="button round tiny">Create event</a>
          </div>
        </div>

        <div class="show-for-small-only row one-margin-top one-margin-bottom">
          <div class="columns">
            <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
            <h5 class="half-margin-top no-margin-bottom">{{ user.first_name }} {{ user.last_name }}</h5>
            <h6>{{org_name}}</h6>

            <div class="half-margin-top">
              <h6 class="no-margin-bottom">My hours tracked: 10.0</h6>
              <h6 class="one-margin-bottom">Org hours tracked: {{ issued_total }}</h6>
              <a href="{% url 'openCurrents:create-event' orgid %}" class="button round tiny">Create event</a>
              <a href="{% url 'openCurrents:invite-volunteers' %}" class="button secondary tiny round">Invite volunteers</a>
            </div>
          </div>
        </div>

        <!-- current events section -->
        {% if events_current %}
          <div id="live-event-list" class="left row full-width collapse">
            <div class="small-11 medium-10 large-8 small-centered columns">
              <h6 class="one-margin-bottom">Events happening now</h6>

              {% for event in events_current %}
                {% if event.event_type != "MN" %}
                  <div class="row one-margin-top one-margin-bottom">
                    <div class="left small-8 collapse columns">
                      Let's {{event.project.name}}!
                      on {{event.datetime_start|day:timezone}}
                      at {{event.datetime_start|time:timezone}}
                      to {{event.datetime_end|time:timezone}}
                      at <strong>{{event.location}}</strong>
                    </div>

                    <div class="right small-4 collapse columns">
                      <a href="{% url 'openCurrents:live-dashboard' event.id %}"/>
                        <button class="button round small">Start</button>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% elif events_upcoming %}
          <!--<p><a href="{% url 'openCurrents:live-dashboard' event_id=events_upcoming.0.id %}" class="button round small">Preview live dashboard</a></p>-->
        {% endif %}

        {% if events_upcoming %}
          <div id="upcoming-event-list" class="left row full-width collapse">
            <div class="small-11 medium-10 large-8 small-centered columns">
              <h6 class="one-margin-bottom">Our upcoming events</h6>

              {% for event in events_upcoming %}
                {% if event.event_type != "MN" %}
                  <div class="row one-margin-bottom">
                    <div class="left small-8 collapse columns">
                      Let's {{event.project.name}}!
                      on {{event.datetime_start|day:timezone}}
                      at {{event.datetime_start|time:timezone}}
                      to {{event.datetime_end|time:timezone}}
                      at <strong>{{event.location}}</strong>
                    </div>

                    <div class="right small-4 collapse columns">

                      <a href="{% url 'openCurrents:live-dashboard' event.id %}" class="button round small">Preview</a>
                      <a href="{% url 'openCurrents:edit-event' event.id%}" class="button round small">Edit</a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
        {% endif %}

        {% if events_past %}
          <div id="past-event-list" class="left row full-width collapse">
            <div class="small-11 medium-10 large-8 small-centered columns">
              <h6 class="one-margin-bottom">Past events</h6>

              {% for event in events_past %}
                {% if event.event_type != "MN" %}
                  <div class="row one-margin-bottom">
                    <div class="left input-left small-8 collapse columns">
                      Let's {{event.project.name}}!
                      on {{event.datetime_start|day:timezone}}
                      at {{event.datetime_start|time:timezone}}
                      to {{event.datetime_end|time:timezone}}
                      at <strong>{{event.location}}</strong>
                    </div>

                    <div class="right input-right small-4 collapse columns">
                      <a href="{% url 'openCurrents:live-dashboard' event.id %}"/>
                        <button class="button round small secondary">Attendees</button>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
        {% endif %}

        <!-- community feed code. Hardcoded not dynamic -->
        <!-- <div class="row one-margin-top">
          <div class="left medium-8 small-centered columns">
            <h6 class="center half-margin-bottom">Community activity</h6>
            <div id="community-feed">
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
            </div>
          </div>
        </div -->

            <!-- <h5 class="fit-left">I care about</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" value="showing people their power"/></span>

            <div class="tag-block">
              <button class="button round tiny">Nature</button>
            </div>

            <h5 class="fit-left">I offer</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span>

            <h5 class="fit-left">I am looking for</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span> -->

            <!--<h5 class="one-margin-top one-margin-bottom">My badges</h5>

            <h5 class="one-margin-top one-margin-bottom">My hours given</h5>
            -->

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>

    <div id="approve-hours-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Volunteers request approval</h3>
      </div>

      <div class="row center">
        <div class="small-centered medium-10 columns">

          <p class="three-halves-margin-bottom">Volunteers have tracked hours and need your signoff before Currents are issued to them. It is recommended that you approve volunteer hours once a week.</p>

          <a href="{% url 'openCurrents:approve-hours' %}" class="button round">View requests</button>
          <a><button class="approve-hours-popup_close button round secondary">Close</button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#approve-hours-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
          //autoopen: true,
        });
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
