{% load staticfiles %}
{% load tags %}

{% block main %}
  {% block admin_hour_request_list %}

    <div id="reviewed-hours-list" class="left row one-margin-top full-width collapse">
      <div class="small-11 medium-10 small-centered columns">
        <div class="row">
          <div class="small-9 columns">
            <h6 class="half-margin-bottom">Hours {{ hours_status }}</h6>
          </div>
        </div>

        {% if hours_list %}
          {% for record in hours_list %}
            <div class="row half-margin-bottom">
              <div class="left input-left small-9 columns">
                {% with tl=record.usertimelog %}
                  {{ record.date_created|day_only:timezone }} -

                  {% if hours_status == 'requested' %}
                    <strong> {{ tl.user.first_name }} {{ tl.user.last_name }} </strong>
                    requested
                  {% else %}
                    <strong> {{ tl.user.first_name }} {{ tl.user.last_name }}</strong>'s
                  {% endif %}

                  {{ tl.datetime_start|get_hours_total:tl.datetime_end|floatformat:2 }}
                  hours for {{ tl.event.description }}

                  {% if hours_status == 'approved' %}
                    have been approved
                  {% endif %}
                {% endwith %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="row half-margin-bottom">
            <div class="left input-left small-9 columns">
              No hours are pending approval.
              <a href="{% url 'openCurrents:invite-volunteers' %}">
                Invite volunteers!
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

  {% endblock %}
{% endblock %}
