{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  
  <body>
    {% include "header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
          <h2 class="title-sub">Approve hours</h2>
          <h5 class="subtitle">for the week of <span id="week_display"></span></h5>
        </div>
        <form action ="" method="post">
          {% csrf_token %}
          <div class="row left one-margin-top one-margin-bottom">
            <div class="small-12 medium-8 small-centered columns">
              <ul id="volunteer-list" class="accordion" data-accordion data-allow-all-closed="true">
                {% for key, value in users.iteritems %}
                    <li class="accordion-item" data-accordion-item>  
                      <a href="#" class="accordion-title">{{key}}
                        <span class="float-right">
                          {% for k, v in value.items %} {% if k == "Total" %} {{v}} {% endif %}{% endfor %} hrs
                        </span>
                      </a>
                      <div class="accordion-content" data-tab-content>

                        {% for k, v in value.iteritems %} 
                          {% if k != "Total" and v != 0 %}   
                            <p>{{k}}<span>{{v}} hrs</span></p>
                            <!--<p>Wednesday<span>2 hrs</span></p>
                            <p>Thursday<span>3 hrs</span></p>-->
                          {% endif %}
                        {% endfor %}
                        <p class="edit-volunteer center">
                          <input type="radio" id="defer-vol-1" name="vol-status-1" class="vol-radio hidden" />
                            <label for="defer-vol-1">
                              <a class="defer-volunteer button round tiny caution" tabindex="0">Defer volunteer</a>
                            </label>
                          <input type="radio" id="decline-vol-1" name="vol-status-1" class="vol-radio hidden"/>
                            <label for="decline-vol-1">
                              <a onclick="dec_vol(this)" class="decline-volunteer button round tiny alert">Decline volunteer
                                <span style="display:none">{{key}}</span>
                              </a>
                            </label>
                        </p>

                        <p class="volunteer-declined hidden alert">Volunteer declined. <a onclick="acc_vol(this)" class="undo-decline">Undo
                        <span style="display:none">{{key}}</span>
                        </a></p>

                        <p class="volunteer-deferred hidden caution">Volunteer deferred. <a class="undo-defer">Undo</a></p>
                      </div>
                    </li>
                {% endfor %}  


                <!--<li class="accordion-item is-active" data-accordion-item>  
                  <a href="#" class="accordion-title">Max Tattenbach<span class="float-right">9 hrs</span></a>
                  <div class="accordion-content" data-tab-content>
                    <p>Monday<span>3 hrs</span></p>
                    <p>Wednesday<span>2 hrs</span></p>
                    <p>Thursday<span>4 hrs</span></p>
                    <p class="edit-volunteer center">
                      <input type="radio" id="defer-vol-2" name="vol-status-2" class="vol-radio hidden"/>
                      <label for="defer-vol-2">
                        <a class="defer-volunteer button round tiny caution" tabindex="0">Defer volunteer</a>
                      </label>

                      <input type="radio" id="decline-vol-2" name="vol-status-2" class="vol-radio hidden"/>
                        <label for="decline-vol-2">
                          <a class="decline-volunteer button round tiny alert">Decline volunteer</a>
                        </label>
                    </p>

                    <p class="volunteer-declined hidden alert">Volunteer declined. <a class="undo-decline">Undo</a></p>

                    <p class="volunteer-deferred hidden caution">Volunteer deferred. <a class="undo-defer">Undo</a></p>
                  </div>
                </li>

                <li class="accordion-item" data-accordion-item>  
                  <a href="#" class="accordion-title">Nicko Shestopalov<span class="float-right">10 hrs</span></a>
                  <div class="accordion-content" data-tab-content>
                    <p>Monday<span>3 hrs</span></p>
                    <p>Wednesday<span>3 hrs</span></p>
                    <p>Thursday<span>4 hrs</span></p>
                    <p class="edit-volunteer center">
                      <input type="radio" id="defer-vol-3" name="vol-status-3" class="vol-radio hidden"/>
                      <label for="defer-vol-3">
                        <a class="defer-volunteer button round tiny caution" tabindex="0">Defer volunteer</a>
                      </label>

                      <input type="radio" id="decline-vol-3" name="vol-status-3" class="vol-radio hidden"/>
                      <label for="decline-vol-3">
                        <a class="decline-volunteer button round tiny alert">Decline volunteer</a>
                      </label>
                    </p>

                    <p class="volunteer-declined hidden alert">Volunteer declined. <a class="undo-decline">Undo</a></p>

                    <p class="volunteer-deferred hidden caution">Volunteer deferred. <a class="undo-defer">Undo</a></p>
                  </div>
                </li>-->
              </ul>
            </div>
          </div>
          <input type="hidden" id="result_sel" name="post-data" value="" />
          <div class="row center">
            <!--<a href="{% url 'openCurrents:hours-approved' %}" onclick="test()" class="button round">Approve hours</a>-->
            <button type='submit' class="one-margin-top button round">Approve hours</button>
          </div>
        </form>
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include "footer.html" %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      var elem = new Foundation.Accordion($("#volunteer-list"));
    </script>

    <script type="text/javascript">

      function dec_vol(k){//Declining volunteer on clicking decline button

        var decline = k.text.replace("Decline volunteer","").replaceAll(" ","").replaceAll("\n","");
        document.getElementById('result_sel').value = document.getElementById('result_sel').value.replace(decline,"");

      }

      function acc_vol(vol){//Accept Volunteer on clicking Undo

        var accept = vol.text.replace("Undo","").replaceAll(" ","").replaceAll("\n","");
        document.getElementById('result_sel').value += accept+",";

      }

      function getMonday(d) {//display of the weeks monday in the UI
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
        return new Date(d.setDate(diff));
      }

      String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
      };
    </script>

    <script type="text/javascript">
      $(document).ready(function(){

        var rep = $('.decline-volunteer').text().replaceAll("Decline volunteer\n","").replaceAll(" ","");

        document.getElementById('result_sel').value = rep.split("\n");

        var today = new Date();
        var app_week = String(getMonday(today)).split(" ");
        var week_display = app_week[1]+" "+app_week[2]+", "+app_week[3];
        document.getElementById("week_display").innerHTML = week_display;

        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        $('.decline-volunteer').click(function(){
          $(this).parents('.edit-volunteer').fadeOut(333, function(){
            $(this).siblings('.volunteer-declined').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#890045');
          });
        });

        $('.undo-decline').on('click', function(){
          $(this).parent().siblings('.edit-volunteer').find('input[type="radio"]').attr('checked',false);
          $(this).parent().fadeOut(333, function(){
            $(this).siblings('.edit-volunteer').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#1f4975');
          });
        });

        $('.defer-volunteer').click(function(){
          $(this).parents('.edit-volunteer').fadeOut(333, function(){
            $(this).siblings('.volunteer-deferred').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#e7b708');
          });
        });

        $('.undo-defer').on('click', function(){
          $(this).parent().siblings('.edit-volunteer').find('input[type="radio"]').attr('checked',false);
          $(this).parent().fadeOut(333, function(){
            $(this).siblings('.edit-volunteer').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#1f4975');
          });
        });         
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>