{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  
  <body>
    {% include "header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">

        {% for date in week %}
          {% for key,val in date.iteritems %}
            {% if key == "vols_approved" %}
               <input type="hidden" id="vols_approved_val" name="" value="{{val}}">
            {% elif key == "vols_declined" %}
               <input type="hidden" id="vols_declined_val" name="" value="{{val}}">
            {% endif %}
          {% endfor %}
        {% endfor %}

        <div class ="row">
          <div class="success row one-margin-top"> <span name="vols_status_msg" id="vols_status_msg"></span></h5> </div>
        </div>

        <div class="row">
          <h2 class="title-sub">Approve hours</h2>
          {% for date in week %}
            {% if not forloop.last %}
            <h5 class="subtitle">for the week of <span id="week_display"></span></h5>
          </div>
          
            <form action ="" method="post">
               {% csrf_token %}
               <div class="row left one-margin-top one-margin-bottom">
                 <div class="small-12 medium-8 small-centered columns">
                   <ul id="volunteer-list" class="accordion" data-accordion data-allow-all-closed="true">
                     {% for key_m, value_m in date.iteritems %}

                       <input type="hidden" id="week_display_draft" name="" value="{{key_m}}">
                       <input type="hidden" id="week_month" name="" value="{{key_m.date.month}}-{{key_m.date.day}}-{{key_m.date.year}}"> 
                          
                       {% for key,value in value_m.iteritems %}
                           <li class="accordion-item" data-accordion-item>  
                             <a href="#" class="accordion-title">{% for k, v in value.items %} {% if k == "name" %} {{v}} {% endif %}{% endfor %}
                               <span class="float-right">
                                 {% for k, v in value.items %} {% if k == "Total" %} {{v}} {% endif %}{% endfor %} hrs
                               </span>
                             </a>
                             <div class="accordion-content" data-tab-content>

                               {% for k, v in value.iteritems %} 
                                 {% if k != "Total" and v != 0 and k != "name" %}   
                                   <p>{{k}}<span>{{v}}  hrs</span></p>
                                   <!--<p>Wednesday<span>2 hrs</span></p>
                                   <p>Thursday<span>3 hrs</span></p>-->
                                 {% endif %}
                               {% endfor %}

                               <p class="edit-volunteer center">
                                 <input type="radio" id="defer-vol-1" name="vol-status-1" class="vol-radio hidden" />
                                   <label for="defer-vol-1">
                                     <a class="defer-volunteer button round tiny caution" tabindex="0">Defer volunteer</a>
                                   </label>
                                 <input type="radio" id="decline-vol-1" name="vol-status-1" class="vol-radio hidden"/>
                                   <label for="decline-vol-1">
                                     <a onclick="dec_vol(this)" class="decline-volunteer button round tiny alert">Decline volunteer
                                       <span style="display:none">{{key}}</span>
                                     </a>
                                   </label>
                               </p>

                               <p class="volunteer-declined hidden alert">Volunteer declined. <a onclick="acc_vol(this)" class="undo-decline">Undo
                               <span style="display:none">{{key}}</span>
                               </a></p>

                               <p class="volunteer-deferred hidden caution">Volunteer deferred. <a class="undo-defer">Undo</a></p>
                             </div>
                           </li>
                         {% endfor %}
                     {% endfor %}  


                     <!--<li class="accordion-item is-active" data-accordion-item>  
                       <a href="#" class="accordion-title">Max Tattenbach<span class="float-right">9 hrs</span></a>
                       <div class="accordion-content" data-tab-content>
                         <p>Monday<span>3 hrs</span></p>
                         <p>Wednesday<span>2 hrs</span></p>
                         <p>Thursday<span>4 hrs</span></p>
                         <p class="edit-volunteer center">
                           <input type="radio" id="defer-vol-2" name="vol-status-2" class="vol-radio hidden"/>
                           <label for="defer-vol-2">
                             <a class="defer-volunteer button round tiny caution" tabindex="0">Defer volunteer</a>
                           </label>

                           <input type="radio" id="decline-vol-2" name="vol-status-2" class="vol-radio hidden"/>
                             <label for="decline-vol-2">
                               <a class="decline-volunteer button round tiny alert">Decline volunteer</a>
                             </label>
                         </p>

                         <p class="volunteer-declined hidden alert">Volunteer declined. <a class="undo-decline">Undo</a></p>

                         <p class="volunteer-deferred hidden caution">Volunteer deferred. <a class="undo-defer">Undo</a></p>
                       </div>
                     </li>

                     <li class="accordion-item" data-accordion-item>  
                       <a href="#" class="accordion-title">Nicko Shestopalov<span class="float-right">10 hrs</span></a>
                       <div class="accordion-content" data-tab-content>
                         <p>Monday<span>3 hrs</span></p>
                         <p>Wednesday<span>3 hrs</span></p>
                         <p>Thursday<span>4 hrs</span></p>
                         <p class="edit-volunteer center">
                           <input type="radio" id="defer-vol-3" name="vol-status-3" class="vol-radio hidden"/>
                           <label for="defer-vol-3">
                             <a class="defer-volunteer button round tiny caution" tabindex="0">Defer volunteer</a>
                           </label>

                           <input type="radio" id="decline-vol-3" name="vol-status-3" class="vol-radio hidden"/>
                           <label for="decline-vol-3">
                             <a class="decline-volunteer button round tiny alert">Decline volunteer</a>
                           </label>
                         </p>

                         <p class="volunteer-declined hidden alert">Volunteer declined. <a class="undo-decline">Undo</a></p>

                         <p class="volunteer-deferred hidden caution">Volunteer deferred. <a class="undo-defer">Undo</a></p>
                       </div>
                     </li>-->
                   </ul>
                 </div>
               </div>
               <input type="hidden" id="result_sel" name="post-data" value="" /><!---->
               <div class="row center">
                 <!--<a href="{% url 'openCurrents:hours-approved' %}" onclick="test()" class="button round">Approve hours</a>-->
                 <button type='submit' class="one-margin-top button round">Confirm hours</button>
               </div>
            </form>
          {% endif %}
        {% endfor %}  
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include "footer.html" %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      var elem = new Foundation.Accordion($("#volunteer-list"));
    </script>

    <script type="text/javascript">
      try{
        var week_format = document.getElementById("week_month").value;
      }
      catch(err){
        //alert("error")
        window.location.href = "{% url 'openCurrents:admin-profile' %}";
      }

      function dec_vol(k){//Declining volunteer on clicking decline button

        var decline = k.text.replace("Decline volunteer","").replaceAll(" ","").replaceAll("\n","");
        var dec_0 = decline+':0:'
        var dec_1 = decline+':1:'
        document.getElementById('result_sel').value = document.getElementById('result_sel').value.replace(dec_0,"").replace(dec_1,"").replace(week_format,"").replace(decline,"");
        document.getElementById('result_sel').value += decline+":0:"+week_format+",";

      }

      function acc_vol(vol){//Accept Volunteer on clicking Undo

        var accept = vol.text.replace("Undo","").replaceAll(" ","").replaceAll("\n","");
        var acc_0 = accept+':0:'
        var acc_1 = accept+':1:'
        document.getElementById('result_sel').value = document.getElementById('result_sel').value.replace(acc_0,"").replace(acc_1,"").replace(week_format,"");
        document.getElementById('result_sel').value += accept+":1:"+week_format+",";

      }

      function getMonday(d) {//display of the weeks monday in the UI
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
        return new Date(d.setDate(diff));
      }

      String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
      };
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        if (document.getElementById("vols_approved_val") === null || document.getElementById("vols_declined_val") === null){

        }
        else{
          var vols_approved = document.getElementById("vols_approved_val").value;
          var vols_declined = document.getElementById("vols_declined_val").value;
        

          if(vols_approved >= 1 && vols_declined > 1)
          {
             vols_status_msg_display = "You have approved " + vols_approved + " and declined " + vols_declined + " volunteers. Keep up the good work!"
          }
          else if(vols_approved >= 1 && vols_declined == 1)
          {
             vols_status_msg_display = "You have approved " + vols_approved + " and declined " + vols_declined + " volunteer. Keep up the good work!"
          }
          else if(vols_approved > 1 && vols_declined == 0)
          {
             vols_status_msg_display = "You have approved hours for " + vols_approved + " volunteers. Keep up the good work!"
          }
          else if(vols_approved == 1 && vols_declined == 0)
          {
             vols_status_msg_display = "You have approved hours for " + vols_approved + " volunteer. Keep up the good work!"
          }
          else if(vols_approved == 0 && vols_declined > 1)
          {
             vols_status_msg_display = "You have declined hours for " + vols_declined + " volunteers. Keep up the good work!"
          }
          else if(vols_approved == 0 && vols_declined == 1)
          {
             vols_status_msg_display = "You have declined hours for " + vols_declined + " volunteer. Keep up the good work!"
          }
          document.getElementById("vols_status_msg").innerHTML = vols_status_msg_display;
        }

        var rep = $('.decline-volunteer').text().replaceAll("Decline volunteer\n","").replaceAll(" ","");
        var rep_list = rep.split("\n")
        var today = new Date();
        var app_week = String(getMonday(today)).split(" ");
        try{
          var week_display = document.getElementById("week_display_draft").value.replace(/,[^,]+$/, "")
        }
        catch(err){
          //alert("error")
        }
        document.getElementById("week_display").innerHTML = week_display;
        var week_format = document.getElementById("week_month").value;
        
        

        for(var i=0;i<rep_list.length;i++)
        {
          if(rep_list[i]!='')
          {
            document.getElementById('result_sel').value += rep_list[i]+":1:"+week_format+",";
          }
        }
        

        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        $('.decline-volunteer').click(function(){
          $(this).parents('.edit-volunteer').fadeOut(333, function(){
            $(this).siblings('.volunteer-declined').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#890045');
          });
        });

        $('.undo-decline').on('click', function(){
          $(this).parent().siblings('.edit-volunteer').find('input[type="radio"]').attr('checked',false);
          $(this).parent().fadeOut(333, function(){
            $(this).siblings('.edit-volunteer').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#1f4975');
          });
        });

        $('.defer-volunteer').click(function(){
          $(this).parents('.edit-volunteer').fadeOut(333, function(){
            $(this).siblings('.volunteer-deferred').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#e7b708');
          });
        });

        $('.undo-defer').on('click', function(){
          $(this).parent().siblings('.edit-volunteer').find('input[type="radio"]').attr('checked',false);
          $(this).parent().fadeOut(333, function(){
            $(this).siblings('.edit-volunteer').fadeIn(333);
            $(this).parent().siblings('.accordion-title').css('color', '#1f4975');
          });
        });         
      });

    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
