{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    {% include "partials/head.html" %}
    <title>{% block title %} openCurrents {% endblock %}</title>

  </head>
  
  <body>

    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">

        {% if status_msg %}
          <div class="row half-margin-top">
            {{ status_msg }}
          </div>
        {% endif %}

        {% block content %}{% endblock content %}
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    {% block menu %}
      <div off-canvas="menu right shift" id="menu">
        {% include 'partials/menu.html' %}
      </div>
    {% endblock %}


    {% block popups %}{% endblock popups %}
    
    {% block js %}{% endblock js %}
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>