{% extends "layouts/base.html" %}

{% load tags %}

{% block name %}
  Edit business details
{% endblock name %}

{% block heading %}
  <div class="row center">
    <h3 class="title-sub">
      {% block title %}
        Business details
      {% endblock title %}
    </h3>

    <p>Let customers know how to reach you:</p>
  </div>
{% endblock heading %}

{% block content %}
  <form class="" method="post">
  {% csrf_token %}

    {{ form.website }}

    <div class="row">
      <div class="medium-6 columns">
        {{ form.phone }}
      </div>

      <div class="medium-6 columns">
        {{ form.email }}
      </div>

      <div class="columns">
        {{ form.address }}
      </div>
    </div>

    {{ form.intro }}

    <div class="row three-halves-margin-top">
      <button type="submit" class="button round small">
        Save
      </button>
      <a class="biz-details-popup_close button round small secondary">
        Cancel
      </a>
    </div>
  </form>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
    // Google Places autocomplete
    function initAutoComplete() {

      var input = document.getElementById("id_address");

      var autocomplete = new google.maps.places.Autocomplete(input);
      // autocomplete.inputId = inputs[i].id;

      google.maps.event.addListener(autocomplete);

      google.maps.event.addDomListener(input, 'keydown', function(e) {
        if (e.keyCode == 13 && $('.pac-container:visible').length) {
            e.preventDefault();
        }
      });
    }

    initAutoComplete();
  </script>
{% endblock js %}
