{% extends "layouts/admin
.html" %}

{% load staticfiles %}
{% load tags %}


{% block content %}
  <div class="left row one-margin-top full-width collapse">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">Our offers</h6>

      {% if offers %}

        {% for offer in offers %}
          <div class="row half-margin-top">
            <div class="left small-9 columns">
              <!-- <p>Fast Folks Bike Shop & Cafe accepts Currents for <strong>50% of flat fixes</strong> <span class="small-text grey">Limit 50 transactions per month</span></p> -->
              <p>
                {{ orgname }} accepts Currents for

                <strong>
                  {{offer.currents_share}}% of {{offer.item.name}}
                </strong>

                {% if offer.limit != -1 %}
                  <span class="small-text grey">
                    Limit {{ offer.limit }} transactions per month
                  </span>
                {% endif %}
              </p>
            </div>

            <div class="right relative small-3 columns">
              <a class="mini-open">
                <i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i>
              </a>
              <ul class="mini-menu">
                <a href="{% url 'openCurrents:edit-offer' offer.id %}">
                  <li> Edit offer </li>
                </a>
                <a class="delete-offer-popup_open">
                  <li class="alert"> Delete offer </li>
                </a>
              </ul>
            </div>
          </div>
        {% endfor %}

      {% else %}
          <div class="row">
            <div class="left small-12 columns">
              <p>[ org_name ] has not made any offers. <a href="{% url 'openCurrents:offer' %}">Create one!</a></p>
            </div>
          </div>

      {% endif %}
    </div>
  </div>

  {% if org_offers_redeemed %}
    <div class="left row one-margin-top full-width collapse">
      <div class="small-11 medium-10 small-centered columns">
        <h6 class="half-margin-bottom">Redeemed offers</h6>

        {% for org_offer_redeemed in org_offers_redeemed %}
          {% with tr=org_offer_redeemed.transaction %}

            <div class="row half-margin-top">
              <div class="left small-9 columns">
                <p>
                  {{ tr.user.first_name }}
                  {{ tr.user.last_name }}
                  purchased
                  <strong>
                    {{ tr.offer.item.name }} for
                    {{ tr.price_reported }}
                  </strong>
                  and will receive
                  {% with disc=tr.price_reported|percent_price:tr.offer.currents_share %}
                    {{ disc|percent_price:0.01 }}
                    for
                    <span class="no-wrap">
                      <img class="h6-symbol" src="{% static 'img/symbol-navy.svg' %}"/>{{ disc|percent_price:0.001 }}
                    </span>
                  {% endwith %}
                </p>
              </div>

              <div class="right relative small-3 columns">
                <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
                <ul class="mini-menu">
                  <a class="view-receipt-popup_open"><li>View receipt</li></a>
                </ul>
              </div>
            </div>

          {% endwith %}
        {% endfor %}

      </div>
    </div>
  {% endif %}


  <!-- % if offers_redeemed -->
  <div class="left row one-margin-top full-width collapse">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">Redeemed offers</h6>
      <!-- % for offer in offers_redeemed % -->
      <div class="row half-margin-top">
        <div class="left small-9 columns">
          <p>Danny Pernik purchased <strong>flat fix for $15</strong> and will receive $7.50 for <span class="no-wrap"><img class="h6-symbol" src="{% static 'img/symbol-navy.svg' %}"/> 0.75</span></p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a class="view-receipt-popup_open"><li>View receipt</li></a>
          </ul>
        </div>
      </div>
      <!-- % endfor -->
    </div>
  </div>
  <!-- % endif % -->
{% endblock content %}

{% block popups %}
  <div id="delete-offer-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">Are you sure?</h3>
      <a class="button round alert">Yes - Delete offer</a>
      <a class="delete-offer-popup_close button round secondary">Cancel</a>
    </div>
  </div>

  <div id="view-receipt-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <div class="small-12 medium-8 small-centered columns">
        <h4 class="popup-title">View receipt</h4>
        <p>(If other PoP): [Danny] did not have a receipt and has provided the following image as proof of purchase:</p>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-12 medium-8 small-centered columns">
        <img src="{% static 'img/first_receipt.jpeg' %}" />
      </div>
    </div>

    <div class="row center three-halves-margin-top">
      <a class="button round secondary">Accept</a>
      <a class="button round alert">Decline</a>
    </div>

  </div>
{% endblock popups %}
    
{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#view-receipt-popup, #delete-offer-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

      $('.mini-open').click(function(){
        $('.mini-menu').hide();
        $(this).siblings('.mini-menu').toggle();
        $(this).attr('visibility', 'visible');
      });

      $(document).click(function(e) {
        var target = e.target;
        if (!$(target).is('.mini-open') && !$(target).parents().is('.mini-open')) {
          $('.mini-menu').hide();
        }
      });
    });
    function status(){
      $('#status_msg').html("There are no hours that need your approval.");
    }
  </script>
{% endblock js %}
