{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-menu-wb.css" rel="stylesheet" type="text/css">

    {% include "partials/head.html" %}
  </head>
  
  <body>
    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
            <h4 class="title-sub">Postponed: Community meeting</h4>
            <h5 class="subtitle">and 24 hour hackathon</h5>
            <!--<h6 class="no-margin-bottom">from 12:00pm CST on Saturday, Apr 1</h6>
            <h6 class="no-margin-bottom">to 12:00pm on Sunday, Apr 2</h6>
            <h6 class="half-margin-bottom">at <a href="https://goo.gl/maps/vSV9fxSdxqA2" target='_blank'>Chicon Collective</a> in Austin, TX and online</h6>
              
              <span class="addtocalendar one-margin-bottom">
                <var class="atc_event">
                  <var class="atc_date_start">2017-04-01 12:00:00</var>
                  <var class="atc_date_end">2017-04-02 12:00:00</var>
                  <var class="atc_timezone">America/Chicago</var>
                  <var class="atc_title">openCurrents Community Meeting and 24-hour Hackathon</var>
                  <var class="atc_description">Help us grow openCurrents. Everyone is welcome. Provide input at the Community meeting from 12 to 2pm on Saturday, and stick around to put the plan into action if you can. If you are outside Austin, email danny@opencurrents.com to join by Skype call.</var>
                  <var class="atc_location">301 Chicon St, Austin, TX 78702</var>
                  <var class="atc_organizer">Danny Pernik</var>
                  <var class="atc_organizer_email">danny@opencurrents.com</var>
                </var>
              </span>-->
              
        </div>
        
        <div class="row one-margin-bottom center">
          <div class="small-12 medium-6 small-centered columns">
            <p>Unfortunately, Chicon Collective had to close its doors at the end of March, so we have to find another time and place for the hackathon. If only this were an April Fools joke... (it's not)</p>

            <a href="{% url 'openCurrents:user-home' %}" class="button round">Back</a>
            <!--<p>Help us grow openCurrents. All are welcome.</p>
            <p class="left"><strong>Agenda</strong></p>
            <ul class="left">
              <li>12:00 to 2:00pm - Community meeting
                <ul>
                  <li>Introductions</li>
                  <li>Project update</li>
                  <li>Q&A discussion</li>
                  <li>What needs to be done</li>
                  <li>Form teams, take action</li>
                </ul>
              </li>

              <li>2:00 Saturday to 10:00am Sunday - Take action
                <ul>
                  <li>Give as little or as much time as you wish</li>
                  <li>Technical and non-technical expertise welcome</li>
                  <li>Earn Currents for your time</li>
                </ul>
              </li>

              <li>10:00 to 12:00pm Sunday - Show and tell</li>
                <ul>
                  <li>Share your progress with the group!</li>
                </ul>
              </li>
            </ul>
            <p>If you are outside Austin, <a href="mailto:danny@opencurrents.com?subject=Community%20meeting%20video%20call">email us</a> to join our group Skype call.</p>-->
          </div>
        </div>

        <!--<div class="row center">
          <a href="mailto:danny@opencurrents.com?subject=RSVP%20for%20community%20meeting&body=Please%20include%20names%20of%20all%20attendees:" class="button round">I want to be there</a>
          <a href="https://workflowy.com/s/lTPnvlIBlE" target="_blank" class="button round secondary">Open questions</a>

          <p><a href="causes">See the demo</a></p>
        </div>-->
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      <a class="list-group-item" href="{% url 'openCurrents:causes' %}">
        <i class="half-margin-right fa-fw fa fa-eye"></i>
        See the demo
      </a>
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    <!-- add to calendar -->
    <script type="text/javascript">(function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = "{% static 'js/atc.min.js' %}";
          var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>