{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link href="http://addtocalendar.com/atc/1.5/atc-style-menu-wb.css" rel="stylesheet" type="text/css">

    {% include "head.html" %}
  </head>
  
  <body>
    {% include "header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
            <h3 class="title-sub">Community meeting #2</h3>
            <h5 class="no-margin-bottom">Saturday, Feb 4th from 2-4pm CST</h5>
            <h5 class="half-margin-bottom">at 6305 Back Bay Ln in Austin, TX and online</h5>
              
              <span class="addtocalendar one-margin-bottom">
                <var class="atc_event">
                  <var class="atc_date_start">2017-02-04 14:00:00</var>
                  <var class="atc_date_end">2017-02-04 16:00:00</var>
                  <var class="atc_timezone">America/Chicago</var>
                  <var class="atc_title">openCurrents Community Meeting #2</var>
                  <var class="atc_description">Help us choose the direction of the openCurrents alternative currency project. If you are outside Austin, join our Skype call here: https://join.skype.com/uLMke1hpFHMW</var>
                  <var class="atc_location">6305 Back Bay Ln, Austin, TX 78739</var>
                  <var class="atc_organizer">Danny Pernik</var>
                  <var class="atc_organizer_email">danny@opencurrents.com</var>
                </var>
              </span>
              
        </div>
        
        <div class="row one-margin-bottom center">
          <div class="small-12 medium-8 small-centered columns">
            <p>openCurrents is a community-led currency. Come help us determine the direction of this project. You'll get paid 2 Currents for your time - these will be the first Currents to exist!</p>
            <p>We will start with an open Q&A, then vote to answer <a href="https://workflowy.com/s/lTPnvlIBlE" target="_blank">open questions</a> about how to implement the currency.</p>
            <p>If you are outside Austin, <a href="https://join.skype.com/uLMke1hpFHMW">join our Skype group</a>.</p>
          </div>
        </div>

        <div class="row center">
          <a href="mailto:danny@opencurrents.com?subject=RSVP%20for%20community%20meeting&body=Please%20include%20names%20of%20all%20attendees:" class="button round">I want to be there</a>
          <a href="https://workflowy.com/s/lTPnvlIBlE" target="_blank" class="button round secondary">Open questions</a>

          <p><a href="causes">See the demo</a></p>
        </div>
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include "footer.html" %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      <a class="list-group-item" href="{% url 'openCurrents:causes' %}">
        <i class="half-margin-right fa-fw fa fa-eye"></i>
        See the demo
      </a>
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    <!-- add to calendar -->
    <script type="text/javascript">(function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = "{% static "js/atc.min.js" %}";
          var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>