{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}

    <link href="{% static 'css/auto-complete.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-datepicker.js' %}"></script>
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui-datepicker.css' %}" rel="stylesheet" type="text/css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGfdpv-Vg_rskfib8jzp-a6VI92QuC2I0&v=3.exp&types=address&libraries=places"></script>
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row">
            <h3 class="title">Create event</h3>
            <!-- <p class="subtitle"><a>Use template</a> (if any)</p> -->
        </div>

        <form method="post">
          {% csrf_token %}

          <!-- catch and display any top-level form errors -->
          <!-- (as opposed to field-specific errors which are displayed next to each field) -->
          {% if errors %}
            <div class="row">
              {% for error in errors %}
                <p>
                  {{ error }}
                </p>
              {% endfor %}
            </div>
          {% endif %}

          <div class="row one-margin-bottom">
            <div class="small-12 medium-6 small-centered columns">
              {{ form.project_name.errors }}
              <h6 class="fit-left navy">{{ form.project_name.label }}</h6>
              <span class="input-sizer"> {{ form.project_name }} </span>
              {% if form.project_name.help_text %}
                <p class="small">
                  ({{ form.project_name.help_text|safe }})
                </p>
              {% endif %}
            </div>
          </div>

          <div class="row one-margin-bottom">
            <div class="small-8 medium-4 small-centered columns">
              {{ form.date_start.errors }}
              <h6 class="fit-left navy"> {{ form.date_start.label }} </h6>
              <span class="input-sizer"> {{ form.date_start }} </span>
              {% if form.date_start.help_text %}
                <p class="small">
                  ({{ form.date_start.help_text|safe }})
                </p>
              {% endif %}
            </div>
          </div>

          <div class="row one-margin-bottom">
            <div class="small-12 medium-6 small-centered columns">
              <div class="row">
                <div class="input-left small-6 columns">
                  {{ form.time_start.errors }}
                  <h6 class="fit-left navy"> {{ form.time_start.label }} </h6>
                  <span class="input-sizer"> {{ form.time_start }} </span>
                  {% if form.time_start.help_text %}
                    <p class="small">
                      ({{ form.time_start.help_text|safe }})
                    </p>
                  {% endif %}
                </div>

                <div class="input-right small-6 columns">
                  {{ form.time_end.errors }}
                  <h6 class="fit-left navy"> {{ form.time_end.label }} </h6>
                  <span class="input-sizer"> {{ form.time_end }} </span>
                  {% if form.time_end.help_text %}
                    <p class="small">
                      ({{ form.time_end.help_text|safe }})
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row no-margin-bottom center">
            <div id="location-box" class="small-8 medium-4 small-centered columns">
              <div id="location-1">
                <h6 class="fit-left navy"> at </h6>
                <span class="input-sizer">
                  <input class="location center" name="event-location-1" placeholder="location" type="text" required>
                </span>
              </div>
            </div>
          </div>

          <a id="add-location">Add another location</a>

          <div class="row three-halves-margin-top">
            <input type="radio" id="event-privacy-1" name="event-privacy-[]" value="1" class="hidden styled-radio" checked/>
              <label for="event-privacy-1" class="button round secondary tiny">Public event</label>
            <input type="radio" id="event-privacy-2" name="event-privacy-[]" value="2" class="hidden styled-radio"/>
              <label for="event-privacy-2" class="button round secondary tiny">Invite only</label>
          </div>

          <div class="three-halves-margin-top row left">
            <div class="small-12 medium-6 small-centered columns">
              {{ form.description.errors }}
              <h6 class="navy no-margin-bottom">{{ form.description.label }}</h6>
              {% if form.description.help_text %}
                <p class="small-text grey no-margin-bottom">
                  {{ form.description.help_text|safe }}
                </p>
              {% endif %}
              <span class="input-sizer"> {{ form.description }} </span>
            </div>
          </div>

          <div class="one-margin-top row left">
            <div class="small-12 medium-6 small-centered columns">
              <h6 class="navy no-margin-bottom">Event coordinator</h6>
              <p class="small-text grey">Who will respond to volunteers who register?</p>

              <div class="row">
                <div class="input-left small-5 columns">
                  {{ form.coordinator_firstname.errors }}
                  {{ form.coordinator_firstname }}
                </div>

                <div class="input-right small-7 columns">
                  {{ form.coordinator_email.errors }}
                  {{ form.coordinator_email }}
                </div>
              </div>
            </div>
          </div>

        <!--div class="row">
          <div class="small-6 small-centered columns">
            <button class="one-margin-top button round">Create</button>
            <p><a class="template-popup_open">Save template...</a></p>
          </div>
        </div-->

            <!-- <div class="row">
              <div class="small-8 small-centered columns">
                <h6 class="fit-left navy">Max volunteers:</h6>
                <span class="input-sizer"><input name="project-max" id="project-max" class="center" type="text" placeholder="10" /></span>
              </div>
            </div> -->

          <div class="row center">
            <div class="small-centered small-8 medium-6 columns">
              <button type='submit' class="one-margin-top button round">Create</button>
            </div>
          </div>
        </form>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="template-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <!--div class="row center">
        <h3 class="popup-title">Save project template as...</h3>
      </div-->
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#template-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });


        $('#date_start').datepicker({
          dateFormat: 'yy-mm-dd',
        }).datepicker("setDate", new Date());

        $('#time_start, #time_end').timepicker({
          step: 15,
        });
      });
    </script>
    <script type="text/javascript" src="{% static 'js/auto-complete.min.js' %}"></script>
    <script type="text/javascript">
      // initialize
      var project_auto = new autoComplete({
        selector: 'input[name="project_name"]',
        minChars: 2,
        source: function(term, suggest){
          //var choices = ['clean up Lady Bird Lake', 'install a rain garden', 'host a composting workshop'];
          var choices = {{ project_names }}
          var matches = [];
          for (i=0; i<choices.length; i++)
              if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
          suggest(matches);
        }
      });

    </script>

    <script type="text/javascript">
      function initAutoComplete() {

        var inputs = document.getElementsByClassName("location");

        for (var i = 0; i < inputs.length; i++) {
          var autocomplete = new google.maps.places.Autocomplete(inputs[i]);
          // autocomplete.inputId = inputs[i].id;

          google.maps.event.addListener(autocomplete);
        }
      }

      var id = 1;

      $('#add-location').click(function(){
        id ++;

        $('#location-box').append(
          '<div id="location-'+id+'" class="relative hidden"> \
              <h6 class="fit-left navy">&</h6> \
              <span class="input-sizer"> \
                <input class="location center" name="event-location-'+id+'" placeholder="location" type="text" required> \
              </span> \
              <i class="remove-location fa fa-times-circle"></i> \
          </div>'
        );
        $('#location-'+id+'').slideDown();
        initAutoComplete()
      });

      $('#location-box').on('click', 'i', function(){
        $(this).parent('div').slideUp();
      });

      $(document).ready(function(){

        initAutoComplete();

      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
