{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block heading %}
<div class="row">
  <div class="medium-8 small-centered columns">
    <h3 class="title-sub">Register a...</h3>
    <div class="row">
      <div class="small-8 medium-4 small-centered columns">
        {{ form.status }}
      </div>
    </div>
  </div>
</div>
{% endblock heading %}

{% block content %}
  <form class="" method="post">
  {% csrf_token %}
    <div class="row">
      <div class="medium-8 small-centered columns">
        <div class="row">
          <div class="medium-10 small-centered columns">
            <p id="biz-info">
              To post an offer and accept Currents, create a business profile.
              It doesn't need to be an official business.
            </p>
            <p id="npf-info" class="hidden">
              To record hours and reward volunteers, apply as a nonprofit.
            </p>
          </div>
        </div>

        {{ form.name }}
        {{ form.website }}
        <input type="submit" class="half-margin-top button round small"
        value="Register" />
      </div>
    </div>
  </form>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
    $('#id_status').change(function(){
      if ($(this).val() == 'npf') {
        $('#id_name').attr('placeholder','Nonprofit name');
        $('#biz-info').slideUp();
        $('#npf-info').slideDown();
      }
      else {
        $('#id_name').attr('placeholder','Business name');
        $('#npf-info').slideUp();
        $('#biz-info').slideDown();
      }
    });
  </script>
{% endblock js %}
