{% extends "layouts/base.html" %}

{% load static %}
{% load tags %}

{% block heading %}
  {% if event.project.org.logo %}
    <div class="row center">
      <div class="small-6 medium-3 small-centered columns">
        <img
          class="biz-header-image"
          src="{% get_media_prefix %}{{ event.project.org.logo }}"
        />
      </div>
    </div>
  {% endif %}

  <div class="row">
    <h4 class="title-sub">
      {% block title %}
      <a href="{{ event.url }}">
        {{ event.project.name }}
      </a>
      {% endblock title %}
    </h4>
    <p>with <strong>{{ event.project.org.name }}</strong> </p>
  </div>
{% endblock heading %}

{% block content %}
  <form
    method="post"
    action="{% url 'openCurrents:event_register' event.id %}"
    {% if event.url %}
      target="_blank"
    {% endif %}
  >
    {% csrf_token %}

    <div class="row center">
      <div class="small-12 medium-8 small-centered columns">
        {% if event.project.is_open %}
          <h6 class="no-margin-bottom">
            Open opportunity
          </h6>
        {% else %}
          <h6 class="no-margin-bottom">
            on {{ event.datetime_start|day:event.project.org.timezone }}
          </h6>
          <h6 class="no-margin-bottom">
            from {{ event.datetime_start|time:event.project.org.timezone }}
            to {{ event.datetime_end|time:event.project.org.timezone }}
          </h6>
        {% endif %}

        <h6 class="half-margin-bottom">at {{ event.location }}</h6>
        <p>
          {% if event.is_public %}
            Public
          {% else %}
            Private
          {% endif %}

          event
        </p>
      </div>
    </div>

    <div class="row left">
      <div class="small-10 medium-6 small-centered columns">
        <h6 class="navy">Event description</h6>
        <p class="grey"> {{ event.description|safe|linebreaks }}</p>
      </div>
    </div>


    {% if event.url %}
      <div class="row left">
        <div class="small-10 medium-6 small-centered columns">
          <h6 class="navy">Event URL</h6>
          <a href="{{ event.url }}" target="_blank">{{ event.url }}</a>
        </div>
      </div>
    {% endif %}

    <div class="three-halves-margin-top row left
    {% if not request.user.is_authenticated %}
      hidden
    {% endif %}
    ">
      <div class="small-10 medium-6 small-centered columns">
          {% if coordinator %}
            <h6 class="navy inline">Contact invited volunteers</h6>
            <a class="registrants-box_open no-wrap">See invitees</a>
          {% elif is_registered %}
            <h6 class="navy inline">Contact event coordinator</h6>
          {% else %}
            <h6 class="navy inline">{{ form.contact_message.label }}</h6>
          {% endif %}

        {% if form.contact_message.help_text %}
          <p class="small-text grey no-margin-bottom">
            {% if not coordinator %}
              {{ form.contact_message.help_text|safe }}
            {% endif %}
          </p>
        {% endif %}
        {{ form.contact_message }}

      </div>
    </div>

    <div class="one-margin-top center">
      {% if request.user.is_authenticated %}
        <button type='submit' class="button round">
          {% if not is_registered and not coordinator %}
            Register
          {% else %}
            Send message
          {% endif %}
        </button>
      </form>
    </div>
      {% else %}
      </form>
    </div>
        <a href="{% url 'openCurrents:login' %}?next={% url 'openCurrents:event-detail' event.id %}">
          <button  class="button round">Register</button>
        </a>
      {% endif %}

    {% if request.user.is_authenticated %}
      {% if coordinator or admin %}
          <a href="{% url 'openCurrents:org-admin' %}">
              Back to org profile
          </a>
      {% elif is_registered %}
          <a href="{% url 'openCurrents:profile' %}">
              Back to profile
          </a>
      {% endif %}
    {% endif %}

{% endblock content %}

{% block popups %}
  <div id="registrants-box" class="modal center small-12 medium-9 large-7 small-centered columns">
    <h3 class="popup-title center">Invited volunteers</h3>
    <div class="row left">
      <div class="small-10 medium-6 small-centered columns">
        {% if registrants %}
          <p class="half-margin-bottom"><strong>Name or email</strong></p>
          <ul>
            {% for email, rec in registrants.iteritems %}
              <li class="no-bullet">
                {% if rec.first_name and rec.last_name %}
                  {{ rec.first_name|fullname:rec.last_name }}
                {% else %}
                  {{ email }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <a id="copy-emails" class="button round small">Copy email list</a>
        {% else %}
          <p>No volunteers have registered or been invited yet.</p>
          <a href="{% url 'openCurrents:invite-volunteers' event.id %}"
          class="button round small">
            Invite volunteers
          </a>
        {% endif %}

        <a class="registrants-box_close button round small secondary">Close</a>

        <textarea id="email-list" class="hidden">
          {{ registrants|join:', ' }}
        </textarea>
      </div>
    </div>
  </div>
{% endblock popups %}

{% block js %}
  <script src="{% static 'js/clipboard.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

      $('#registrants-box').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: false,
      });

      new Clipboard('#copy-emails', {
        text: function (trigger) {
          return $('#email-list').val();
        }
      });

      $('#copy-emails').click(function(){
        $(this).text('Copied!');
        setTimeout(function(){
          $('#copy-emails').text('Copy email list');
        }, 2000);
      });

    });
  </script>
{% endblock js %}
