{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>

  <body>
    {% include "partials/header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row">
          <h3 class="title-sub">Done!</h3>
          <h6 class="subtitle">{{num_events}} events have been created for project {{project}}.</h6>
        </div>

        <div class="row one-margin-bottom center">
          <div class="small-12 medium-8 small-centered columns">
            <p class="two-margin-bottom">Volunteers are now able to see the events and register to help.</p>

            <a href="{% url 'openCurrents:admin-profile' %}" class="button round small">
              Admin profile
            </a>
          </div>
        </div>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>

    <div id="invite-coordinator-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Invite coordinator</h3>
      </div>

      <div class="row">
        <div class="small-centered medium-10 columns">

          <input type="text" name="coordinator-name" placeholder="First name" />
          <input type="text" name="coordinator-email" placeholder="Email">

          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#invite-coordinator-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
