{% extends "layouts/home-base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}

  <meta name="description" content="With openCurrents, volunteers get to
  create currency by giving time. Volunteer 1 hour to earn 1 Current, and use
  Currents for purchases with businesses in the community. Join the movement!">
  <title>Get paid for doing good &bull; openCurrents</title>
{% endblock head %}

{% block page %}faq{% endblock page %}

{% block large-links %}
  <a href="{% url 'openCurrents:nonprofit' %}" class="three-halves-margin-right">For nonprofits</a>
  <a href="{% url 'openCurrents:business' %}" class="three-halves-margin-right">For businesses</a>
  <a href="{% url 'openCurrents:our-story' %}" class="three-halves-margin-right">Our story</a>
  <a href="#1" class="three-halves-margin-right navy">FAQ</a>
{% endblock large-links %}


{% block content %}
  <div class="js-close-any" canvas>
    <div id="intro-1">
      <div id="1" class="header-spacer"></div>

      <div class="row center">
        <div class="medium-12 small-centered columns">
          <h1 id="home-tagline" class="white two-margin-bottom">
            Frequently asked questions
          </h1>
        </div>
      </div>

      <div class="row left">
        <div class="medium-9 small-centered columns">
          <ul id="questions" class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">
                <h6 class="no-margin-bottom white">How do I earn Currents?</h6>
              </a>
              <div class="accordion-content" data-tab-content>
                <p class="half-margin-bottom">
                  You can request Currents for hours volunteered with any nonprofit.
                  Nonprofits must register before issuing Currents and must be serving
                  the greater good.
                </p>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">
                <h6 class="no-margin-bottom white">What’s the value of the Current?</h6>
              </a>
              <div class="accordion-content" data-tab-content>
                <p class="half-margin-bottom">
                  For our beta phase, businesses have agreed to value Currents at
                  $20 per Current. As the platform evolves, businesses will be able
                  to decide the value at which they accept Currents. Note that the
                  Corporation for National Community Service values each hour
                  volunteered at $23.5/hr.
                </p>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">
                <h6 class="no-margin-bottom white">
                  Who guarantees that Currents are actually backed by one hour of work?
                </h6>
              </a>
              <div class="accordion-content" data-tab-content>
                <p class="half-margin-bottom">
                  Each hour volunteered must be confirmed by an administrator of the
                  issuing nonprofit. Each nonprofit and administrator is
                  first verified by the openCurrents team.
                </p>
              </div>
            </li>

            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">
                <h6 class="no-margin-bottom white">What can I buy with Currents?</h6>
              </a>
              <div class="accordion-content" data-tab-content>
                <p class="half-margin-bottom">
                  You can use Currents to buy products and services with anyone
                  who accepts them. You can find offers from participating businesses
                  in the
                  <a href="{% url 'openCurrents:marketplace' %}">
                    openCurrents marketplace.
                  </a>
                </p>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">
                <h6 class="no-margin-bottom white">How do I use my Currents?</h6>
              </a>
              <div class="accordion-content" data-tab-content>
                <p class="half-margin-bottom">
                  Visit the openCurrents marketplace from your profile to use
                  Currents with participating businesses.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row center one-margin-top">
        <a href="javascript:void(Tawk_API.toggle())" class="button round small">
          I have another question
        </a>
        <a href="#signup" class="home-link white">
          <p class="no-margin-bottom">Join the community</p>
          <i class="two-margin-bottom fa fa-lg fa-angle-down"></i>
        </a>
      </div>
    </div>

    <div id="intro-2">
      <div id="signup" class="header-spacer"></div>

      <div class="row center">
        <h2 class="title-sub">Join openCurrents</h2>
        <h5 class="one-margin-bottom">as a...</h5>
      </div>

      {% include "partials/vol-signup.html" %}

      <div class="row center">
        <a href="javascript:void(Tawk_API.toggle())" class="large-text">
          I have a question
          <i class="half-margin-left fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}


{% block js %}
  {{ block.super }}

  <script type="text/javascript">
    var elem = new Foundation.Accordion($("#questions"));
  </script>
{% endblock js %}
