{% load staticfiles %}

<header id="header" class="full-width js-close-any" canvas>
    <div class="small-10 medium-9 medium-offset-1 columns">
      {% if orgid %}
      <a href="{% url 'openCurrents:admin-profile' %}">
      {% else %}
      <a href="{% url 'openCurrents:user-home' %}">
      {% endif %}

      	<img id="header-logo" src="{% static "img/oc-header-blue2.png" %}" />
      </a>
    </div>

    <div id="header-menu" class="small-2 columns right end">
        <a class="aqua toggle-menu"><i class="fa fa-bars"></i></a>
    </div>
  </div>
</header>
