{% load staticfiles %}

<header id="header" class="full-width js-close-any" canvas>
  <div class="small-10 medium-9 medium-offset-1 columns">
    {% if orgid %}
    <a href="{% url 'openCurrents:admin-profile' %}">
    {% elif request.user.is_authenticated %}
    <a href="{% url 'openCurrents:profile' %}">
    {% else %}
    <a class="arrow-cursor">
    {% endif %}

    	<img id="header-logo" src="{% static 'img/oc-header-blue2.png' %}" />
    </a>
  </div>

  <div id="header-menu" class="small-2 columns right end">
    <a class="toggle-menu">
      {% include 'tilde-menu.html' %}
    </a>
  </div>
</header>
