{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  
  <body id="home">
    <div class="row center">
      <div class="small-centered small-12 medium-9 columns">
        <img id="home-logo" src="{% static "img/oc-logo-blue.png" %}"/>
      </div>
    </div>

    <div id="intro-1">
      <div class="row">
        <div class="small-12 medium-10 large-11 small-centered columns">
          <h3 class="center white one-margin-top one-margin-bottom">Introducing the world's 2,345,721st* alternative currency</h3>
          <h4 class="subtitle white">and why it's going to work.</h4>
          <p class="center three-halves-margin-top">* give or take</p>
        </div>
      </div>
      
      <div class="row three-halves-margin-top one-margin-bottom center">
        <div class="small-12 medium-8 small-centered columns">
          <a href="#intro-2"><button id="intro-button-1" class="button round large clear">Tell me more</button></a>
        </div>
      </div>
    </div>
    
    <div id="intro-2" class="hidden">
      <div class="row">
        <div class="center small-centered medium-11 columns">
          <h1 id="home-title" class="white hide-for-small-only">Give time, create currency.</h1>
          <h3 id="home-title" class="white show-for-small-only">Give time, create currency.</h3>
          <h4 class="white three-halves-margin-top">Give 1 hour to a nonprofit or social business, create 1 Current.</h4>
          <h4 class="white">Use it to buy anything from anyone who accepts it.</h4>
          <h4 class="white two-margin-bottom">Suggested value: 
          
          <svg id="home-symbol" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 140 140.13137">
            <g transform="translate(-396.62 -884.72)" stroke="#ffffff" fill="none">
              <circle cx="466.69" transform="scale(1,-1)" cy="-954.78" r="0" stroke-width="11" />
              <g transform="translate(11.475)">
                <path d="m509.65 149.95a64.066 64.066 0 0 1 -42.959 16.538 64.066 64.066 0 0 1 -64.066 -64.066 64.066 64.066 0 0 1 64.066 -64.066 64.066 64.066 0 0 1 42.961 16.539" transform="translate(0 852.36)" stroke-width="12"/>
                <circle stroke-width="11" cy="954.78" cx="466.69" r="34.558" />
              </g>
            </g>
          </svg>1 = $10</h4>
        </div>
      </div>

      <div class="row two-margin-bottom">
        <div class="one-margin-bottom center small-centered medium-8 columns">
          <a class="signup-box_open"><button class="clear button large round hide-for-small-only">Yes, I want a new way to get paid</button></a>
          <a class="signup-box_open"><button class="clear button round show-for-small-only">Yes, I want a new way to get paid</button></a>
          <div class="medium-8 medium-offset-2 columns end">
            <a href="#intro-3" id="intro-button-2" class="white"><p class="no-margin-bottom">Why it's going to work<i class="half-margin-left fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>
    </div>

    <div id="intro-3" class="hidden">
      <div class="row center">
        <div class="medium-8 small-centered columns">
          <h4 class="white half-margin-top one-margin-bottom">Advantage #1: Ease of adoption</h4>
          <p>For any currency to become a viable alternative to Old Money, widespread adoption is critical.</p>
          <p>Other currencies such as Bitcoin have been too technical and cumbersome for most people to adopt.</p>
          <p>openCurrents makes it easy to earn currency, find buyers and sellers, and exchange. "Yes, I accept openCurrents." It's that easy.</p>
        </div>
      </div>

      <div class="row one-margin-top two-margin-bottom">
        <div class="one-margin-bottom center small-centered medium-8 columns">
          <a class="signup-box_open"><button class="clear button large round hide-for-small-only">Yes, I accept openCurrents</button></a>
          <a class="signup-box_open"><button class="clear button round show-for-small-only">Yes, I accept openCurrents</button></a>
          <div class="medium-6 medium-offset-3 columns end">
            <a href="#intro-4" id="intro-button-3" class="white"><p class="no-margin-bottom">Advantage #2<i class="half-margin-left fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>
    </div>

    <div id="intro-4" class="hidden">
      <div class="row center">
        <div class="medium-8 small-centered columns">
          <h4 class="white one-margin-bottom half-margin-top">Advantage #2: Global scope</h4>
          <p>Our world is more interconnected than ever. Whether we’re using dollars or pesos or euros, it’s all the Same Old System (SOS).</p>
          <p>Many currencies focus on supporting local economy. While this is a worthy cause, it does not create a viable alternative to Old Money.</p>
          <p>openCurrents aims to become available to everyone, everywhere.</p>
        </div>
      </div>

      <div class="row one-margin-top two-margin-bottom">
        <div class="one-margin-bottom center small-centered medium-8 columns">
          <a class="signup-box_open"><button class="clear button large round hide-for-small-only">Let there be openCurrents</button></a>
          <a class="signup-box_open"><button class="clear button round show-for-small-only">Let there be openCurrents</button></a>
          <div class="medium-6 medium-offset-3 columns end">
            <a id="intro-button-4" href="intro-5-1" class="white"><p class="no-margin-bottom">Advantage #3<i class="half-margin-left fa fa-angle-right"></i></p></a>
          </div>
        </div>
      </div>
    </div>

    <div id="intro-5" class="hidden">
      <div id="intro-5-1">
        <div class="row center">
          <div class="medium-8 small-centered columns">
            <h4 class="white one-margin-bottom half-margin-top">Advantage #3: Timing</h4>
            <p>The World Wide Web was born on August 6th, 1991. We have barely scratched the surface of what we are collectively capable of. Discontent with the status quo is as great as it’s ever been.</p>
            <p><a class="white underline" href="https://en.wikiquote.org/wiki/Victor_Hugo" target="_blank">Nothing is more powerful than an idea whose time has come.</a></p>
            <p>The time has come. Are you ready?</p>
          </div>
        </div>

        <div class="row one-margin-top two-margin-bottom">
          <div class="one-margin-bottom center small-centered medium-8 columns">
            <a class="signup-box_open"><button class="clear button large round hide-for-small-only">Yes, I'm ready for openCurrents</button></a>
            <a class="signup-box_open"><button class="clear button round show-for-small-only">Yes, I'm ready for openCurrents</button></a>
            <div class="medium-10 medium-offset-1 columns end">
              <a href="#intro-5-2" class="white"><p class="no-margin-bottom small">What about Bitcoin?</p><i class="fa fa-lg fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div id="intro-5-2">
        <div class="row">
          <div class="small-11 medium-10 small-centered columns">
            <h3 class="title">Bitcoin is a stepping stone</h3>
            <p>Bitcoin has proven that virtual currency can have real value. However, its design has limitations that will never allow it to become a viable alternative to Old Money.</p>
            <p>Since Bitcoin is anonymous, it cannot offer the same security that a bank can provide. If someone steals your key, your Bitcoin is lost because you can't prove the account was yours in the first place.</p>
            <p>Furthermore, Bitcoin's system of currency creation is too technical for most people to participate in. Computer programmers effectively become gatekeepers to the currency.</p>
            <p>openCurrents verifies your identity to guarantee your funds. Since everyone has time to give, everyone can create Currents.</p>
          </div>
        </div>

        <div class="row one-margin-top">
          <div class="one-margin-bottom center small-centered medium-8 columns">
            <a class="signup-box_open"><button class="button large round hide-for-small-only">Okay, give me openCurrents</button></a>
            <a class="signup-box_open"><button class="button round show-for-small-only">Okay, give me openCurrents</button></a>
            <div class="two-margin-bottom medium-10 medium-offset-1 columns end">
              <a href="#intro-5-3"><p class="no-margin-bottom">Why do we need this?</p><i class="fa fa-lg fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div id="intro-5-3">
        <div class="row">
          <h3 class="title white">Old Money Problems</h3>
        </div>
        
        <div class="row">
          <div class="small-11 medium-10 small-centered columns">
            <p class="lead">The world's money system continues to get worse at its only job&nbsp;- helping people exchange. Two reasons:</p>

            <p><strong>Debt.</strong> Money is <i>created as debt</i>&nbsp;- banks do nothing to earn the money that is printed and given to them. Not only is it impossible to repay this "loan", but in 2009 the US government gave banks $900 billion of taxpayer money to keep this sinking system afloat.</p>
            <p><strong>Gatekeepers.</strong> Banks are the bottleneck, deciding who gets access to money. Gatekeepers have become less influential in other industries with the rise of technology, but government has obstructed the natural evolution of currency&nbsp;- until now.</p>
            <p>Currents are created through time and effort, not through debt. Anyone can create it, so there are no gatekeepers.</p>

          </div>
        </div>

        <div class="row one-margin-top">
          <div class="one-margin-bottom center small-centered medium-8 columns">
            <a class="signup-box_open"><button class="clear button large round hide-for-small-only">I'm ready for a new solution</button></a>
            <a class="signup-box_open"><button class="clear button round show-for-small-only">I'm ready for a new solution</button></a>
            <div class="two-margin-bottom medium-10 medium-offset-1 columns end">
              <a href="mailto:dannypernik@gmail.com?subject=Learning%20more%20about%20openCurrents&cc=nickoshestopalov@gmail.com" class="white"><p class="no-margin-bottom">I have a question or suggestion<i class="half-margin-left fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
<!--    <div id="home2">
      <!--<div id="header-sticky-wrapper" class="row full-width sticky-wrapper">
        <div class="small-9 medium-8 medium-offset-1 columns">
          <img id="header-logo" src="/img/oc-header-blue.png" />
        </div>
        
        <div id="header-menu" class="small-offset-1 small-2 medium-2 columns right end">
            <a class="aqua signup-box_open"><i class="fa fa-lg fa-user-plus"></i></a>
        </div>
      </div>
      
      
          
          
          
          <!--<div class="thumb-wrapper"><a class="play-intro_open"><div class="thumb-box">
          <svg id="play-button" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
          <polygon id="play-poly" points="28,23.119 48.579,35 28,46.881 "/>
          <circle id="play-circle" fill="none" stroke-width="1.9429" stroke-miterlimit="10" cx="35" cy="35" r="34"/>
          </svg></div><span id="video-title">Money Problems<br>(1 min)</span></a></div>
          
          <p class="one-margin-bottom one-margin-top lead">One thing is for certain: this too shall pass. The only question is when. Will we continue to let our economy crumble? Or will we embrace a new solution?</p>
        </div>
      </div>
      
      <div class="center row two-margin-top">
        <div class="small-10 medium-8 small-centered columns">
          <a class="demo-box_open"><button class="button round large hide-for-small-only">I'm ready for a new solution</button></a>
          <a class="demo-box_open"><button class="button round show-for-small-only">I'm ready for a new solution</button></a>
          <a class="lead" href="#home3"><p class="no-margin-bottom">What about Bitcoin?</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>

    <div id="home3">
      <div class="row full-width header-spacer">
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title">Bitcoin is a stepping stone</h3>
          <p class="lead">While it has proven that alternative currency can have real value, Bitcoin has limitations that will prevent it from ever becoming a suitable replacement for money as we know it. Bitcoin's method of currency creation, or "mining", is too technical for most people to participate. As a result, wealth is controlled by a relatively small number of people. Sound familiar?</p>
          <p class="lead">Furthermore, since Bitcoin is anonymous, it is less secure than a typical bank account. If your Bitcoin key is stolen, you can't prove that the account belonged to you in the first place.</p>
          <p class="lead">By comparison, openCurrents can be earned by anyone through time and effort given to a cause. Your openCurrents account is connected to your identity to protect you from theft. Sound good?</p>
        </div>
      </div>
      
      <div class="row one-margin-top center">
        <div class="medium-8 small-centered columns">
          <a class="demo-box_open"><button class="button round large hide-for-small-only">Yes, I want openCurrents</button></a>
          <a class="demo-box_open"><button class="button round show-for-small-only">Yes, I want openCurrents</button></a>
          <a class="lead" href="#home4"><p class="no-margin-bottom">How it helps nonprofits</p>
          <i class="fa fa-2x fa-angle-down"></i></a> 
        </div>
      </div>
    </div>

    <div id="home4">
      <div class="row full-width header-spacer">
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title-sub">Nonprofits: It's now free to pay volunteers</h3>
          <h5 class="subtitle">Need we say more?</h5>
          <p class="lead left">Okay, maybe we do. openCurrents gives nonprofits the best volunteer recruiting tool in existence. Plus, it's a way to reward your existing support for their dedicated service.</p>
          <p class="lead left">In return, we ask for two things. First, sign off on your volunteers' hours in our simple time tracker. Second, play by the rules. All openCurrents data will be made public so that the community can verify the legitimacy of all hours recorded.</p>
        </div>
      </div>
      
      <div class="row one-margin-top center">
        <div class="one-margin-bottom medium-8 small-centered columns">
          <a class="demo-box_open"><button class="button round large hide-for-small-only">Yes, I want openCurrents</button></a>
          <a class="demo-box_open"><button class="button round show-for-small-only">Yes, I want openCurrents</button></a>
          <a class="lead" href="#home5"><p class="no-margin-bottom">Our values</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>

    <div id="home5">
      <div class="row full-width header-spacer">
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title-sub">Our values</h3>
          <h5 class="subtitle">Here's what we stand for. Will you stand with us?</h5>
          <p><strong>Transparency.</strong> The "open" in openCurrents. Public verification of hours completed and confirmation of identity will help to build trust and ensure a system that works for all of us.</p>
          <p><strong>.</strong> </p>
        </div>
      </div>
      <div class="row center">
        <div class="one-margin-bottom small-centered medium-8 columns">
          <a class="demo-box_open"><button class="button large round hide-for-small-only">Yes, I stand with openCurrents</button></a>
          <a class="demo-box_open"><button class="button round show-for-small-only">Yes, I stand with openCurrents</button></a>
          <a href="mailto:dannypernik@gmail.com?subject=Learning%20more%20about%20openCurrents&cc=nickoshestopalov@gmail.com" class="lead"><p class="no-margin-bottom">I have a question or suggestion<i class="half-margin-left fa fa-angle-right"></i></p></a>
        </div>
      </div>
    </div>-->
    
    <div id="play-intro" class="modal small-12 medium-9 large-7 small-centered columns">
      <div class="videoWrapper">
        <!--<iframe id="intro-video" width="1280" height="720" src="https://www.youtube.com/embed/U698XPB13-Y?rel=0" allowscriptaccess="always" frameborder="0" allowfullscreen></iframe>-->
      </div>
    </div>
    
    <div id="signup-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h2 class="popup-title">Join openCurrents</h2>
      </div>

      <!--<form>-->
        <div class="row one-margin-top">
          <div class="small-12 medium-9 small-centered columns"> 

            <div class="input-left small-6 columns">
            <input type="text" name="first_name" placeholder="First name" tabindex="1" />
            </div>
            
            <div class="input-right small-6 columns">
            <input type="text" name="last_name" placeholder="Last name" tabindex="2" />
            </div>
            <div class="small-12 columns">
            <input type="email" name="email" placeholder="Email address" tabindex="3" />
            </div>
          </div>
        </div>
      
        <div class="row center half-margin-top">
          <!--<input type="submit" class="button large round" value="Create account"/>-->
          <a href="confirm-account"><button class="button large round">Create account</button></a>
          <p class="grey">or <a href="login">Log in</a></p>
        </div>
      <!--</form>-->
    </div>

    <div id="demo-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <div class="small-11 small-centered columns">
          <h2 class="popup-title">This is a demo.</h2>
          <p class="navy">Come see what we're working on. Most buttons will work, but don't bother entering information, as data is not yet being saved.</p>
          <p class="navy three-halves-margin-bottom">If you have any questions or would like to get involved, click "Contact us" at the bottom of each page.</p>
          <a class="signup-box_open demo-box_close"><button type="submit" class="button large round">Continue</button></a>
        </div>
      </div>
    </div>
    
    <div id="suggestion-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row">
        <div class="center small-centered medium-10 columns">
          <h3 class="popup-title">Speak your mind</h3>

        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="/js/home.js"></script>
    
    <!--<script type="text/javascript">
      var timeout = 100;
      var timer;
        $(window).scroll(function(event){
          clearTimeout(timer);
          timer = setTimeout(function() {
            $(".header-spacer, .snap").each(function() {
              var scrollTop = $(window).scrollTop();
              var offset = $(this).offset().top;
              if(offset-scrollTop < 200 && offset-scrollTop > -50) {
                $('html,body').animate({scrollTop: $(this).offset().top},'slow');
                return;
              }
            });
          }, timeout);
        });
    </script>-->

    <script type="text/javascript">
    $(document).ready(function(){

      $('#intro-button-1').click(function(){
        $('#intro-1').fadeOut(777, function(){
          $('#intro-2').fadeIn(777);
        });
      });

      $('#intro-button-2').click(function(){
        $('#home-logo').animate({width: "280px", height: "70px"}, 1555);
        $('#intro-2').fadeOut(777, function(){
          $('#intro-3').fadeIn(777);
        });
      });

      $('#intro-button-3').click(function(){
        $('#intro-3').fadeOut(777, function(){
          $('#intro-4').fadeIn(777);
        });
      });

      $('#intro-button-4').click(function(){
        $('#intro-4').fadeOut(777, function(){
          $('#intro-5').fadeIn(777);
        });
      });
    });

    </script>

    <script type="text/javascript">
      /*$(function() {

        if (Modernizr.history) {

          // history is supported; do magical things

          // hijack the nav click event
          $("div").delegate("a", "click", function() {

            _href = $(this).attr("href");

            // change the url without a page refresh and add a history entry.
            history.pushState(null, null, _href);

            // load the content
            loadContent(_href); // fear not! we're going to build this function in the next code block

          });

        } else {

          // history is not supported; nothing fancy here

        }

      });

      // set up some variables
      var $mainContent = $("#home"),
          $pageWrap    = $("#home"),
          baseHeight   = 0,
          $el;

      // calculate wrapper heights to prevent jumping when loading new content
      $pageWrap.height($pageWrap.height());
      baseHeight = $pageWrap.height() - $mainContent.height();

      function loadContent(href) {

        $mainContent
          .find("#intro-1")
          .fadeOut(777, function() { // fade out the content of the current page
            $mainContent
              .hide()
              .load(href, function() { // load the contents of whatever href is
                $mainContent.fadeIn(777, function() {
                  $pageWrap.animate({
                    height: baseHeight + $mainContent.height() + 'px'
                  });
               });
            
            $("div a").removeClass("current");

            $("div a[href$='" + href + "']").addClass("current");

          });

        });

      }*/
    </script>
    
    <script type="text/javascript">
      
      $(document).ready(function(){

        var $root = $('html, body');
        $('a').click(function() {
            var href = $.attr(this, 'href');
            $root.animate({
                scrollTop: $(href).offset().top
            }, 1111, function () {
                window.location.hash = href;
            });
            return false;
        });
        
        $('#play-intro').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: false,
          onclose: function() {
            var vid = jQuery('.videoWrapper iframe[src*="youtube"]');
            if ( vid.length > 0 ){
              var src = vid.attr('src');
                vid.attr('src', '');
                vid.attr('src', src);
            }
          }
        });
        
        $('#signup-box, #suggestion-box, #demo-box').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: false,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>