{% extends "layouts/home-base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}

  <link href="{% static "css/video-button.css" %}" rel="stylesheet" type="text/css">
  <meta name="description" content="openCurrents lets anyone create currency
  by volunteering. Create 1 Current for each hour you work, and use Currents
  for purchases with businesses. It's like getting paid for doing good.">
  <meta property="og:url" content="http://www.opencurrents.com" />
  <meta property="og:title" content="Get paid for doing good."/>
  <meta property="og:description" content="openCurrents lets anyone create
  currency by volunteering. Give time, create Currents." />
  <meta property="og:image" content="{% static "img/fb-share-img.png" %}" />

  <title>Create currency by volunteering for the greater good &bull; openCurrents</title>

{% endblock head %}


{% block logo %}
  <a href="#1">
    <img id="header-logo" src="{% static 'img/logo.svg' %}" />
  </a>
{% endblock logo %}


{% block content %}
  <div class="js-close-any" canvas>
    <div id="intro-1">
      <div id="1" class="header-spacer"></div>

      <div class="row center">
        <div class="medium-8 small-centered columns">
          <h1 id="home-tagline" class="white">
            The currency you earn by volunteering!
          </h1>
        </div>
      </div>

      <!-- <div class="row center one-margin-top one-margin-bottom">
        <div class="thumb-wrapper">
          <a class="play-intro_open">
            <div class="thumb-box">
              <img id="video-thumb" src="{% static 'img/video-thumb.png' %}" alt="" />
              <svg id="play-button" version="1.1" id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="77px" height="77px" viewBox="0 0 70 70"
              enable-background="new 0 0 70 70" xml:space="preserve">
                <polygon id="play-poly" points="30,27.119 42.579,35 30,42.881"
                stroke-width="2"/>
                <circle id="play-circle" fill="none" stroke-width="1.9429"
                stroke-miterlimit="10" cx="35" cy="35" r="34"/>
              </svg>
            </div>
            <span id="video-title">Play video</span>
          </a>
        </div>
      </div> -->

      <form method="post" action="{% url 'openCurrents:process_home' %}">
        {% csrf_token %}
          <div class="row center collapse three-margin-top">
            <div class="small-11 medium-6 small-centered columns">
              <strong>
                <input
                  type='submit'
                  onClick="ga('send', 'event', 'NewUser', 'GetStartedSignup');"
                  class="three-qtr-margin-left button orange fit-right"
                  value='Get started'
                />
              </strong>

              <span class="input-sizer">
                <input id="user_email" name='user_email' type="email" placeholder="Email"/>
              </span>
            </div>
          </div>
      </form>

      <div class="row center one-margin-top">
        <a
          onClick="ga('send', 'event', 'NewUser', 'OpenVideo');"
          class="play-intro_open button round small"
        >
          Play video
        </a>
        <a
          {% include "partials/login-logic.html" %}
          class="button round small"
        >
          Log in
        </a>
      </div>

      <div class="row center one-margin-top two-margin-bottom">
        <div class="small-12 medium-6 large-4 small-centered columns">
          <!--<a href="#signup" class="button blue-bg round large">
            Join openCurrents
          </a>-->

          <a href="#2" class="home-link white">
            <p class="no-margin-bottom">Learn more</p>
            <i class="half-margin-left fa fa-lg fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="intro-2">
      <div id="2" class="header-spacer"></div>
      <div class="row center">
        <div class="medium-11 small-centered columns">
          <h3 class="title one-margin-bottom">Volunteer 1 hour to create and earn 1 Current</h3>
          <!-- <h3 class="title">What are Currents?</h3> -->
          <!-- <h5 class="qtr-margin-bottom">Currents are digital currency generated by social action.</h5> -->
          <!-- <h5 class="one-margin-bottom">Use Currents with businesses in the community.</h5> -->
          <i class="blue fa fa-2x fa-clock-o"></i>
          <h3 class="blue inline-block">1 =</h3>
          <img id="intro-symbol" src="{% static 'img/symbol-blue-bold.svg' %}" />
          <h3 class="blue inline-block">1 = $20</h3>
        </div>
      </div>

      <div class="row center two-margin-top">
        <div class="small-12 medium-10 small-centered columns">
          <h6 class="half-margin-bottom navy">
            It's Volunteer Appreciation Month - Get $40 credit on us with these businesses!

          </h6>
        </div>
      </div>

      {% include "partials/featured-bizzes-home.html" %}

      {% include "partials/featured-npfs-home.html" %}

      <!-- <div class="row">
        <a href="{% url 'openCurrents:marketplace' %}" class="button round">
          See who's accepting Currents
        </a>
      </div> -->


      <div class="row center three-halves-margin-top">
        <div class="medium-6 large-4 small-centered columns">
          <a href="#3" class="large-text"><p class="no-margin-bottom">Our vision</p><i class="two-margin-bottom fa fa-lg fa-angle-down"></i></a>
        </div>
      </div>
    </div>

    <div id="intro-3">
      <div id="3" class="header-spacer"></div>

      <div class="row center one-margin-top">
        <div class="medium-10 small-centered columns">
          <h3 class="white title">What if we could all earn a living <br class="hide-for-small-only">on the good we are giving?</h3>
        </div>
      </div>

      <div class="row center half-margin-top collapse">
        <div class="medium-10 small-centered columns">
          <h3 class="home-quote white half-margin-bottom">"No one is useless in this world who <br class="hide-for-small-only">lightens the burdens of another."</h3>
          <h3 class="home-quote white">- Charles Dickens</h3>
        </div>
      </div>

      <div class="row center three-halves-margin-top two-margin-bottom">
        <a href="#4" class="home-link white"><p class="no-margin-bottom">Who benefits?</p><i class="two-margin-bottom fa fa-lg fa-angle-down"></i></a>
      </div>
    </div>

    <div id="intro-4">
      <div id="4" class="header-spacer"></div>
      <div class="row center">
        <div class="medium-8 small-centered columns">
          <h3 class="title-sub">Who benefits?</h3>
        </div>
      </div>

      <div class="hide-for-small-only">
        <div class="row center one-margin-top">
          <input type="radio" id="benefit-btn-1" name="benefit-[]" value="" class="hidden styled-radio" checked/>
            <label for="benefit-btn-1" id="all-button" class="benefit-icon button"><i class="fa fa-2x fa-globe"></i></label>
          <p class="lead grey">Everyone.</p>
        </div>

        <div id="benefit-box" class="row center">
          <p id="benefit-1" class="benefit-info center hidden">Finally, social action can help you make a living. Volunteers can earn Currents and spend them with participating businesses or "give twice" by donating Currents back to organizations.</p>

          <p id="benefit-2" class="benefit-info center hidden">Nonprofits have an exciting new tool to maximize impact. openCurrents enables social organizations to track hours, recruit quality volunteers and raise additional funds.</p>

          <p id="benefit-3" class="benefit-info center hidden">By accepting Currents, businesses can meaningfully engage their target audience, support their customers' favorite organizations, and even receive tax benefits.</p>

          <p id="benefit-4" class="benefit-info half-margin-top center">When good work is rewarded, more good is given. <br>Society as a whole benefits.</p>
        </div>

        <div id="benefits-div" class="row three-halves-margin-bottom">
          <div class="center medium-4 columns">
            <input type="radio" id="benefit-btn-2" name="benefit-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-btn-2" id="vol-button" class="benefit-icon button"><i class="fa fa-2x fa-users"></i></label>
            <p class="half-margin-bottom grey">Volunteers</p>
          </div>

          <div class="center medium-4 columns">
            <input type="radio" id="benefit-btn-3" name="benefit-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-btn-3" id="org-button" class="benefit-icon button"><i class="fa fa-2x fa-heartbeat"></i></label>
            <p class="half-margin-bottom grey">Nonprofits</p>
          </div>

          <div class="center medium-4 columns">
            <input type="radio" id="benefit-btn-4" name="benefit-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-btn-4" id="biz-button" class="benefit-icon button"><i class="fa fa-2x fa-shopping-cart"></i></label>
            <p class="half-margin-bottom grey">Businesses</p>
          </div>
        </div>
      </div>

      <div class="row show-for-small-only">
        <div class="small-12 small-centered columns">
          <div class="icon-box center">
            <input type="radio" id="benefit-sm-1" name="benefit-sm-[]" value="" class="hidden styled-radio" checked/>
              <label for="benefit-sm-1" id="all-button" class="benefit-icon button"><i class="fa fa-2x fa-globe"></i></label>
            <p class="grey half-margin-bottom lead">Everyone.</p>
            <p class="benefits-detail">When good work is rewarded, more good is given. Society as a whole benefits.</p>
          </div>

          <div class="icon-box center">
            <input type="radio" id="benefit-sm-2" name="benefit-sm-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-sm-2" id="vol-button" class="benefit-icon button"><i class="fa fa-2x fa-users"></i></label>
            <p class="grey half-margin-bottom large-text">Volunteers</p>
            <p class="benefits-detail hidden">Finally, social action can help you make a living. Volunteers can earn Currents and spend them with participating businesses or "give twice" by donating Currents back to organizations.</p>
          </div>

          <div class="icon-box center">
            <input type="radio" id="benefit-sm-3" name="benefit-sm-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-sm-3" id="org-button" class="benefit-icon button"><i class="fa fa-2x fa-heartbeat"></i></label>
            <p class="grey half-margin-bottom large-text">Nonprofits</p>
            <p class="benefits-detail hidden">Nonprofits have an exciting new tool to maximize impact. openCurrents enables social organizations to track hours, recruit quality volunteers and raise additional funds.</p>
          </div>

          <div class="icon-box center">
            <input type="radio" id="benefit-sm-4" name="benefit-sm-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-sm-4" id="biz-button" class="benefit-icon button"><i class="fa fa-2x fa-shopping-cart"></i></label>
            <p class="grey half-margin-bottom large-text">Businesses</p>
            <p class="benefits-detail hidden">By accepting Currents, businesses can meaningfully engage their target audience, support their customers' favorite organizations, and even receive tax benefits.</p>
          </div>
        </div>
      </div>

      <div class="row two-margin-top">
        <div class="two-margin-bottom center small-centered medium-8 columns">
          <a href="#5">
            <p class="no-margin-bottom">Getting started</p>
            <i class="half-margin-left fa fa-lg fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="intro-5">
      <div id="5" class="header-spacer"></div>
      <div class="row center">
        <div class="medium-8 small-centered columns">
          <h3 class="title-sub white">Start earning Currents</h3>
        </div>
      </div>

      <div class="row two-margin-top">
        <div class="two-margin-bottom center small-centered medium-12 columns">
          <div class="relative small-12 medium-4 columns">
            <div class="row">
              <div for="benefit-sm-1" class="intro-icon clear">
                <i class="fa fa-2x fa-heartbeat"></i>
              </div>
              <p class="no-margin-bottom lead"><strong>Volunteer</strong></p>
            </div>
            <div class="business-table row">
              <p class="">
                Join openCurrents and start investing time for the greater
                good. Give 1 hour to create 1 Current.
              </p>
              <img class="show-for-small-only business-arrow-sm"
              src="{% static "img/arrow-down-white.png" %}"/>
            </div>

            <img class="hide-for-small-only business-arrow"
            src="{% static "img/arrow-right-white.png" %}"/>
          </div>

          <div class="relative small-12 medium-4 columns">
            <div class="row">
              <div for="benefit-sm-1" class="intro-icon clear">
                <img id="home-symbol" src="{% static 'img/symbol-white.svg' %}" alt="">
              </div>
              <p class="no-margin-bottom lead"><strong>
                Visit the marketplace
              </strong></p>
            </div>

            <div class="business-table row">
              <p class="">
                Purchase from participating businesses, then upload your receipt
                to openCurrents.
              </p>
              <img class="show-for-small-only business-arrow-sm"
              src="{% static "img/arrow-down-white.png" %}"/>
            </div>

            <img class="hide-for-small-only business-arrow"
            src="{% static "img/arrow-right-white.png" %}"/>
          </div>

          <div class="small-12 medium-4 columns">
            <div class="row">
              <div for="benefit-sm-1" class="intro-icon clear">
                <i class="fa fa-2x fa-money"></i>
              </div>
              <p class="no-margin-bottom lead"><strong>
                Get cash back
              </strong></p>
            </div>

            <div class="business-table row">
              <p class="">
                Receive dollars from businesses to your account at the end of
                the month.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row center two-margin-top">
        <div class="medium-6 small-centered columns">
          <a href="#signup" class="home-link white">
            <p class="no-margin-bottom">Join the community</p>
            <i class="two-margin-bottom fa fa-lg fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="intro-6">
      <div id="signup" class="header-spacer"></div>

      <div class="row center">
        <h2 class="title-sub">Join openCurrents</h2>
        <div class="one-margin-top">
          <a href="{% url 'openCurrents:nonprofit' %}#signup" class="tag button round tiny secondary">
            Register a nonprofit
          </a>
          <a href="{% url 'openCurrents:business' %}#signup" class="tag button round tiny secondary">
            Register a business
          </a>
        </div>
      </div>

      <form method="post" action="{% url 'openCurrents:process_signup' %}">
        {% csrf_token %}
        <div class="row collapse three-halves-margin-bottom half-margin-top">
          <div class="center small-12 medium-8 small-centered columns">

            <div class="small-6 columns">
              <input class="lead center" type="text" name="user_firstname" placeholder="First name" required />
            </div>

            <div class="small-6 columns">
              <input class="lead center" type="text" name="user_lastname" placeholder="Last name" required />
            </div>
            <div class="small-12 columns">
              <input class="lead center" type="email" name="user_email" placeholder="Email address" required />
            </div>
          </div>
        </div>

        <div class="row center one-margin-top">
          <input
            onClick="ga('send', 'event', 'NewUser', 'JoinOcSignup');"
            type="submit"
            class="button large round"
            value="I'm in!"
          />
          <a href="javascript:void(Tawk_API.toggle())" class="large-text">
            <p>
              I have a question
              <i class="half-margin-left fa fa-angle-right"></i>
            </p>
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}


{% block popups %}
  <div id="play-intro" class="modal small-12 medium-8 small-centered columns">
    <div class="row">
      <div class="videoWrapper">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/4a9FEjTaswc"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class="row center one-margin-top">
      <a href="{% url 'openCurrents:home' %}#signup" class="button round tiny no-margin-bottom">
        Join openCurrents
      </a>
      <a class="play-intro_close button round tiny secondary no-margin-bottom">
        Close
      </a>
    </div>
  </div>

  <div id="signup-box" class="modal center small-12 medium-9 large-8 small-centered columns">
    <div class="row center">
      <h2 class="one-margin-top">Join openCurrents</h2>
      <div class="one-margin-top">
        <a href="{% url 'openCurrents:nonprofit' %}#signup" class="tag button round tiny secondary">
          Register a nonprofit
        </a>
        <a href="{% url 'openCurrents:business' %}#signup" class="tag button round tiny secondary">
          Register a business
        </a>
      </div>
    </div>

    <form method="post" action="{% url 'openCurrents:process_signup' %}">
    {% csrf_token %}
      <div class="row three-halves-margin-bottom half-margin-top">
        <div class="center small-12 medium-9 small-centered columns">

          <div class="small-6 columns">
            <input class="large-text center" type="text" name="user_firstname" placeholder="First name" tabindex="0" required/>
          </div>

          <div class="small-6 columns">
            <input class="large-text center" type="text" name="user_lastname" placeholder="Last name" tabindex="0" required />
          </div>
          <div class="small-12 columns">
            <input class="large-text center" type="email" name="user_email" placeholder="Email address" tabindex="0" required/>
          </div>
        </div>
      </div>

      <div class="row center half-margin-top">
        <p id="incomplete-form" class="hidden">Hi! Please add your full name and email to continue.</p>
        <input type="submit" class="button large round" value="Create account"/>
        <p class="grey">Existing member? <a href="{% url 'openCurrents:login' %}">Log in</a></p>
      </div>
    </form>
  </div>
{% endblock popups %}


{% block js %}
  {{ block.super }}

  <script type="text/javascript">
    // $('#signup-type-2').click(function(){
    //   $('#org-signup-name').slideDown();
    // });
    //
    // $('#signup-type-1').click(function(){
    //   $('#org-signup-name').slideUp();
    // });

    // small benefits box
    $('.benefit-icon').click(function(){
      $('.benefits-detail').slideUp();
      $(this).siblings('.benefits-detail').slideDown();
    });

    $(document).ready(function(){

      // non-small benefits box
      var val = 4;

      $('#vol-button').click(function(){
        $('#benefit-'+val+'').fadeOut(777, function(){
          $('#benefit-1').fadeIn(777);
        });
        val = 1;
      });

      $('#org-button').click(function(){
        $('#benefit-'+val+'').fadeOut(777, function(){
          $('#benefit-2').fadeIn(777);
        });
        val = 2;
      });

      $('#biz-button').click(function(){
        $('#benefit-'+val+'').fadeOut(777, function(){
          $('#benefit-3').fadeIn(777);
        });
        val = 3;
      });

      $('#all-button').click(function(){
        $('#benefit-'+val+'').fadeOut(777, function(){
          $('#benefit-4').fadeIn(777);
        });
        val = 4;
      });
    });

    $('#play-intro').popup({
      vertical: 'top',
      transition: 'all 0.75s',
      scrolllock: false,
      onclose: function() {
        var vid = jQuery('.videoWrapper iframe[src*="youtube"]');
        if ( vid.length > 0 ){
          var src = vid.attr('src');
            vid.attr('src', '');
            vid.attr('src', src);
        }
      }
    });
  </script>
{% endblock js %}
