{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  
  <body>
    {% include "header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}
        
        <div class="row">
          <h3 class="title">Invite volunteers</h3>
        </div>
        
        <div class="row one-margin-bottom center">
          <div class="small-12 medium-8 small-centered columns">
            <div id="vol-invites-box" class="row">
              <div class="small-6 columns">
                <input type="text" name="vol-name-1" id="vol-name-1" placeholder="First name (optional)" />
              </div>

              <div class="small-6 columns">
                <input type="text" name="vol-email-1" id="vol-email-1" placeholder="Email" />
              </div>
            </div>

            <div class="row">
              <a id="add-volunteer">Add volunteer</a>
              <p class="one-margin-top">or add multiple emails separated by spaces, new lines, or commas</p>
              <textarea name="bulk-emails" placeholder="email@yahoo.com, address@wahoo.com" rows="3"></textarea>
            </div>
          </div>

          <a href="{% url 'openCurrents:admin-profile' %}" class="one-margin-top button round">Send invites</a>
          <!-- <p><a href="{% url 'openCurrents:project-created' %}">Skip for now</a></p> -->
        </div>
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include "footer.html" %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        var vols = 1;

        $('#add-volunteer').click(function() {

          vols ++;

          $('#vol-invites-box').append('<div class="hidden small-6 columns"><input type="text" name="vol-name-'+vols+'" id="vol-name-'+vols+'" placeholder="First name (optional)" /></div><div class="hidden small-6 columns"><input type="text" name="vol-email-'+vols+'" id="vol-email-'+vols+'" placeholder="Email" /></div>');
          $('#vol-invites-box .hidden').slideDown();
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>