{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block heading %}
  <div class="row">
    <div class="small-12 columns">
      <h3 class="title-sub">
        {% block title %} Invite volunteers {% endblock title %}
      </h3>

      {% block subtitle %}
        <p>
          {% if event_project_name %}
            to help with <strong>{{ event_project_name }}</strong>
          {% else %}
            to join the community and record hours with {{ orgname }}
          {% endif %}
        </p>
      {% endblock subtitle %}

      <a id="add-bulk-emails" class="button round tiny secondary">
        Add email list
      </a>
      <a id="add-single-emails" class="hidden button round tiny secondary">
        Add single emails
      </a>

      <!-- <p><a class="invite-list-popup_open">See invited volunteers</a></p> -->
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <form action ="" name="theForm" id="form_id" method="post">
  {% csrf_token %}
    <div class="row center">
      <div class="small-12 medium-8 small-centered columns">

        <div id="bulk-invites-box" class="hidden three-halves-margin-top">
          <label for="id_bulk_invites" class="left navy">
            Copy/paste email list:
          </label>
          <textarea name="bulk-vol" id="id_bulk_invites" rows="4"
          placeholder="volunteer@yahoo.com, dogooder@hooray.org"></textarea>
        </div>

        <div id="single-invites-box">
          <div id="vol-invites-box" class="row">
            <div class="small-6 columns">
              <input type="text" name="vol-name-1" placeholder="First name (optional)" />
            </div>
            <div class="small-6 columns">
              <input type="text" name="vol-email-1" placeholder="Email" />
            </div>

            <div class="small-6 columns">
              <input type="text" name="vol-name-2" placeholder="First name" />
            </div>
            <div class="small-6 columns">
              <input type="text" name="vol-email-2" placeholder="Email" />
            </div>

            <div class="small-6 columns">
              <input type="text" name="vol-name-3" placeholder="First name" />
            </div>
            <div class="small-6 columns">
              <input type="text" name="vol-email-3" placeholder="Email" />
            </div>
          </div>

          <div class="row left one-margin-bottom">
            <div class="column">
              <a id="add-volunteer" class="blue-icon">
                <i class="fa fa-plus-circle half-margin-left half-margin-right"></i>
                Add volunteer
              </a>
            </div>
          </div>
        </div>

        {% block invite-volunteer-checkbox %}
        {% endblock invite-volunteer-checkbox %}

        {% block add_email_block %}
          <div id="personal-message-div" class="left hidden">
            <label for="personal-message-text">
              A message from {{ user.first_name }} {{ user.last_name }} (optional):
            </label>
            <textarea name="personal_message" id="personal-message-text"></textarea>
          </div>

          <p class="three-halves-margin-top no-margin-bottom">
            <a id="add-personal-message" class="half-margin-bottom button tiny round secondary">
              Add personal message
            </a>
          </p>
        {% endblock add_email_block %}
      </div>

      <!--<a href="{% url 'openCurrents:org-admin' %}" class="button round secondary">Send invites</a>-->
      <button type='submit' id="button_1" class="button round half-margin-top">
        {% block send_button_name %}
            Send invites
        {% endblock send_button_name %}
        <input type="hidden" id="count-vol" name="count-vol" value="3" />
      </button>
    </div>

    {% block preview_email %}
      <p class="half-margin-bottom">
        <a class="preview-email-popup_open">
          Preview email
        </a>
      </p>
    {% endblock preview_email %}


    {% if skip == 1 %}
      <a href="{% url 'openCurrents:org-admin' num_vols=0 %}">
        Skip for now
      </a>
    {% endif %}
  </form>
{% endblock content %}

{% block popups %}
  <div id="preview-email-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    {% include "popups/preview-email-popup.html" %}
  </div>
{% endblock popups %}


{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){

      $('#preview-email-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

      // Disable submit on Enter
      $("form input").on("keypress", function(e) {
        return e.keyCode != 13;
      });

      // Add volunteers
      var vols = 3;

      $('#add-volunteer').click(function() {

        vols ++;
        document.getElementById('count-vol').value = vols;

        $('#vol-invites-box').append('<div class="hidden slide small-6 columns">\
          <input type="text" name="vol-name-'+vols+'" id="vol-name-'+vols+'" placeholder="First name" />\
        </div><div class="hidden small-6 columns">\
        <input type="text" name="vol-email-'+vols+'" id="vol-email-'+vols+'" placeholder="Email" />\
        </div>');
        $('#vol-invites-box .hidden').slideDown();
      });

      // show bulk textarea, hide single fields on click
      $('#add-bulk-emails').click(function(){
        $('#bulk-invites-box').slideDown();
        $('#single-invites-box').slideUp();
        $(this).hide();
        $('#add-single-emails').show();
      });

      // hide bulk textarea, show single fields on click
      $('#add-single-emails').click(function() {
        $(this).hide();
        $('#add-bulk-emails').show();
        $('#single-invites-box').slideDown();
        $('#bulk-invites-box').slideUp();
      });

      // show personal message textarea
      $('#add-personal-message').click(function(){
        $(this).hide();
        $('#personal-message-div').slideDown();
      });

      // // Copy personal message from popup to input in form
      // $('#save-message').click(function(){
      //   var text = $('#personal-message-typed').val();
      //   $('#personal-message-submit').val(text);
      //   $('#personal-message-div').show();
      //   $('#personal-message-detail').show();
      //   $('#personal-message-preview').show().text(text);
      // });

      // Copy personal message from input to preview email
      $('#personal-message-text').on('input', function(){
        var text = $('#personal-message-text').val();
        $('#personal-message-preview').show().text(text);
        $('#personal-message-detail').show();

        // if user clears the message, hide 'and sent you a message' in preview
        if ($('#personal-message-text').val() == '') {
          $('#personal-message-detail').hide();
        };
      });
    });
  </script>
{% endblock js %}
