{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}

    <link href="{% static 'css/auto-complete.css' %}" rel="stylesheet" type="text/css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGfdpv-Vg_rskfib8jzp-a6VI92QuC2I0&v=3.exp&types=address&libraries=places"></script>
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <h4 class="title-sub">Let's {{ event.project.name }}!</h4>
            <p>with {{ event.project.org.name }}</p>
          </div>
        </div>

        <form id='form-add' method="post">
          {% csrf_token %}

          <!-- catch and display any top-level form errors -->
          <!-- (as opposed to field-specific errors which are displayed next to each field) -->
          {% if errors %}
            <div class="row">
              {% for error in errors %}
                <p>
                  {{ error }}
                </p>
              {% endfor %}
            </div>
          {% endif %}

          <div class="row one-margin-bottom center">
            <div id="new-volunteers" class="small-12 medium-8 small-centered columns">
              <h6 class="half-margin-top one-margin-bottom left">Add volunteer</h6>

              <div class="row">
                <div class="input-right small-6 columns">
                  {{ form.user_firstname }}
                </div>

                <div class="input-right small-6 columns">
                  {{ form.user_lastname }}
                </div>

                <div class="input-right small-12 medium-12 columns">
                  {{ form.user_email }}
                </div>
              </div>

              <div class="one-margin-bottom checkbox center">
                <label><input type="checkbox" name="invite-optin" id="invite-optin" />Invite volunteer to openCurrents</label>
              </div>

              <a id="add-volunteer" class="button round small secondary">
                Add volunteer
              </a>

              <p id="vol-error" class="small-text hidden alert">Name and email required</p>
              <p id="vol-exist" class="small-text hidden alert">Volunteer already enrolled</p>
              <p id="email-error" class="small-text hidden alert">Invalid email address</p>
            </div>
          </div>
        </form>

        <form id='form-checkin' method="post">
          {% csrf_token %}

          <!-- catch and display any top-level form errors -->
          <!-- (as opposed to field-specific errors which are displayed next to each field) -->
          {% if errors %}
            <div class="row">
              {% for error in errors %}
                <p>
                  {{ error }}
                </p>
              {% endfor %}
            </div>
          {% endif %}

          <div class="row">
            <div class="small-12 medium-8 small-centered columns">
              <h6 class="left half-margin-top half-margin-bottom">Registered volunteers</h6>

              <div class="row">
                <div class="left small-8 columns">
                  <p class="small-text half-margin-top half-margin-bottom"><strong>Name / Email</strong></p>
                </div>

                <div class="right small-4 columns">
                  <p class="small-text half-margin-top half-margin-bottom"><strong>Check in</strong></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div id="registered-volunteers" class="small-12 medium-8 small-centered columns">
              {% for user in registered_users %}
                <div class="row">
                  <div class="left small-9 columns">
                    <p class="half-margin-top">
                      {% if user.first_name %}
                        {{ user.first_name }}
                        {{ user.last_name }}
                      {% else %}
                        {{user.email}}
                      {% endif %}
                    </p>
                  </div>

                  <div class="right small-3 columns">
                    <input type="checkbox" id="vol-checkin-{{ user.id }}" name="vol-checkin-{{ user.id }}" value="{{ user.id }}" class="hidden"
                      {% if user.id in checkedin_users %}
                        checked
                      {% endif %}
                    />
                    <label class="large-icon" for="vol-checkin-{{ user.id }}">
                      <i class="styled-checkbox fa fa-lg fa-check-circle"></i>
                    </label>
                  </div>

                  <div class="hidden">
                    <p id='vol-status-{{ user.id }}' class="half-margin-top"> </p>
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        </form>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <script type="text/javascript">
      let onCheckClick = function(event) {
        let name = event.target.name;
        let elem = $(`#${name}`);
        let userid = elem.val();
        let isChecked = elem.prop("checked");

        $.ajax({
          url: "{% url 'openCurrents:event_checkin' event_id %}",
          type: 'POST',
          data : {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[1].value,
            userid: userid,
            checkin: isChecked
          },
          dataType : "json",
          context: document.body
        }).complete(function( data ){
          if (isChecked) {
            let dt = new Date();
            $(`#vol-status-${userid}`).text(`${dt.toLocaleTimeString()}`);
            $(`#vol-status-${userid}`).show();
          }
          else {
            $(`#vol-status-${userid}`).text(`${data.responseText} min.`);
          }
        });
      };

      $(document).ready(function(){
        // bind all existing checkbox to checkin
        $("input[name^='vol-checkin']").click(onCheckClick);

        $("#add-volunteer").click(function(event){
          if ($('#new-firstname').val() == '' || $('#new-lastname').val() == '' || $('#new-email').val() == '') {
            $('#vol-error').slideDown();
          } else if ( !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#new-email').val() ))  ) {
            $('#vol-error').slideUp();
            $('#email-error').slideDown();
          } else {
            $('#vol-error').slideUp();
            $('#email-error').slideUp();

            let new_firstname = $('#new-firstname').val();
            let new_lastname = $('#new-lastname').val();
            let new_email = $('#new-email').val();
            let invite_optin = $('#invite-optin').prop('checked');
            let process_signup_url;
            
            if (invite_optin) {
              process_signup_url = "{% url 'openCurrents:process_signup' endpoint=True verify_email=True %}"
            }
            else {
              process_signup_url = "{% url 'openCurrents:process_signup' endpoint=True verify_email=False %}"
            }

            $.ajax({
              url: process_signup_url,
              type: 'POST',
              data : {
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                user_firstname: new_firstname,
                user_lastname: new_lastname,
                user_email: new_email
              },
              dataType : "json",
            }).success(function( data ) {
              let userid = data;

              $.ajax({
                url: "{% url 'openCurrents:event_register_live' eventid=event.id %}",
                type: 'POST',
                data : {
                  csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                  userid: userid
                },
                dataType : "json",
              }).complete(function( data ) {
                let test_data = data;
                if (test_data.responseJSON != undefined){
                  $('#registered-volunteers').prepend(`
                    <div class="row"> \
                      <div class="left small-9 columns"> \
                        <p class="half-margin-top"> \
                          ${new_firstname} \
                          ${new_lastname} \
                        </p> \
                      </div> \

                      <div class="right small-3 columns"> \
                          <input type="checkbox" id="vol-checkin-${userid}" name="vol-checkin-${userid}" value="${userid}" class="hidden"/> \
                          <label class="large-icon" for="vol-checkin-${userid}"> \
                            <i class="styled-checkbox fa fa-lg fa-check-circle"></i> \
                          </label> \
                      </div> \
                    </div> \
                  `)

                  // clear form inputs
                  $('#new-firstname').val('');
                  $('#new-lastname').val('');
                  $('#new-email').val('');
                  $('#invite-optin').attr("checked", false);

                  // bind new checkbox to checkin
                  $(`input[name='vol-checkin-${userid}']`).click(onCheckClick);
                  if(test_data.responseJSON.event_status=='1'){
                    $(`input[name='vol-checkin-${userid}']`).trigger('click')
                  }
                }
                else{
                  $('#new-firstname').val('');
                  $('#new-lastname').val('');
                  $('#new-email').val('');
                  $('#invite-optin').attr("checked", false);
                  $('#vol-exist').slideDown();
                }
              });
            });

          }
        });

        // $('#live-location-popup').popup({
        //   vertical: 'top',
        //   transition: 'all 0.75s',
        //   autoopen: true,
        // });
      });
    </script>

    <script type="text/javascript">
      function initialize() {
      var input = document.getElementById('new-location');
      var autocomplete = new google.maps.places.Autocomplete(input);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript" src="{% static 'js/auto-complete.min.js' %}"></script>
    <script type="text/javascript">
      // initialize
      let lastnames = [];
      let new_email_auto = new autoComplete({
        selector: 'input[id="new-lastname"]',
        minChars: 2,
        source: function(term, suggest){
          let choices = [];
          {% for user in unregistered_users %}
            choices.push("{{ user.last_name }}");
          {% endfor %}
          lastnames = choices;

          var matches = [];
          for (i=0; i<lastnames.length; i++)
              if (~lastnames[i].toLowerCase().indexOf(term) || ~lastnames[i].indexOf(term)) {
                matches.push(lastnames[i]);
              }
          suggest(matches);
        }
      });

      $('#new-lastname').change(function () {
        let lastname = $('#new-lastname').val();
        let d = {{ uu_lookup }};

        if ( lastname && ~lastnames.indexOf(lastname) ) {
          $('#new-firstname').val(d[lastname]['first_name']);
          $('#new-email').val(d[lastname]['email']);
        }
      });

    </script>

    <script type="text/javascript">
      {% if forbidden %}
        window.location.href = "{% url 'openCurrents:500' %}";
      {% endif %} 
    </script>


    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
