{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block head %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGfdpv-Vg_rskfib8jzp-a6VI92QuC2I0&v=3.exp&types=address&libraries=places"></script>
{% endblock head %}

{% block heading %}
  <div class="row">
    <div class="small-12 medium-8 small-centered columns">
      <h4 class="three-halves-margin-top">
        {% block title %}Let's {{ event.project.name }}!{% endblock title %}
      </h4>
      <p>with {{ event.project.org.name }} at {{ event.location }}</p>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <form id='form-add' method="post">
    {% csrf_token %}

    <!-- catch and display any top-level form errors -->
    <!-- (as opposed to field-specific errors which are displayed next to each field) -->
    {% if errors %}
      <div class="row">
        {% for error in errors %}
          <p>
            {{ error }}
          </p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row one-margin-bottom center">
      <div id="new-volunteers" class="small-12 medium-8 small-centered columns">
        <h6 class="left">Add volunteer</h6>

        <div class="row">
          <div class="input-right small-6 columns">
            {{ form.user_firstname }}
          </div>

          <div class="input-right small-6 columns">
            {{ form.user_lastname }}
          </div>

          <div class="input-right small-12 medium-12 columns">
            {{ form.user_email }}
          </div>
        </div>

        <div class="no-margin-top half-margin-bottom checkbox center">
          <label><input type="checkbox" name="invite-optin" id="invite-optin" />Invite volunteer to openCurrents</label>
        </div>

        <a id="add-volunteer" class="half-margin-bottom button round tiny secondary">
          Add volunteer
        </a>

        <!-- status messages -->
        <p id="vol-error" class="small-text hidden alert">
            Name and email required
        </p>
        <p id="vol-exist" class="small-text hidden alert">
            Volunteer already registered for the event
        </p>
        <p id="email-error" class="small-text hidden alert">
            Invalid email address
        </p>
        <p id="live-dashboard-error" class="small-text hidden alert">
          Server Error: unable to checkin user to the event
        </p>
        <p id="live-dashboard-error-register" class="small-text hidden alert">
          User was checked in to the event, but not everything went smoothly.
          Please contact us at team@opencurrents.com
        </p>
      </div>
    </div>
  </form>

  <form id='form-checkin' method="post">
    {% csrf_token %}

    <!-- catch and display any top-level form errors -->
    <!-- (as opposed to field-specific errors which are displayed next to each field) -->
    {% if errors %}
      <div class="row">
        {% for error in errors %}
          <p>
            {{ error }}
          </p>
        {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <div class="small-12 medium-8 small-centered columns">
        <h6 class="left half-margin-bottom">Registered volunteers</h6>

        <div class="row">
          <div class="left small-8 columns">
            <p class="small-text half-margin-top half-margin-bottom"><strong>Name / Email</strong></p>
          </div>

          <div class="right small-4 columns">
            <p class="small-text half-margin-top half-margin-bottom"><strong>Check in</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="registered-volunteers" class="small-12 medium-8 small-centered columns">
        {% for user in registered_users %}
          <div class="row">
            <div class="left small-9 columns">
              <p class="half-margin-top">
                {% if user.first_name %}
                  {{ user.first_name }}
                  {{ user.last_name }}
                {% else %}
                  {{user.email}}
                {% endif %}
              </p>
            </div>

            <div class="right small-3 columns">
              <input {% if checkin_disabled %}disabled{% endif %} type="checkbox" id="vol-checkin-{{ user.id }}" name="vol-checkin-{{ user.id }}" value="{{ user.id }}" class="hidden checkin-checkbox"
                {% if user.id in checkedin_users %}
                  checked
                {% endif %}
              />

              <label class="large-icon" for="vol-checkin-{{ user.id }}">
                <i class="fa fa-lg fa-check-circle"></i>
              </label>
            </div>

            <div class="hidden">
              <p id='vol-status-{{ user.id }}' class="half-margin-top"> </p>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </form>

  <div class="row">
    <a href="{% url 'openCurrents:org-admin' %}" class="button round small secondary">
      Back to org home
    </a>
  </div>
{% endblock content %}

{% block footer %}
  <footer id="footer">
    <div class="small-12 columns center">
      <a href="https://tawk.to/chat/58857be25bcc2b263be87c10/default/?$_tawk_popout=true" class="button round clear" tabindex="0">Contact us</a>
    </div>
  </footer>
{% endblock footer %}

{% block js %}
  <script type="text/javascript">
    let onCheckClick = function(event) {
      let name = event.target.name;
      let elem = $(`#${name}`);
      let userid = elem.val();
      let isChecked = elem.prop("checked");

      $.ajax({
        url: "{% url 'openCurrents:event_checkin' event_id %}",
        type: 'POST',
        data : {
          csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[1].value,
          userid: userid,
          checkin: isChecked
        },
        dataType : "json",
        context: document.body
      }).done(function( data ){
        if (isChecked) {
          let dt = new Date();
          $(`#vol-status-${userid}`).text(`${dt.toLocaleTimeString()}`);
          $(`#vol-status-${userid}`).show();
        }
        else {
          $(`#vol-status-${userid}`).text(`${data.responseText} min.`);
        }
      }).fail(function () {
        $('#live-dashboard-error').slideDown();
      });;
    };

    $(document).ready(function(){
      // bind all existing checkbox to checkin
      $("input[name^='vol-checkin']").click(onCheckClick);

      $("#add-volunteer").click(function(event){
        if ($('#new-firstname').val() == '' || $('#new-lastname').val() == '' || $('#new-email').val() == '') {
          $('#vol-error').slideDown();
        } else if ( !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#new-email').val() ))  ) {
          $('#vol-error').slideUp();
          $('#email-error').slideDown();
        } else {
          $('#vol-error').slideUp();
          $('#email-error').slideUp();

          let new_firstname = $('#new-firstname').val();
          let new_lastname = $('#new-lastname').val();
          let new_email = $('#new-email').val();
          let invite_optin = $('#invite-optin').prop('checked');
          let process_signup_url;

          if (invite_optin) {
            process_signup_url = "{% url 'openCurrents:process_signup' endpoint=True verify_email=True %}"
          }
          else {
            process_signup_url = "{% url 'openCurrents:process_signup' endpoint=True verify_email=False %}"
          }

          $.ajax({
            url: process_signup_url,
            type: 'POST',
            data : {
              csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
              user_firstname: new_firstname,
              user_lastname: new_lastname,
              user_email: new_email
            },
            dataType : "json",
          }).done(function( data ) {
            let userid = data;

            let form_data = {
              csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
              userid: userid
            }

            $.ajax({
              url: "{% url 'openCurrents:event_register_live' eventid=event.id %}",
              type: 'POST',
              data: form_data,
              dataType : "json",
            }).done(function( data ) {
              
              // hide any error messages present
              $('#vol-exist').slideUp();
              $('#live-dashboard-error-register').slideUp();
              $('#live-dashboard-error').slideUp();
              $('#vol-error').slideUp();
              $('#email-error').slideUp();

              if (data) {
                $('#registered-volunteers').prepend(`
                  <div class="row"> \
                    <div class="left small-9 columns"> \
                      <p class="half-margin-top"> \
                        ${new_firstname} \
                        ${new_lastname} \
                      </p> \
                    </div> \

                    <div class="right small-3 columns"> \
                        <input {% if checkin_disabled %}disabled{% endif %} type="checkbox" id="vol-checkin-${userid}" name="vol-checkin-${userid}" value="${userid}" class="hidden checkin-checkbox"/> \

                        <label class="large-icon" for="vol-checkin-${userid}"> \
                          <i class="fa fa-lg fa-check-circle"></i> \
                        </label> \
                    </div> \
                  </div> \
                `)

                // clear form inputs
                $('#new-firstname').val('');
                $('#new-lastname').val('');
                $('#new-email').val('');
                $('#invite-optin').attr("checked", false);

                // bind new checkbox to checkin
                $(`input[name='vol-checkin-${userid}']`).click(onCheckClick);
                if (data.event_status == '1') {
                  $(`input[name='vol-checkin-${userid}']`).trigger('click')
                }
              }
              else {
                $('#new-firstname').val('');
                $('#new-lastname').val('');
                $('#new-email').val('');
                $('#invite-optin').attr("checked", false);
                $('#vol-exist').slideDown();
              }
            }).fail( function (data) {
              $('#live-dashboard-error-register').slideDown();
            });
          }).fail(function () {
            $('#live-dashboard-error').slideDown();
          });

        }
      });

      // $('#live-location-popup').popup({
      //   vertical: 'top',
      //   transition: 'all 0.75s',
      //   autoopen: true,
      // });
    });
  </script>

  <script type="text/javascript">
    function initialize() {
    var input = document.getElementById('new-location');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock js %}
