{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGfdpv-Vg_rskfib8jzp-a6VI92QuC2I0&v=3.exp&types=address&libraries=places"></script>
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row">
            <h4 class="title-sub">Let's install a rain garden!</h4>
            <p>Keep Austin Beautiful</p>
        </div>

        <div class="row one-margin-bottom center">
          <div id="new-volunteers" class="small-12 medium-8 small-centered columns">
            <h6 class="half-margin-top one-margin-bottom left">Add volunteers</h6>

            <div class="row">
              <div class="input-left small-5 columns">
                {{ form.first_name }}
              </div>

              <div class="input-middle small-5 medium-6 columns">
                {{ form.email }}
              </div>

              <div class="input-right half-margin-top left small-2 medium-1 columns">
                <a id="add-volunteer" class="blue-icon one-margin-right"><i class="fa fa-lg fa-check-circle"></i></a>
              </div>
            </div>

            <p id="vol-error" class="small-text hidden alert">Name and email required</p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <h6 class="left half-margin-top half-margin-bottom">Registered volunteers</h6>

            <div class="row">
              <div class="left small-7 medium-8 columns">
                <p class="small-text half-margin-top half-margin-bottom"><strong>Name</strong></p>
              </div>

              <div class="right small-5 medium-4 columns">
                <p class="small-text half-margin-top half-margin-bottom"><strong>Arrived?</strong></p>
              </div>
            </div>

            {% for user in users %}
              <div class="row">
                <div class="left input-left small-10 medium-11 columns">
                  <p class="half-margin-top">
                    {{ user.first_name }}
                    {{ user.last_name }}
                  </p>
                </div>

                <div class="left input-right small-2 medium-1 columns">
                  <input type="checkbox" id="vol-arrived-1" name="vol-arrived-1" value="" class="hidden"/>
                    <label class="large-text vol-arrived" for="vol-arrived-1"><i class="styled-checkbox fa fa-lg fa-check-circle"></i></label>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>



        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="live-location-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h4 class="popup-title">Select your location</h4>
      </div>

      <div class="row center">
        <div class="small-centered medium-8 columns">

          <select name="live-location">
            <option value="(location)">(List of locations)</option>
          </select>

          <p>or add a new location:</p>

          <input type="text" class="center" id="new-location" name="new-location" placeholder="New address"/>

          <div class="three-halves-margin-top"><button class="button round">Save</button></div>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){

        var num = 1;
        var volName;
        var volEmail;

        $("#add-volunteer").click(function(){

          if ($('#add-volunteer-name').val() == '' || $('#add-volunteer-email').val() == '') {
            $('#vol-error').slideDown();
          } else {
            volName = $('#add-volunteer-name').val();
            volEmail = $('#add-volunteer-email').val();

            $('#vol-error').slideUp();

            $('#new-volunteers').append('<div id="new-vol-'+num+'" class="row hidden"><div class="input-left small-5 columns"><input name="new-vol-name-'+num+'" type="text" class="hidden-input" value="'+volName+'"></div><div class="input-middle small-5 medium-6 columns"><input name="new-vol-email-'+num+'" type="text" class="hidden-input" value="'+volEmail+'"></div><div class="input-right half-margin-top left small-2 medium-1 columns"><input type="checkbox" checked id="new-vol-arrived-'+num+'" name="new-vol-arrived-'+num+'" class="hidden"/><label class="large-text vol-arrived" for="new-vol-arrived-'+num+'"><i class="styled-checkbox fa fa-lg fa-check-circle"></i></label></div></div>');

            $('#new-vol-'+num+'').slideDown();

            $('#add-volunteer-name').val('');
            $('#add-volunteer-email').val('');

            num ++;
          }
        });

        // $('#live-location-popup').popup({
        //   vertical: 'top',
        //   transition: 'all 0.75s',
        //   autoopen: true,
        // });
      });
    </script>

    <script type="text/javascript">
      function initialize() {
      var input = document.getElementById('new-location');
      var autocomplete = new google.maps.places.Autocomplete(input);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
