{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block heading %}
  <div class="row">
    <h2 class="title-sub">
      {% block title %} Log in {% endblock title %}
    </h2>
  </div>
{% endblock heading %}

{% block content %}
    <form method="post" action="{% url 'openCurrents:process_login' %}">

    {% csrf_token %}
      <div class="row half-margin-top">
        <div class="small-12 medium-6 small-centered columns">
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
          <input type="email" name="user_email" class="center" placeholder="Email address"/>
          <input type="password" name="user_password" class="center" placeholder="Password"/>
          <a class="forgotpassword-box_open">Forgot password?</a>
        </div>
      </div>
      <div class="row center one-margin-top">
        <!-- <div class="checkbox one-margin-bottom">
          <input type="checkbox" name="remember-me" id="remember-me" class="custom-checkbox" />
            <label for="remember-me">Keep me logged in</label>
        </div> -->

        <button type="submit" class="button round" onclick="this.disabled=true,this.form.submit();">Enter</button>
      </div>

      <div class="row center half-margin-top">
        <p class="grey">
          New member?<br/>
          <a href="{% url 'openCurrents:signup' %}">Join openCurrents</a>
        </p>
      </div>
  </form>
{% endblock content %}

{% block popups %}
  <div id="forgotpassword-box" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h2 class="one-margin-top no-margin-bottom">Request password reset</h2>
    </div>

    <form method="post" action="{% url 'openCurrents:password_reset_request' %}">
      {% csrf_token %}
      <div class="row three-halves-margin-bottom half-margin-top">
        <div class="center small-12 medium-9 small-centered columns">
          <div class="small-12 columns">
            <input type="email" name="user_email" class="center" placeholder="Email address"/>
            <div class="three-halves-margin-top">
              <input type="submit" class="button round" value="Enter"/>
              <a class="forgotpassword-box_close button round secondary">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock popups %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
       $('#forgotpassword-box').popup({
         vertical: 'top',
         transition: 'all 0.75s',
         scrolllock: false,
       });
     });
   </script>
{% endblock js %}
