{% extends "layouts/base.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>
  
  <body>
    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}
        
        <div class="row">
          <h3 class="title-sub">
            {% block title %} Marketplace {% endblock title %}
          </h3>
        </div>

        <div class="row">
          <div class="small-12 medium-9 small-centered columns">
            <h6 class="three-halves-margin-bottom">Check out these offers from openCurrents businesses:</h6>
          </div>
        </div>

        {% for offer in offers %}

          <div class="row one-margin-bottom center">
            <div class="small-12 medium-10 small-centered columns">
              <div class="left input-left small-9 columns">
                <p class="">
                  <strong> {{ offer.org.name }} </strong>
                  accepts Currents for
                  <a href="{% url 'openCurrents:redeem-currents' offer.id %}">
                    {{ offer.currents_share }}% of {{ offer.item.name }}
                  </a>

                  {% if offer.limit != -1 %}
                    ({{ offer.limit }} remaining this month)
                  {% endif %}
                </p>
              </div>

              <div class="right input-right small-3 columns">
                <a href="{% url 'openCurrents:redeem-currents' offer.id %}" class="button round tiny secondary">
                  Redeem
                </a>
              </div>
            </div>
          </div>

        {% endfor %}        

        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>
  
    <div id="transactions-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">How transactions work</h3>
      </div>
      
      <div class="row center">
        <div class="small-centered medium-10 columns">
          
          <p>To make it as easy as possible for businesses to accept Currents, nothing changes at point of sale - simply pay full price and ask for your receipt.</p>

          <p>Upload a picture of your receipt, and we will exchange your Currents for the business' dollars once they verify transactions at the end of the month.</p>

          <div class="one-margin-bottom">
            <input type="checkbox" name="no-more-popup" id="no-more-popup" class="custom-checkbox">
              <!-- <label for="no-more-popup">Don't show this again</label> -->
          </div>          
          <button class="transactions-popup_close button round">Got it</button>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#transactions-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
          autoopen: true,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>