{% extends "layouts/base.html" %}

{% load staticfiles %}
{% load tags %}

{% block status %}
  <div class="success row one-margin-top">
    {{ status_msg|safe }}
  </div>
{% endblock status %}

{% block heading %}
  <div class="row">
    <div class="small-12 medium-9 small-centered columns">
      <h3 class="title-sub">
        {% block title %} Marketplace {% endblock title %}
      </h3>
      <a href="{% url 'openCurrents:create-org' %}"
      class="half-margin-top button round tiny">
        Post an offer
      </a>
      <h6 class="three-halves-margin-bottom">
        or check out these offers from openCurrents businesses:
      </h6>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <div class="row one-margin-bottom center">
    <div class="small-12 medium-10 small-centered columns">
      {% for offer in offers %}
        {% with num_remaining=offer.limit|less:offer.num_redeemed %}
          <div class="left input-left small-9 columns">
            <p class="">
              <strong> {{ offer.org.name }} </strong>
              accepts Currents for
              <a href="{% url 'openCurrents:redeem-currents' offer.id %}">
                {{ offer.currents_share }}% of {{ offer.item.name }}
              </a>

                {% if offer.limit != -1 %}
                  (
                  {% if num_remaining > 0 %}
                    {{ num_remaining }}
                  {% else %}
                    0
                  {% endif %}
                  remaining this month)
                {% endif %}
            </p>
          </div>

          <div class="right relative small-3 columns">
            <a class="mini-open"><i class="half-margin-right blue fa-chevron-circle-down fa fa-lg"></i></a>
            <ul class="mini-menu">
              <a href="{% url 'openCurrents:live-dashboard' event.id %}">
                <li>Redeem offer</li>
              </a>
            </ul>
          </div>
        {% endwith %}
      {% empty %}
        <p>We are talking with businesses in Austin and around the country about
          exciting opportunities to use Currents for all kinds of products and
          services. We aim to have this marketplace connecting you with
          businesses accepting Currents this month!</p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}


{% block popups %}
  <div id="transactions-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">How transactions work</h3>
    </div>

    <div class="row center">
      <div class="small-centered medium-10 columns">

        <p>To make it as easy as possible for businesses to accept Currents,
          nothing changes at point of sale - simply pay full price and ask for
          your receipt.</p>

        <p>Upload a picture of your receipt, and we will exchange your Currents
          for the business' dollars once they verify transactions at the end of
          the month.</p>

        <div class="one-margin-bottom">
          <input type="checkbox" name="no-more-popup" id="no-more-popup" class="custom-checkbox">
            <!-- <label for="no-more-popup">Don't show this again</label> -->
        </div>
        <button class="transactions-popup_close button round">Got it</button>
      </div>
    </div>
  </div>
{% endblock popups %}


{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#transactions-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
        autoopen: true,
      });

      {% static "js/mini-menu.js" %}
    });
  </script>
{% endblock js %}
