<a class="list-group-item" href="">
  <i class="half-margin-right fa-fw fa fa-user"></i>
  My account
</a>

<a class="list-group-item" href="give-currents">
  <i class="half-margin-right fa-fw fa fa-long-arrow-right"></i>
  Give Currents
</a>

<a class="list-group-item" href="request-currents">
  <i class="half-margin-right fa-fw fa fa-long-arrow-left"></i>
  Request Currents
</a>

<a class="list-group-item" href="org-signup">
  <i class="half-margin-right fa-fw fa fa-heartbeat"></i>
  Enroll your nonprofit
</a>

<a class="list-group-item" href="">
  <i class="half-margin-right fa-fw fa fa-gears"></i>
  How it works
</a>

<a class="list-group-item" href="">
  <i class="half-margin-right fa-fw fa fa-star"></i>
  Our values
</a>

<a class="list-group-item" href="">
  <i class="half-margin-right fa-fw fa fa-sign-out"></i>
  Log out
</a>