<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  
  <body>
    {% include "header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row center">
          <div class="small-12 medium-8 small-centered columns">
            <h3 class="title">Nominate an organization</h3>
            <p>Do you know an employee of a nonprofit or social business? Might they like to give currency to low-paid staff at no extra cost? Tell them about openCurrents, and receive 3 Currents when the organization's leader activates the account.</p>

            <p class="no-margin-bottom">Share your referral link to get credit:</p>
            <p class="half-margin-bottom">
              <span id="ref-link"><strong><a href="">www.opencurrents.com/referral-id</a></strong></span><button id="copy-link" data-text-swap="Copied" data-clipboard-target="ref-link" class="one-margin-left one-margin-top button round small secondary">Copy link</button>
            </p>

            <p>or send an email:</p>
            <a href="nomination-email"><button class="button round">Preview email</button></a>
          </div>
        </div>

        
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include "footer.html" %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    <script src="js/ZeroClipboard.min.js" type="text/javascript"></script>
    <script src="js/copy.js" type="text/javascript"></script>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>