{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block heading %}
  <div class="row center">
    <div class="small-12 medium-8 small-centered columns">
      <h3 class="title-sub">
        {% block title %} Nominate an organization {% endblock title %}
      </h3>
      <p>
        As a member of this community, you can help us grow by inviting a
        nonprofit or business. Fill out this form and we'll reach out, but feel
        free to contact them personally as well.
      </p>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <form method="post" action="{% url "openCurrents:process_OrgNomination" %}">
  {% csrf_token %}
    <div class="row three-halves-margin-bottom three-halves-margin-top">
      <div class="center small-12 medium-9 small-centered columns">

        <div id="org-signup-name" class="small-12 columns">
          <input type="text" name="org_name" placeholder="Nonprofit or business name" class="center" tabindex="0" required />
        </div>

        <div class="small-12 columns">
          <input type="text" name="contact_name" placeholder="Contact name" class="center" tabindex="0" />
        </div>

        <div class="small-12 columns">
          <input type="email" name="contact_email" placeholder="Contact email address" class="center" tabindex="0" />
        </div>
      </div>
    </div>

    <div class="row center half-margin-top">
      <input type="submit" class="button round" value="Nominate"/>
      <p><a href="{% url 'openCurrents:profile' %}">Back to profile</a></p>
    </div>
  </form>
{% endblock content %}


{% block js %}
  <script src="js/ZeroClipboard.min.js" type="text/javascript"></script>
  <script src="js/copy.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });
    });
  </script>
{% endblock js %}
