{% extends "layouts/home-base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}

  <meta name="description" content="Nonprofits can now pay volunteers at no
  cost with a new currency - the Current. Give 1 hour to create 1 Current.
  Plus, nonprofits get the easiest hour tracking platform in existence.
  For free.">
  <title>Reward volunteers like never before &bull; openCurrents</title>
{% endblock head %}

{% block page %}nonprofit{% endblock page %}

{% block large-links %}
  <a href="#1" class="three-halves-margin-right navy">For nonprofits</a>
  <a href="{% url 'openCurrents:business' %}" class="three-halves-margin-right">For businesses</a>
  <a href="{% url 'openCurrents:our-story' %}" class="three-halves-margin-right">Our story</a>
  <a href="{% url 'openCurrents:faq' %}" class="three-halves-margin-right">FAQ</a>
{% endblock large-links %}


{% block content %}
  <div class="js-close-any" canvas>
    <div id="intro-1">
      <div id="1" class="header-spacer"></div>

      {% if status_msg %}
        <div class="center row one-margin-top">
          <div class="alert small-10 medium-8 small-centered columns">
            {{ status_msg }}
          </div>
        </div>
      {% endif %}

      <div class="row collapse center">
        <div class="medium-12 small-centered columns">
          <h1 id="home-tagline" class="white three-halves-margin-bottom">
            Attract and retain volunteers
          </h1>
        </div>
      </div>

      <div class="row center">
        <div class="medium-8 small-centered columns">
          <h5 class="white one-margin-bottom">
            It's easier than ever to reward your volunteers and keep them coming
            back. Volunteers earn 1 Current for each hour they work, which they
            can use for partial payment with participating businesses.
          </h5>
          <h5 class="white">
            Not only is it free, but it will even help you fundraise.
          </h5>
        </div>
      </div>

      <div class="row center three-halves-margin-top two-margin-bottom">
        <div class="small-12 medium-6 large-4 small-centered columns">
          <a href="#signup" class="button round blue-bg large">
            Join the community
          </a>

          <a href="#2" class="home-link white">
            <p class="no-margin-bottom">Benefits</p>
            <i class="half-margin-left fa fa-lg fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="intro-2">
      <div id="2" class="header-spacer"></div>
      <div class="row center">
        <div class="medium-12 small-centered columns">
          <h3 class="title">Nonprofit benefits</h3>
        </div>
      </div>

      <div class="hide-for-small-only">
        <div id="benefits-div" class="row three-halves-margin-bottom">
          <div class="center medium-4 columns">
            <p class="one-margin-bottom grey">Easy hour tracking</p>
            <input type="radio" id="benefit-btn-1" name="benefit-[]" value="" class="hidden styled-radio" checked />
              <label for="benefit-btn-1" id="time-button" class="benefit-icon button"><i class="fa fa-2x fa-clock-o"></i></label>
          </div>
          <div class="center medium-4 columns">
            <p class="one-margin-bottom grey">Dedicated volunteers</p>
            <input type="radio" id="benefit-btn-2" name="benefit-[]" value="" class="hidden styled-radio" />
              <label for="benefit-btn-2" id="vol-button" class="benefit-icon button"><i class="fa fa-2x fa-users"></i></label>
          </div>

          <div class="center medium-4 columns">
            <p class="one-margin-bottom grey">Fundraising opportunities</p>
            <input type="radio" id="benefit-btn-3" name="benefit-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-btn-3" id="fund-button" class="benefit-icon button"><i class="fa fa-2x fa-money"></i></label>
          </div>
        </div>

        <div id="benefit-box" class="row center">
          <p id="benefit-1" class="benefit-info one-margin-top center">Record activity seamlessly in one place. Check in volunteers at events with one click or approve hours submitted. Alternatively, import hours from existing sources to generate Currents.</p>

          <p id="benefit-2" class="benefit-info one-margin-top center hidden">openCurrents enables social organizations to offer an incentive that attracts a whole new group of committed, quality volunteers.</p>

          <p id="benefit-3" class="benefit-info one-margin-top center hidden">Volunteers can choose to "give twice" by donating the value of Currents back to organizations.</p>
        </div>
      </div>

      <div class="row show-for-small-only">
        <div class="small-12 small-centered columns">
          <div class="icon-box center">
            <input type="radio" id="benefit-sm-2" name="benefit-sm-[]" value="" class="hidden styled-radio" checked />
              <label for="benefit-sm-2" id="time-button" class="benefit-icon button"><i class="fa fa-2x fa-clock-o"></i></label>
            <p class="grey half-margin-bottom large-text">Easy hour tracking</p>
            <p class="benefits-detail hidden">Record volunteer activity seamlessly in one place. Check in volunteers at events with one click or approve hours submitted. Alternatively, import hours from existing sources to generate Currents.</p>
          </div>

          <div class="icon-box center">
            <input type="radio" id="benefit-sm-1" name="benefit-sm-[]" value="" class="hidden styled-radio" />
              <label for="benefit-sm-1" id="vol-button" class="benefit-icon button"><i class="fa fa-2x fa-users"></i></label>
            <p class="grey half-margin-bottom large-text">Dedicated volunteers</p>
            <p class="benefits-detail">openCurrents enables social organizations to offer an incentive that attracts a whole new group of committed, quality volunteers.</p>
          </div>

          <div class="icon-box center">
            <input type="radio" id="benefit-sm-3" name="benefit-sm-[]" value="" class="hidden styled-radio"/>
              <label for="benefit-sm-3" id="org-button" class="benefit-icon button"><i class="fa fa-2x fa-money"></i></label>
            <p class="grey half-margin-bottom large-text">Fundraising opportunities</p>
            <p class="benefits-detail hidden">Volunteers can choose to "give twice" by donating the value of Currents back to organizations.</p>
          </div>
        </div>
      </div>

      <div class="row center two-margin-top two-margin-bottom">
        <div class="small-10 medium-9 small-centered columns">
          <div class="medium-5 columns one-margin-bottom">
            <p class="half-margin-bottom"><strong>Easy event check-in</strong></p>
            <img src="{% static 'img/live-dashboard.png' %}" />
          </div>

          <div class="medium-2 columns half-margin-bottom">or</div>

          <div class="medium-5 columns">
            <p class="half-margin-bottom"><strong>Approve hours</strong></p>
            <img src="{% static 'img/approve-hours.png' %}" />
          </div>
        </div>
      </div>

      <div class="row center">
        <div class="medium-6 large-4 small-centered columns">
          <a href="#3" class="large-text"><p class="no-margin-bottom">Our mission</p><i class="two-margin-bottom fa fa-lg fa-angle-down"></i></a>
        </div>
      </div>
    </div>

    <div id="intro-3">
      <div id="3" class="header-spacer"></div>

      <div class="row center one-margin-top">
        <div class="medium-8 small-centered columns">
          <h3 class="white title">We are on a mission to help nonprofits create a better world.</h3>
        </div>
      </div>

      <div class="row center half-margin-top collapse">
        <div class="medium-9 small-centered columns">
        <h3 class="home-quote white half-margin-bottom">"I can cast a stone to create a ripple."</h3>
          <h3 class="home-quote white">- Mother Theresa</h3>
        </div>
      </div>

      <div class="row">
        <div class="medium-8 small-centered columns">
          <h4 class="white"></h4>
        </div>
      </div>

      <div class="row center three-halves-margin-top two-margin-bottom">
        <!-- <a class="signup-box_open clear button round large secondary">Our story</a> -->

        <a href="#signup" class="home-link white"><p class="no-margin-bottom">Join the community</p><i class="two-margin-bottom fa fa-lg fa-angle-down"></i></a>
      </div>
    </div>

    <div id="intro-4">
      <div id="signup" class="header-spacer"></div>

      <div class="row center">
        <h2 class="title-sub">Join openCurrents</h2>
        <h5 class="one-margin-bottom">as a...</h5>
      </div>

      {% include "partials/npf-signup.html" %}

      <div class="row center">
        <a href="javascript:void(Tawk_API.toggle())" class="large-text">
          I have a question
          <i class="half-margin-left fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}


{% block js %}
  {{ block.super }}

  <script type="text/javascript">
    $(document).ready(function(){

      $('#npf-name-div').show();

      // small benefits box
      $('.benefit-icon').click(function(){
        $('.benefits-detail').slideUp();
        $(this).siblings('.benefits-detail').slideDown();
      });

      // non-small benefits box
      var val = 1;

      $('#time-button').click(function(){
        $('#benefit-'+val+'').fadeOut(444, function(){
          $('#benefit-1').fadeIn(444);
        });
        val = 1;
      });

      $('#vol-button').click(function(){
        $('#benefit-'+val+'').fadeOut(444, function(){
          $('#benefit-2').fadeIn(444);
        });
        val = 2;
      });

      $('#fund-button').click(function(){
        $('#benefit-'+val+'').fadeOut(444, function(){
          $('#benefit-3').fadeIn(444);
        });
        val = 3;
      });
    });
  </script>
{% endblock js %}
