{% extends 'admin-hour-request-list.html' %}

{% load macros %}
{% load tags %}
{% load staticfiles %}

{% block main %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>

  <body>
    {% include "partials/header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
          <div class="row">
            {% if status_msg %}
            <div class="success row half-margin-top">
              {{status_msg}}
            </div>
            {% endif %}

            <div id="status_msg" class="success one-margin-top small-10 small-centered medium-8 columns">
            </div>
          </div>

          {% if num_events or num_vols %}
            <div class="success row one-margin-top">
              <div class="medium-8 columns small-centered">
                {% if num_events|add:"0" >= 1 and num_vols|add:"0" >= 1 %}
                    You have created events at {{ num_events }} location{{ num_events|pluralize }} and registered {{ num_vols }} volunteer{{ num_vols|pluralize }} to the event. Nice!

                {% elif num_events|add:"0" >= 1 and num_vols|add:"0" == 0 %}
                    You have created events at {{ num_events }} location{{ num_events|pluralize }}. Nice!

                {% elif num_events|add:"0" == 0 and num_vols|add:"0" >= 1 %}
                    You have invited {{ num_vols  }} volunteer{{ num_vols|pluralize }} to the openCurrents community. Nice!

                {% endif %}
              </div>
            </div>
          {% endif %}

        {% if vols_approved or vols_declined %}
          <div class="success row one-margin-top">
            <div class="medium-8 columns small-centered">
              {% if vols_approved|add:"0" >= 1 and vols_declined|add:"0" >= 1 %}
                  You have approved hours for {{ vols_approved }} volunteer{{ vols_approved|pluralize }} and declined hours for {{ vols_declined }} volunteer{{ vols_declined|pluralize }}. Nice!

              {% elif vols_approved|add:"0" >= 1 and vols_declined|add:"0" == 0 %}
                  You have approved hours for {{ vols_approved }} volunteer{{ vols_approved|pluralize }}. Nice!

              {% elif vols_approved|add:"0" == 0 and vols_declined|add:"0" >= 1 %}
                  You have declined hours for {{ vols_declined }} volunteer{{ vols_declined|pluralize }}.

              {% endif %}
            </div>
          </div>
        {% endif %}


        <div class="hide-for-small-only row full-width collapse one-margin-top one-margin-bottom">
          <div class="left medium-6 medium-offset-1 columns">
            <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="fit-left round" />
            <span class="input-sizer"> -->
              <h5 class="one-margin-top no-margin-bottom">{{orgname}}</h5>
              <h6>{{ user.first_name }} {{ user.last_name }}</h6>
              <a href="{% url 'openCurrents:create-event' orgid %}"
                {% if has_hours_requested %}
                  class="button tiny round secondary"
                {% else %}
                  class="button tiny round"
                {% endif %}>Create event
              </a>
            <!-- </span> -->
          </div>

          <div class="right qtr-margin-top medium-4 columns end">
            <!--h6 class="no-margin-bottom two-line-height">My hours tracked: [my_total]</h6-->

            <h6 class="one-margin-top no-margin-bottom">Org hours tracked: {{ issued_by_all }}</h6>
            <h6 class="half-margin-bottom">My hours tracked:
            {% for admin in org_admins %}
                {% if admin.user.id == user.id %}
                    {% for i in issued_by_admin %}
                        {% if i|keyvalue:admin != None %}
                            {{i|keyvalue:admin}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </h6>

            <a
              {% if has_hours_requested %}
                href="{% url 'openCurrents:approve-hours' %}"
                class="button round tiny"
              {% else %}
                href="javascript:status()" class="button round tiny secondary"
              {% endif %}>Approve hours
            </a>
          </div>
        </div>

        <div class="show-for-small-only row one-margin-top one-margin-bottom">
          <div class="columns">
            <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
            <h4>{{orgname}}</h4>
            <h5>{{ user.first_name }} {{ user.last_name }}</h5>


            <div>
              <!-- <h6 class="no-margin-bottom">My hours tracked: 10.0</h6> -->
              <h6 class="no-margin-bottom">
                Org hours tracked: {{ issued_by_all }}
              </h6>
              <h6 class="one-margin-bottom">
                My hours tracked: {{ issued_by_admin }}
              </h6>
              <a href="{% url 'openCurrents:create-event' orgid %}"
                {% if has_hours_requested %}
                  class="button tiny round secondary"
                {% else %}
                  class="button tiny round"
                {% endif %}>Create event
              </a>
              <a
                {% if has_hours_requested %}
                  href="{% url 'openCurrents:approve-hours' %}"
                  class="button round tiny"
                {% else %}
                  href="javascript:status()" class="button round tiny secondary"
                {% endif %}>Approve hours
              </a>
            </div>
          </div>
        </div>

        <!-- TODO: refactor using template inheritance -->
        {% if events_group_current %}
          <div id="live-event-list" class="left row full-width collapse one-margin-top">
            <div class="small-11 medium-10 small-centered columns">
              <h6 class="half-margin-bottom">Events happening now</h6>

              {% for event in events_group_current %}
                  <div class="row half-margin-bottom">
                    <div class="left half-margin-top small-8 columns">
                      Let's {{event.project.name}}!
                      on {{event.datetime_start|day:timezone}}
                      at {{event.datetime_start|time:timezone}}
                      to {{event.datetime_end|time:timezone}}
                      at <strong>{{event.location}}</strong>
                    </div>

                    <div class="right small-4 columns">
                      <a href="{% url 'openCurrents:live-dashboard' event.id %}"/>
                        <button class="button round small">Start</button>
                      </a>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        <!-- TODO: refactor using template inheritance -->
        <div id="upcoming-event-list" class="left row one-margin-top full-width collapse">
          <div class="small-11 medium-10 small-centered columns">
            <h6 class="half-margin-bottom">Upcoming events</h6>
            {% if events_group_upcoming %}
              {% for event in events_group_upcoming %}
                <div class="row half-margin-bottom">
                  <div class="left small-9 columns">
                    Let's {{event.project.name}}!
                    on {{event.datetime_start|day:timezone}}
                    at {{event.datetime_start|time:timezone}}
                    to {{event.datetime_end|time:timezone}}
                    at <strong>{{event.location}}</strong>
                  </div>

                  <div class="right relative small-3 columns">
                    <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
                    <ul class="mini-menu">
                      <a href="{% url 'openCurrents:event-detail' event.id %}"><li>View event details</li></a>
                      {% if request.user.id == event.coordinator.id %}
                        <a href="{% url 'openCurrents:event-detail' event.id %}">
                          <li>View &amp; contact invitees</li>
                        </a>
                      {% endif %}
                      <a href="{% url 'openCurrents:invite-volunteers' event.id %}"><li>Invite volunteers</li></a>
                      <a href="{% url 'openCurrents:edit-event' event.id %}"><li>Edit event</li></a>
                      <a href="{% url 'openCurrents:live-dashboard' event.id %}"><li>Preview live check-in</li></a>
                    </ul>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="row">
                <div class="left small-12 columns">
                  <p>{{ orgname }} has no upcoming events. <a href="{% url 'openCurrents:create-event' orgid %}">Create one!</a></p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="left row one-margin-top full-width collapse">
          <div class="small-11 medium-10 small-centered columns">
            <h6 class="half-margin-bottom">Hours pending</h6>

            {% if org_admins %}
                {% for admin in org_admins %}
                    <a href="{% url 'openCurrents:hours-detail' %}" class="button round tiny secondary">{{ admin.user.first_name }} {{ admin.user.last_name }}:  {% for i in hours_pending_by_admin %}
                        {% if i|keyvalue:admin != None %}
                            {{i|keyvalue:admin}}
                        {% endif %}
                    {% endfor %}</a>
                {% endfor %}
            {% endif %}
          </div>
        </div>



        <div class="left row one-margin-top full-width collapse">
          <div class="small-11 medium-10 small-centered columns">
            <h6 class="half-margin-bottom">Hours approved</h6>
            {% if org_admins %}
                {% for admin in org_admins %}
                    <a href="{% url 'openCurrents:hours-detail' %}" class="button round tiny secondary">{{ admin.user.first_name }} {{ admin.user.last_name }}:
                    {% for i in issued_by_admin %}
                        {% if i|keyvalue:admin != None %}
                            {{i|keyvalue:admin}}
                        {% endif %}
                    {% endfor %}</a>
                {% endfor %}
            {% endif %}
          </div>
        </div>

        <!-- TODO: refactor using template inheritance -->
        {% if events_group_past %}
          <div id="past-event-list" class="left row one-margin-top full-width collapse">
            <div class="small-11 medium-10 small-centered columns">
              <h6 class="half-margin-bottom">Past events</h6>

              {% for event in events_group_past %}
                  <div class="row half-margin-bottom">
                    <div class="left input-left small-9 columns">
                      Let's {{event.project.name}}!
                      on {{event.datetime_start|day:timezone}}
                      at {{event.datetime_start|time:timezone}}
                      to {{event.datetime_end|time:timezone}}
                      at <strong>{{event.location}}</strong>
                    </div>

                  <div class="right relative small-3 columns">
                    <a class="mini-open"><i class="half-margin-right blue fa-chevron-circle-down fa fa-lg"></i></a>
                    <ul class="mini-menu">
                      <a href="{% url 'openCurrents:live-dashboard' event.id %}"><li>Review attendees</li></a>
                    </ul>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% macro admin_hour_request_list_macro arg_list arg_status arg_timezone %}
          {% block admin_hour_request_list %}
            {% with hours_list=arg_list hours_status=arg_status timezone=arg_timezone %}
              {{ block.super }}
            {% endwith %}
          {% endblock %}
        {% endmacro %}


        <!-- community feed code. Hardcoded not dynamic -->
        <!-- <div class="row one-margin-top">
          <div class="left medium-8 small-centered columns">
            <h6 class="center half-margin-bottom">Community activity</h6>
            <div id="community-feed">
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
            </div>
          </div>
        </div -->

            <!-- <h5 class="fit-left">I care about</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" value="showing people their power"/></span>

            <div class="tag-block">
              <button class="button round tiny">Nature</button>
            </div>

            <h5 class="fit-left">I offer</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span>

            <h5 class="fit-left">I am looking for</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span> -->

            <!--<h5 class="one-margin-top one-margin-bottom">My badges</h5>

            <h5 class="one-margin-top one-margin-bottom">My hours given</h5>
            -->

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include 'partials/footer.html' %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>

    <div id="delete-event-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Are you sure?</h3>
        <input type='submit' name='del-button' class="button round alert" value="Yes - Delete event" />
        <a class="button round secondary">Cancel</a>
      </div>
    </div>

    <div id="hours-pending-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h4 class="popup-title">Hours pending for (selected admin name)</h4>
      </div>

      {% usemacro admin_hour_request_list_macro hours_requested 'requested' timezone %}

      <div class="center one-margin-top">
        <a class="hours-pending-popup_close button round small">Close</a>
      </div>
    </div>

    <div id="hours-approved-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h4 class="popup-title">Hours approved by (selected admin name)</h4>
      </div>

      {% usemacro admin_hour_request_list_macro hours_approved 'approved' timezone %}

      <div class="center one-margin-top">
        <a class="hours-approved-popup_close button round small">Close</a>
      </div>
    </div>

    <div id="approve-hours-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Volunteers request approval</h3>
      </div>

      <div class="row center">
        <div class="small-centered medium-10 columns">

          <p class="three-halves-margin-bottom">Volunteers have tracked hours and need your signoff before Currents are issued to them. It is recommended that you approve volunteer hours once a week.</p>

          <a href="{% url 'openCurrents:approve-hours' %}" class="button round">
            View requests
          </a>
          <a class="approve-hours-popup_close button round secondary">
            Close
          </a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){

        $('#delete-event-popup, #hours-approved-popup, #hours-pending-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        $('.mini-open').click(function(){
          $('.mini-menu').hide();
          $(this).siblings('.mini-menu').toggle();
          $(this).attr('visibility', 'visible');
        });

        $(document).click(function(e) {
          var target = e.target;
          if (!$(target).is('.mini-open') && !$(target).parents().is('.mini-open')) {
            $('.mini-menu').hide();
          }
        });
      });
      function status(){
        $('#status_msg').html("There are no hours that need your approval.");
      }
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
{% endblock %}
