{% extends 'layouts/user-hour-request-list.html' %}

{% load macros %}
{% load tags %}
{% load staticfiles %}

{% block heading %}
  <div class="row">
    <div class="small-12 small-centered columns">
      <h5 class="two-margin-top no-margin-bottom">
        {% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock title %}
      </h5>

      {% if is_admin_org or is_admin_biz %}
        <h6 class="inline half-margin-right">{{ orgname }}</h6>
        {% if is_admin_org %}
          <a href="{% url 'openCurrents:org-admin' %}">
        {% else %}
          <a href="{% url 'openCurrents:biz-admin' %}">
        {% endif %}
          <i class="fa fa-lg fa-gear"></i>
        </a>
      {% endif %}

      <p class="half-margin-top half-margin-bottom">
        <a class="earn-currents-popup_open button round small">
          Volunteer
        </a>
      </p>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h6 class="inline-block qtr-margin-bottom">
        Currents available:
      </h6>
      <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
      <h6 class="inline-block no-margin-bottom">
        {{ balance_available }}
      </h6>
      <p class="grey half-margin-bottom">Pending:
        <img class="med-text-symbol" src="{% static 'img/symbol.svg' %}"/>
        {{ balance_pending }}
      </p>
      <p class="no-margin-bottom">
        <a href="{% url 'openCurrents:marketplace' %}" class="button round secondary tiny">
          Marketplace
        </a>
      </p>
    </div>

    <div class="small-12 medium-6 columns">
      <h6 class="qtr-margin-bottom">
        Dollars available: ${{ balance_available_usd }}
      </h6>
      <p class="grey half-margin-bottom">
        Pending: ${{ balance_pending_usd }}
      </p>

      <a class="
        {% if balance_available_usd|str_to_num > 0 %}
          cash-out-popup_open
        {% else %}
          no-cash-popup_open
        {% endif %}
         button round secondary tiny">
        Cash out
      </a>
    </div>
  </div>

  <div class="row collapse three-halves-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">My upcoming events</h6>
      {% if events_upcoming %}
        {% for event in events_upcoming %}
          {% if event.project.name != "ManualTracking" %}
          <div class="row half-margin-bottom">
            <div class="left small-9 columns">
              <strong>Let's {{event.project.name}}!</strong>
              with {{event.project.org.name}}
              on {{event.datetime_start|day:timezone}}
              from {{event.datetime_start|time:timezone}}
              to {{event.datetime_end|time:timezone}}
              at {{event.location}}
            </div>

            <div class="right relative small-3 columns">
              <a class="mini-open">
                <i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i>
              </a>
              <ul class="mini-menu">
                <a href="{% url 'openCurrents:event-detail' event.id %}">
                  <li>View event details</li>
                </a>
              </ul>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>You are not registered for any upcoming events.
          <a href="{% url 'openCurrents:volunteer-opportunities' %}">
            Find one!
          </a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="row collapse one-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">Community activity</h6>
      <a href="{% url 'openCurrents:public-record' %}?record_type=top-org&period=month" class="button tiny round secondary">
        Currents issued: {% if currents_amount_total %}{{ currents_amount_total }}{% else %}No currents issued{% endif %}
      </a>
      <a href="{% url 'openCurrents:public-record' %}?record_type=top-vol&period=month" class="button tiny round secondary">
        Active volunteers: {% if active_volunteers_total %}{{ active_volunteers_total }}{% else %}No active volunteers{% endif %}
      </a>
      <a href="{% url 'openCurrents:public-record' %}?record_type=top-biz&period=month" class="button tiny round secondary">
        Currents accepted: {% if currents_accepted %}{{ currents_accepted }}{% else %}No currents accepted{% endif %}
      </a>
    </div>
  </div>

  <div class="row collapse one-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">My volunteer hours</h6>
      {% for org, hours in hours_by_org.items %}
        <a href="{% url 'openCurrents:hours-detail' %}?user_id={{user.id}}&org_id={{org.id}}&type=approved"
        class="button round tiny secondary">
          {{org.name}}: {{hours}}
        </a>
      {% empty %}
        <h5>No records available</h5>
      {% endfor %}
    </div>
  </div>

  {% macro user_hour_request_list_macro arg_list arg_status arg_timezone %}
    {% block user_hour_request_list %}
      {% with hours_list=arg_list hours_status=arg_status timezone=arg_timezone %}
        {{ block.super }}
      {% endwith %}
    {% endblock %}
  {% endmacro %}

  <div class="left row one-margin-top collapse">
    <div class="small-11 medium-10 small-centered columns">
      <div class="row">
        <div class="small-9 columns">
          <h6 class="half-margin-bottom">My hours requested</h6>
        </div>
      </div>

      {% usemacro user_hour_request_list_macro hours_requested 'requested' timezone %}
    </div>
  </div>

  <div class="row collapse one-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <div class="row">
        <div class="small-8 columns">
          <h6 class="half-margin-bottom">My redeemed offers</h6>
        </div>

        <div class="right small-4 columns">
          {% if offers_redeemed %}
            <h6 class="half-margin-bottom">Status</h6>
          {% endif %}
        </div>
      </div>

      {% if offers_redeemed %}
        {% for offer_redeemed in offers_redeemed %}
          {% with transaction=offer_redeemed.transaction status=offer_redeemed.get_action_type_display %}
            <div class="row half-margin-bottom">
              <div class="left small-9 columns">
                {{ offer_redeemed.date_updated|day:timezone }} -
                You
                {% with amount_cur=transaction.currents_amount %}
                  {% with amount_usd=amount_cur|current_to_usd %}
                    {% if status == 'pending' %}
                      requested
                    {% elif status == 'approved' %}
                      will receive
                    {% elif status == 'redeemed' %}
                      received
                    {# add declined #}
                    {% endif %}

                    ${{ amount_usd|floatformat:2 }} for
                    <span class="no-wrap">
                      <img class="med-text-symbol" src="{% static 'img/symbol-navy.svg' %}"/>
                      {{ amount_cur|floatformat:3 }}
                    </span>
                    from
                    <strong>
                      {{ transaction.offer.org.name }}
                    </strong>
                  {% endwith %}
                {% endwith %}
              </div>

              <div class="right relative small-3 columns">
                {{ status }}
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      {% else %}
        <p>You have not yet redeemed any offers. Check out the
          <a href="{% url 'openCurrents:marketplace' %}">
            marketplace!
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block popups %}
  <div id="welcome-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <form method='post' action="{% url 'openCurrents:edit-profile' %}">
        {% csrf_token %}
      <div class="row center">
        <div class="small-centered medium-10 columns">
          <h4 class="popup-title">Welcome to the openCurrents beta</h4>
          <p>We're excited to have you with us! We are just getting started
            and your contribution to growing our community is essential.</p>

          <p>Are you willing to help us connect with businesses where you shop,
            nonprofits where you volunteer, or friends who might be interested?</p>

          <p class="three-halves-margin-top">
            <button type="submit" name='yes' class="button round">Yes</button>
            <button type="submit" name='no' class="button round secondary">No</button>
          </p>
        </div>
      </div>
    </form>
  </div>

  <div id="earn-currents-popup" class="modal center small-12 medium-10 large-8 small-centered columns">
    <div class="row center">
      <h3 class="one-margin-top">2 ways to create Currents</h3>
      <h6></h6>
    </div>

    <div class="row center half-margin-top">
      <div class="half-margin-bottom small-12 medium-6 columns">
        <h6>I want to volunteer</h6>
        <p>Check out upcoming opportunities with participating organizations:</p>
        <a href="{% url 'openCurrents:volunteer-opportunities' %}" class="button round small">
          View opportunities
        </a>
      </div>

      <div class="small-12 medium-6 columns">
        <h6>I already volunteer</h6>
        <p>If you already give time with a nonprofit, track your hours here:</p>
        <a href="{% url 'openCurrents:time-tracker' %}" class="button round small">
          Record hours
        </a>
      </div>
    </div>
  </div>

  <div id="balance-popup" class="modal center small-12 medium-9 small-centered columns">
    <div class="row collapse center">
      <div class="small-centered medium-11 columns">
        <h6 class="popup-title">
          Balance &ndash; Requested offers = Currents available
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns"><h6></h6></div>
      <div class="medium-4 columns"><h6></h6></div>
      <div class="medium-4 columns"><h6></h6></div>
    </div>
  </div>

  <div id="no-cash-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">No dollars available</h3>
    </div>

    <div class="row center">
      <div class="small-centered medium-10 columns">
        <p>You do not yet have dollars available to transfer to your bank
          account. If you have redeemed an offer and have pending dollars in
          your account, you'll need to wait until the business verifies your
          proof of purchase at the end of the month.</p>
        <p>To see offers from businesses in the community, please visit the
          marketplace by clicking "Redeem" in your profile.</p>
        <a class="no-cash-popup_close button round">Got it</a>
      </div>
    </div>
  </div>

  <div id="cash-out-popup" class="modal center small-12 medium-9 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">Confirm cash out</h3>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="row center">
        <div class="small-centered medium-10 columns">
          <p class="three-halves-margin-bottom">
            openCurrents uses Dwolla to send cash directly to your bank
            account. You will receive an email in the next 48 hours inviting
            you to transfer your full balance of ${{ balance_available_usd }}.
            If you have any questions, don't hesitate to reach out.</p>

          <a class="button round">Send dollars</a>
          <a href="javascript:void(Tawk_API.toggle())" class="button round secondary">Contact us</a>
        </div>
      </div>
    </form>
  </div>

  <div id="rsvp-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">Change RSVP</h3>
    </div>

    <div class="row center one-margin-top">
      <div class="small-centered medium-10 columns">

        <input type="radio" id="rsvp-1" name="rsvp-[]" value="" class="hidden styled-radio" checked/>
          <label for="rsvp-1" class="button round secondary small">Going</label>

        <input type="radio" id="rsvp-2" name="rsvp-[]" value="" class="hidden styled-radio"/>
          <label for="rsvp-2" class="button round secondary small">Maybe</label>

        <input type="radio" id="rsvp-3" name="rsvp-[]" value="" class="hidden styled-radio"/>
          <label for="rsvp-3" class="button round secondary small">Not going</label>

        <div class="three-halves-margin-top">
          <button type="submit" class="rsvp-popup_close button round">Update</button>
        </div>
      </div>
    </div>
  </div>
  <div id="approve-hours-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">Volunteers request approval</h3>
    </div>

    <div class="row center">
      <div class="small-centered medium-10 columns">
        <p class="three-halves-margin-bottom">
          Volunteers have tracked hours and need your signoff before Currents are issued to them. It is recommended that you approve volunteer hours once a week.
        </p>

        <a href="{% url 'openCurrents:approve-hours' %}" class="button round">
          View requests
        </a>
        <a class="approve-hours-popup_close button round secondary">
          Close
        </a>
      </div>
    </div>
  </div>
{% endblock popups %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){

      if(!localStorage.viewed){
        localStorage.viewed=1;
        var open = true;
      }
      else{
        var open = false;
      }

      $('#rsvp-popup, #earn-currents-popup, #balance-popup, #no-cash-popup, #cash-out-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

    {# Turning on/off welcome popup #}
    {% if user.usersettings_set.all.0.popup_reaction  == None %}

      $('#welcome-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
        autoopen: true,
      });

    {% endif %}

      $('.mini-open').click(function(){
        $('.mini-menu').hide();
        $(this).siblings('.mini-menu').toggle();
        $(this).attr('visibility', 'visible');
      });

      $(document).click(function(e) {
        var target = e.target;
        if (!$(target).is('.mini-open') && !$(target).parents().is('.mini-open')) {
          $('.mini-menu').hide();
        }
      });
    });
  </script>

  <script type="text/javascript">

    if ({{ app_hr }}){
      $('#approve-hours-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
        autoopen: true,
      });
    }
  </script>
{% endblock js %}
