{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">

        {% if status_msg %}
        <div class="success row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="hide-for-small-only row full-width collapse two-margin-top">
          <div class="left medium-6 medium-offset-1 large-5 large-offset-2 columns">
            <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="fit-left round" />
            <span class="input-sizer"> -->
              <h5 class="one-margin-top no-margin-bottom">{{ user.first_name }} {{ user.last_name }}</h5>

              {% if orgid %}
                <h6 class="inline half-margin-right">{{orgname}}</h6>
                <a href="{% url 'openCurrents:admin-profile' %}" class="button baseline round secondary tiny">Manage org</a>
              {% endif %}
            <!-- </span> -->
          </div>

          <div class="one-margin-top right medium-4 large-3 columns end">
            <h6 class="inline">My Currents: </h6>
            <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
            <h6 class="inline"> {{ user_balance }} </h6>
            <div class="no-margin-top row">
              <a class="earn-currents-popup_open button round tiny">Earn Currents</a>
              <!-- <a href="{% url 'openCurrents:marketplace' %}" class="button round secondary tiny">Redeem</a> -->
            </div>
          </div>
        </div>

        <div class="show-for-small-only row one-margin-top">
          <div class="columns">
            <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
            <h5 class="half-margin-top no-margin-bottom">{{ user.first_name }} {{ user.last_name }}</h5>
            {% if orgid %}
              <h6>{{orgname}}</h6>
              <a href="{% url 'openCurrents:admin-profile' %}" class="button round secondary tiny">Manage org</a>
            {% endif %}

            <div class="half-margin-top">
              <h6 class="inline">My Currents: </h6>
              <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
              <h6 class="inline"> {{ user_balance }} </h6>
              <div class="no-margin-top row">
                <a class="earn-currents-popup_open button round tiny">Earn Currents</a>
                <!-- <a href="{% url 'openCurrents:marketplace' %}" class="button round secondary tiny">Redeem</a> -->
              </div>
            </div>
          </div>
        </div>
        
        <div class="row full-width collapse left one-margin-top">
          <div class="small-11 medium-10 large-8 small-centered columns">
            <h6 class="one-margin-bottom">My volunteer events</h6>
            {% if events_upcoming %}
              {% for event in events_upcoming %}
                {% if event.project.name != "ManualTracking" %}
                <div class="row one-margin-bottom">
                  <div class="left small-9 columns">
                    <strong>Let's {{event.project.name}}!</strong>
                    on {{event.datetime_start|day:timezone}}
                    at {{event.datetime_start|time:timezone}}
                    to {{event.datetime_end|time:timezone}}
                    at {{event.location}}
                  </div>

                  <div class="right input-right small-3 columns">
                    <a href="{% url 'openCurrents:event-detail' event.id %}" class="button small round secondary">View</a>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>You are not registered for any upcoming events. <a href="{% url 'openCurrents:upcoming-events' %}">Find one!</a></p>
            {% endif %}
          </div>
        </div>
        

        <!-- community feed code. Hardcoded not dynamic -->
        <!-- <div class="row full-width collapse one-margin-bottom">
          <div class="left small-11 medium-10 large-8 small-centered columns">
            <h6 class="one-margin-top one-margin-bottom">Community activity</h6>
            <div id="community-feed">
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
              <div class="feed-item">
                <strong>Jacob Jacobs</strong> joined openCurrents!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> created a project: <strong><a>Let's clean up Lady Bird Lake<span class="no-wrap">!<i class="half-margin-left fa fa-arrow-circle-right"></i></span></a></strong>
              </div>

              <div class="feed-item">
                <strong>Jacob Jacobs</strong> will be helping <strong>Keep Austin Beautiful</strong> clean up Lady Bird Lake!
              </div>

              <div class="feed-item">
                <strong>Keep Austin Beautiful</strong> issued 2 Currents to <strong>Jacob Jacobs</strong>.
              </div>
            </div>
          </div>
        </div> -->
            <!-- <h5 class="fit-left">I care about</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" value="showing people their power"/></span>

            <div class="tag-block">
              <button class="button round tiny">Nature</button>
            </div>

            <h5 class="fit-left">I offer</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span>

            <h5 class="fit-left">I am looking for</h5>
            <span class="input-sizer"><input name="offer-text" type="text" class="profile-text" /></span> -->

            <!--<h5 class="one-margin-top one-margin-bottom">My badges</h5>

            <h5 class="one-margin-top one-margin-bottom">My hours given</h5>
            -->


        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="welcome-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <div class="small-centered medium-10 columns">
          <h3 class="one-margin-top">Welcome to openCurrents!</h3>
          <p class="three-halves-margin-top">We're excited to have you with us in the community. We are just getting started with our testing phase. Soon we will connect you with opportunities to volunteer, see what like minded peers are doing in your community, create and earn Currents through social action, and exchange your Currents through a digital marketplace.</p>
          <p>If you'd like to learn more about the openCurrents or get involved with the community, let us know!</p>

          <p class="three-halves-margin-top">
            <a href="javascript:void(Tawk_API.toggle())" class="button round small">Get in touch</a>
            <a class="welcome-popup_close button round secondary small">Close</a>
          </p>
        </div>
      </div>
    </div>

    <div id="earn-currents-popup" class="modal center small-12 medium-10 large-8 small-centered columns">
      <div class="row center">
        <h3 class="one-margin-top">2 ways to earn Currents</h3>
        <h6></h6>
      </div>

      <div class="row center half-margin-top">
        <div class="half-margin-bottom small-12 medium-6 columns">
          <h6>Volunteer at an event</h6>
          <p>Check out these upcoming opportunities with participating organizations:</p>
          <a href="{% url 'openCurrents:upcoming-events' %}" class="button round small">View upcoming events</a>
        </div>

        <div class="small-12 medium-6 columns">
          <h6>Track volunteer time</h6>
          <p>If you already give time with a participating organization, track your hours here:</p>
          <a href="{% url 'openCurrents:time-tracker' %}" class="button round small">Record hours</a>
        </div>
      </div>
    </div>

    <div id="rsvp-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Change RSVP</h3>
      </div>

      <div class="row center one-margin-top">
        <div class="small-centered medium-10 columns">

          <input type="radio" id="rsvp-1" name="rsvp-[]" value="" class="hidden styled-radio" checked/>
            <label for="rsvp-1" class="button round secondary small">Going</label>

          <input type="radio" id="rsvp-2" name="rsvp-[]" value="" class="hidden styled-radio"/>
            <label for="rsvp-2" class="button round secondary small">Maybe</label>

          <input type="radio" id="rsvp-3" name="rsvp-[]" value="" class="hidden styled-radio"/>
            <label for="rsvp-3" class="button round secondary small">Not going</label>

          <div class="three-halves-margin-top">
            <button type="submit" class="rsvp-popup_close button round">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div id="approve-hours-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Volunteers request approval</h3>
      </div>

      <div class="row center">
        <div class="small-centered medium-10 columns">

          <p class="three-halves-margin-bottom">Volunteers have tracked hours and need your signoff before Currents are issued to them. It is recommended that you approve volunteer hours once a week.</p>

          <a href="{% url 'openCurrents:approve-hours' %}" class="button round">View requests</button>
          <a><button class="approve-hours-popup_close button round secondary">Close</button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      if(!localStorage.viewed){
        localStorage.viewed=1;
        var open = true;
      }
      else{
        var open = false;
      }

      $(document).ready(function(){
        $('#rsvp-popup, #earn-currents-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        $('#welcome-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
          // autoopen: true,
        });

        if ({{app_hr}}){
          $('#approve-hours-popup').popup({
            vertical: 'top',
            transition: 'all 0.75s',
            scrolllock: true,
            autoopen: true,
          });
        }
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
