{% extends 'layouts/user-hour-request-list.html' %}

{% load macros %}
{% load tags %}
{% load staticfiles %}


{% block status %}
  {% if status_msg %}
    {{ block.super }}
  {% else %}
    <div class="status-highlight row full-width">
      <div class="small-12 column">
        <a href="{% url 'openCurrents:redeem-currents' master_offer.id %}"
        class="white-link">
          Redeem your $40 credit for Volunteer Appreciation Month!
        </a>
      </div>
    </div>
  {% endif %}
{% endblock status %}

{% block heading %}
  <div class="row">
    <div class="small-12 small-centered columns">
      <h5 class="two-margin-top no-margin-bottom">
        {% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock title %}
      </h5>

      {% if is_admin_org or is_admin_biz %}
        <h6 class="inline half-margin-right">{{ orgname }}</h6>
        {% if is_admin_org %}
          <a href="{% url 'openCurrents:org-admin' %}">
        {% else %}
          <a href="{% url 'openCurrents:biz-admin' %}">
        {% endif %}
          <i class="fa fa-lg fa-gear"></i>
        </a>
      {% endif %}

      <p class="half-margin-top half-margin-bottom">
        <a class="earn-currents-popup_open button round small">
          Volunteer
        </a>
      </p>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h6 class="inline-block qtr-margin-bottom">
        Currents available:
      </h6>
      <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
      <h6 class="inline-block no-margin-bottom">
        {{ balance_available|round_number:3 }}
      </h6>
      <p class="grey half-margin-bottom">Pending:
        <img class="med-text-symbol" src="{% static 'img/symbol.svg' %}"/>
        {{ balance_pending|round_number:3 }}
      </p>
      <p class="no-margin-bottom">
        <a href="{% url 'openCurrents:marketplace' %}" class="button round secondary tiny">
          Marketplace
        </a>
      </p>
    </div>

    <div class="small-12 medium-6 columns">
      <h6 class="qtr-margin-bottom">
        Dollars available: ${{ balance_available_usd|round_number:2 }}
      </h6>
      <p class="grey half-margin-bottom">
        Pending: ${{ balance_pending_usd|round_number:2 }}
      </p>

      <a class="
        {% if balance_available_usd|str_to_num > 0 %}
          cash-out-popup_open
        {% else %}
          no-cash-popup_open
        {% endif %}
         button round secondary tiny">
        Cash out
      </a>
    </div>
  </div>

  <div class="row collapse left three-halves-margin-top">
    <div class="small-11 medium-10 small-centered columns">
      <h6>Featured businesses</h6>
      <div class="row">
        <div class="small-6 medium-3 columns">
          <a href="{% url 'openCurrents:redeem-currents' master_offer.id %}">
            <img class="biz-logos" src="{% static 'img/whole-foods.png' %}"/>
          </a>
        </div>
        <div class="small-6 medium-3 columns">
          <a href="{% url 'openCurrents:redeem-currents' master_offer.id %}">
            <img class="biz-logos" src="{% static 'img/amazon.png' %}"/>
          </a>
        </div>
        <div class="small-6 medium-3 columns">
          <a href="{% url 'openCurrents:redeem-currents' master_offer.id %}">
            <img class="biz-logos" src="{% static 'img/heb.png' %}"/>
          </a>
        </div>
        <div class="small-6 medium-3 columns">
          <a href="{% url 'openCurrents:redeem-currents' master_offer.id %}">
            <img class="biz-logos" src="{% static 'img/central-market.png' %}"/>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row collapse three-halves-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">My upcoming events</h6>
      {% if events_upcoming %}
        {% for event in events_upcoming %}
          {% if event.project.name != "ManualTracking" %}
          <div class="row half-margin-bottom">
            <div class="left small-9 columns">
              <strong>{{event.project.name}}</strong>
              with {{event.project.org.name}}
              on {{event.datetime_start|day:timezone}}
              from {{event.datetime_start|time:timezone}}
              to {{event.datetime_end|time:timezone}}
              at {{event.location}}
            </div>

            <div class="right relative small-3 columns">
              <a class="mini-open">
                <i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i>
              </a>
              <ul class="mini-menu">
                <a href="{% url 'openCurrents:event-detail' event.id %}">
                  <li>View event details</li>
                </a>
              </ul>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>You are not registered for any upcoming events.
          <a href="{% url 'openCurrents:volunteer-opportunities' %}">
            Find one!
          </a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="row collapse one-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <h6 class="half-margin-bottom">My volunteer hours</h6>
      {% for org, hours in hours_by_org.items %}
        <a href="{% url 'openCurrents:hours-detail' %}?user_id={{user.id}}&amp;org_id={{org.id}}&amp;type=approved"
        class="button round tiny secondary">
          {{org.name}}: {{hours}}
        </a>
      {% empty %}
        <p>No hours have been approved.
          <a href="{% url 'openCurrents:time-tracker' %}">
            Record hours
          </a>
          to create Currents!
        </p>
      {% endfor %}
    </div>
  </div>

  {% macro user_hour_request_list_macro arg_list arg_status arg_timezone %}
    {% block user_hour_request_list %}
      {% with hours_list=arg_list hours_status=arg_status timezone=arg_timezone %}
        {{ block.super }}
      {% endwith %}
    {% endblock %}
  {% endmacro %}

  <div class="left row one-margin-top collapse">
    <div class="small-11 medium-10 small-centered columns">
      <div class="row">
        <div class="small-9 columns">
          <h6 class="half-margin-bottom">My hours requested</h6>
        </div>
      </div>

      {% usemacro user_hour_request_list_macro hours_requested 'requested' timezone %}
    </div>
  </div>

  <div class="row collapse one-margin-top left">
    <div class="small-11 medium-10 small-centered columns">
      <div class="row">
        <div class="small-8 columns">
          <h6 class="half-margin-bottom">My redeemed offers</h6>
        </div>

        <div class="right small-4 columns">
          {% if offers_redeemed %}
            <h6 class="half-margin-bottom">Status</h6>
          {% endif %}
        </div>
      </div>

      {% if offers_redeemed %}
        {% for offer_redeemed in offers_redeemed %}
          {% with transaction=offer_redeemed.transaction status=offer_redeemed.get_action_type_display %}
            <div class="row half-margin-bottom">
              <div class="left small-9 columns">
                {{ offer_redeemed.date_updated|day:timezone }} -
                You
                {% with amount_cur=transaction.currents_amount %}
                  {% with amount_usd=amount_cur|current_to_usd:'with_fee' %}
                    {% if status == 'pending' %}
                      requested
                    {% elif status == 'approved' %}
                      will receive
                    {% elif status == 'redeemed' %}
                      received
                    {% elif status == 'declined' %}
                      request of
                    {% endif %}

                    ${{ amount_usd|floatformat:2 }} for
                    <span class="no-wrap">
                      <img class="med-text-symbol" src="{% static 'img/symbol-navy.svg' %}"/>
                      {{ amount_cur|floatformat:3 }}
                    </span>
                    from
                    <strong>
                      {{ transaction.offer.org.name }}
                    </strong>
                    {% if status == 'declined' %}
                      has been declined
                    {% endif %}
                  {% endwith %}
                {% endwith %}
              </div>

              <div class="right relative small-3 columns">
                {{ status }}
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      {% else %}
        <p>You have not yet redeemed any offers.
          <a href="{% url 'openCurrents:marketplace' %}">
            Check out the marketplace!
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block popups %}
  <div id="welcome-popup" class="modal center small-12 medium-10 large-8 small-centered columns">
    {% include "popups/welcome-popup.html" %}
  </div>

  <div id="earn-currents-popup" class="modal center small-12 medium-10 large-8 small-centered columns">
    {% include "popups/earn-currents-popup.html" %}
  </div>

  <div id="cash-out-popup" class="modal center small-12 medium-9 small-centered columns">
    {% include "popups/cash-out-popup.html" %}
  </div>

  <div id="no-cash-popup" class="modal center small-12 medium-9 small-centered columns">
    {% include "popups/no-cash-popup.html" %}
  </div>

  <div id="approve-hours-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    {% include "popups/approve-hours-popup.html" %}
  </div>

  <div id="rsvp-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">Change RSVP</h3>
    </div>

    <div class="row center one-margin-top">
      <div class="small-centered medium-10 columns">

        <input type="radio" id="rsvp-1" name="rsvp-[]" value="" class="hidden styled-radio" checked/>
          <label for="rsvp-1" class="button round secondary small">Going</label>

        <input type="radio" id="rsvp-2" name="rsvp-[]" value="" class="hidden styled-radio"/>
          <label for="rsvp-2" class="button round secondary small">Maybe</label>

        <input type="radio" id="rsvp-3" name="rsvp-[]" value="" class="hidden styled-radio"/>
          <label for="rsvp-3" class="button round secondary small">Not going</label>

        <div class="three-halves-margin-top">
          <button type="submit" class="rsvp-popup_close button round">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div id="balance-popup" class="modal center small-12 medium-9 small-centered columns">
    <div class="row collapse center">
      <div class="small-centered medium-11 columns">
        <h6 class="popup-title">
          Balance &ndash; Requested offers = Currents available
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns"><h6></h6></div>
      <div class="medium-4 columns"><h6></h6></div>
      <div class="medium-4 columns"><h6></h6></div>
    </div>
  </div>
{% endblock popups %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){

      if(!localStorage.viewed){
        localStorage.viewed=1;
        var open = true;
      }
      else{
        var open = false;
      }

      $('#rsvp-popup, #earn-currents-popup, #balance-popup, #no-cash-popup, #cash-out-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

    {# Turning on/off welcome popup #}
    {% if user.usersettings.popup_reaction  == None %}

      $('#welcome-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
        autoopen: true,
      });

    {% endif %}

      $('.mini-open').click(function(){
        $('.mini-menu').hide();
        $(this).siblings('.mini-menu').toggle();
        $(this).attr('visibility', 'visible');
      });

      $(document).click(function(e) {
        var target = e.target;
        if (!$(target).is('.mini-open') && !$(target).parents().is('.mini-open')) {
          $('.mini-menu').hide();
        }
      });
    });
  </script>

{% endblock js %}
