{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>
  
  <body>
    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}
        
        <div class="row">
          <h3 class="title-sub">Redeem Currents</h3>
          <h6>for [50% of flat fixes with <strong>Fast Folks Bike Shop</strong>]</h6>
        </div>
        
        <div class="row one-margin-bottom center">
          <div class="small-12 medium-8 small-centered columns">
            <p class="three-halves-margin-bottom"><strong>Note:</strong> Please pay full price at [Fast Folks] and upload your receipt here. We will then send you cash back in exchange for Currents at the end of the month. <span class="no-wrap"><a class="redeem-info-popup_open">Learn more</a></span></p>
            <input type="file" accept="image/*" capture="camera" id="upload-receipt" name="upload-receipt" class="hidden-file" data-multiple-caption="{count} files selected" multiple />
            <label for="upload-receipt" class="button round secondary small"><i class="half-margin-right fa fa-upload"></i><span>Choose a file...</span></label>
            <p class="one-margin-top"><a type="submit" class="button round large">Upload receipt</a></p>
          </div>
        </div>
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>
  
    <div id="redeem-info-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Why am I paying full price?</h3>
      </div>
      
      <div class="row center">
        <div class="small-centered medium-10 columns">
          
          <p>In order to make it as easy as possible for businesses to accept Currents, we have designed the exchange process in such a way that nothing changes at point of sale. The biggest advantage to businesses is that they don't have to train all of their employees or change their technology.</p>

          <p class="three-halves-margin-bottom">As a result, more businesses are now accepting Currents, which means you can use Currents to get more of what you want. We think that cash back at the end of the month is worth the wait!</p>
          
          <a class="redeem-info-popup_close button round">Got it</a>
          <a href="javascript:void(Tawk_API.toggle())" class="button round secondary">Contact us</a>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#redeem-info-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        // Display filename in upload-receipt label
        $('#upload-receipt').change(function(){
            var fileName = $(this).val().split('\\').pop();;
            $(this).siblings('label').find('span').text(fileName);
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>