{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>
  
  <body>
    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row two-margin-top two-margin-bottom">
          <div class="small-12 medium-9 small-centered columns">
            <div class="row collapse">
              <div class="small-4 columns">
                <div id="progress-1" class="progress-counter progress-highlight">
                  <h6>1</h6>
                </div>
                <label class="small-text blue">Add receipt</label>
              </div>

              <div class="small-4 columns">
                <div id="progress-2" class="progress-counter">
                  <h6>2</h6>
                </div>
                <label class="small-text">Record price</label>
              </div>

              <div class="small-4 columns">
                <div id="progress-3" class="progress-counter">
                  <h6>3</h6>
                </div>
                <label class="small-text">Confirm</label>
              </div>
            </div>
          </div>
        </div>

        <form method='post' enctype='multipart/form-data'>

          {% csrf_token %}

          {% if form.errors %}
            <div class="row">
              {% for field, error in form.errors.iteritems %}
                <div class="center alert">
                  {% if field != '__all__' %}
                    {{ field|addstr:': '}} {{ error }}
                  {% else %}
                    {{ error }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div id="offer-1">
            <div class="row">
              <div class="small-12 medium-8 small-centered columns">
                <h4 class="one-margin-bottom">Upload receipt</h4>
                <p class="three-halves-margin-bottom">
                  To exchange Currents for dollars with {{ offer.org.name }}, upload your receipt as proof of purchase.

                  <a class="redeem-info-popup_open no-wrap">
                    Why am I paying full price?
                  </a>
                </p>

                {{ form.redeem_receipt_if_checked }}

                <!-- <input type="checkbox" name="receipt-if-checked" id="receipt-if-checked" class="hidden" checked /> -->

                {{ form.redeem_receipt }}
                <!--input type="file" accept="image/*" capture="camera" id="upload-receipt" name="upload-receipt" class="hidden-file" /-->

                <label for="upload-receipt" id="receipt-label" class="upload-receipt-label button round small secondary">
                  <i class="one-margin-right fa fa-upload"></i>
                  <span>Choose an image...</span>
                </label>

                <p class="small-text grey">PNG, JPEG, and GIF accepted</p>
                <p class="half-margin-top">
                  <a class="no-receipt-popup_open">
                    I have other proof of purchase
                  </a>
                </p>
              </div>
            </div>

            <div class="row half-margin-top">
              <a class="next-offer button round">Next</a>
            </div>
          </div>

          <div id="offer-2">
            <div class="row">
              <div class="small-12 medium-8 small-centered columns">
                <h4 class="">Record price</h4>

                <p class="half-margin-bottom">
                  Price of {{ offer.item.name }} before tax:
                </p>

                <div class="relative inline-block">
                  <span class="input-icon-left grey">$</span>

                  {{ form.redeem_price }}
                </div>
              </div>
            </div>

            <div class="row one-margin-top">
              <a class="prev-offer button round secondary">Back</a>
              <a class="next-offer button round">Next</a>
            </div>
          </div>

          <div id="offer-3">
            <div class="row">
              <div class="small-12 medium-8 small-centered columns">
                <h4 class="one-margin-bottom">Confirm exchange</h4>

                <p class="one-margin-bottom">
                  I agree to give <img class="" src="{% static 'img/symbol-navy.svg' %}"/> [X] to {{ offer.org.name }} in exchange for $[Y].
                </p>

                <p>
                  I understand that $[Y] will be added to my account as Pending Dollars, which will become Available Dollars once {{ offer.org.name }} validates the transaction at the end of the month. Currents will be deducted from my account at this time. I can then transfer Available Dollars to my bank account or keep the balance in my openCurrents account.
                </p>

                <div class="row three-halves-margin-top">
                  <a class="prev-offer button round secondary">Back</a>

                  <input type='submit' value="Confirm" class="button round"></input>
                </div>
              </div>
            </div>
          </div>

      </form>        

        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>
  
    <div id="redeem-info-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Why am I paying full price?</h3>
      </div>
      
      <div class="row center">
        <div class="small-centered medium-10 columns">
          
          <p>In order to make it as easy as possible for businesses to accept Currents, we have designed the exchange process in such a way that nothing changes at point of sale.</p>

          <p class="three-halves-margin-bottom">As a result, more businesses are now accepting Currents, which means you can use Currents to get more of what you want.</p>
          
          <a class="redeem-info-popup_close button round">Got it</a>
          <a href="javascript:void(Tawk_API.toggle())" class="button round secondary">Contact us</a>
        </div>
      </div>
    </div>

    <div id="no-receipt-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Other proof of purchase</h3>
      </div>
      
      <div class="row center">
        <div class="small-centered medium-10 columns">
          <p>Uploading a receipt is the only way to guarantee that [Fast Folks] will accept Currents. However, if you take a screenshot of your credit card transaction paid to [Fast Folks] with date included, they may be able to verify the transaction.</p>
          
          <label for="upload-receipt" id="pop-label" class="upload-receipt-label button round small secondary"><i class="one-margin-right fa fa-upload"></i><span>Choose an image...</span></label>

          <p><button class="no-receipt-popup_close half-margin-top button round">Continue</button></p>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#redeem-info-popup, #no-receipt-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });

        $('#no-receipt-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
          // Copy input value from popup to form input
          onclose: function() {
            var text = $('#no-receipt-text').val();
            $('#no-receipt-input').val(text);
          }
        });

        // Slide left on 'Next'
        var page = 1;

        $('.next-offer').click(function() {
          if (page < 3) {
            var $lefty = $('#offer-'+page+'');
            var $righty = $('#offer-'+(page+1)+'');

            $righty.show()

            $lefty.animate({
              left: parseInt(-$lefty.outerWidth())
            }, 777);
            $righty.animate({
              left: 0
            }, 777);

            setTimeout(function() {
                $lefty.hide();
            }, 1000);

            $('#progress-'+page+'').removeClass('progress-highlight').siblings('label').removeClass('blue');
            $('#progress-'+(page+1)+'').addClass('progress-highlight').siblings('label').addClass('blue');

            page ++;
          }
        });

        // Slide right on 'Back'
        $('.prev-offer').click(function() {
          if (page > 1) {
            var $lefty = $('#offer-'+(page-1)+'');
            var $righty = $('#offer-'+page+'');

            $lefty.show();
            $lefty.animate({
              left: 0
            }, 777);
            $righty.animate({
              left: parseInt($lefty.outerWidth())
            }, 777);

            setTimeout(function() {
                $righty.hide();
            }, 1000);

            $('#progress-'+(page-1)+'').addClass('progress-highlight').siblings('label').addClass('blue');
            $('#progress-'+page+'').removeClass('progress-highlight').siblings('label').removeClass('blue');
          
            page --;
          }
        });

        // Display filename in upload-receipt label
        $('#upload-receipt').change(function(){
          var fileName = $(this).val().split('\\').pop();;

          if (fileName != '') {
            $('.upload-receipt-label').find('span').text(fileName);
          }

          else {
            $('.upload-receipt-label').find('span').text('Choose an image...');
          }
        });

        // Uncheck receipt-if-checked when 'Other PoP' label is clicked
        $('#pop-label').click(function(){
          $('#receipt-if-checked').prop('checked', false);
        });

        // Uncheck receipt-if-checked when 'Other PoP' label is clicked
        $('#receipt-label').click(function(){
          $('#receipt-if-checked').prop('checked', true);
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>