{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block status %}
  <div class="alert row half-margin-top">
    {{status_msg}}
  </div>
{% endblock status %}

{% block heading %}
  <div class="row two-margin-top two-margin-bottom">
    <div class="small-12 medium-9 small-centered columns">
      <div class="row collapse">
        <div class="small-4 columns">
          <div id="progress-1" class="progress-counter progress-highlight">
            <h6>1</h6>
          </div>
          <label class="small-text blue">Add receipt</label>
        </div>

        <div class="small-4 columns">
          <div id="progress-2" class="progress-counter">
            <h6>2</h6>
          </div>
          <label class="small-text">Record price</label>
        </div>

        <div class="small-4 columns">
          <div id="progress-3" class="progress-counter">
            <h6>3</h6>
          </div>
          <label class="small-text">Confirm</label>
        </div>
      </div>
    </div>
  </div>
{% endblock heading %}

{% block content %}
  <form method='post' enctype='multipart/form-data'>

    {% csrf_token %}

    {% if form.errors %}
      <div class="row">
        {% for field, error in form.errors.iteritems %}
          <div class="center alert">
            {% if field != '__all__' %}
              {{ field|addstr:': '}} {{ error }}
            {% else %}
              {{ error }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div id="offer-1">
      <div class="row">
        <div class="small-12 medium-8 small-centered columns">
          <h4 class="one-margin-bottom">Upload receipt or proof of purchase</h4>
          <p class="three-halves-margin-bottom">

            To exchange Currents for dollars with {{ offer.org.name }},
            upload your receipt as proof of purchase. Other forms, such as
            an image of your bank statement or description of your
            purchase, may or may not be accepted.

            <a class="redeem-info-popup_open no-wrap">
              Why do I pay full price?
            </a>
          </p>

          <!--  form.redeem_receipt_if_checked -->

          <!-- <input type="checkbox" name="receipt-if-checked" id="receipt-if-checked" class="hidden" checked /> -->
          <p id="master-offer-details" class="hidden grey">
            Use Currents for up to {{ offer.currents_share }}% of your purchase with:
            {{ form.master_biz_name }}
          </p>

          {{ form.redeem_receipt }}
          <!--input type="file" accept="image/*" capture="camera" id="upload-receipt" name="upload-receipt" class="hidden-file" /-->

          <label for="upload-receipt" id="receipt-label"
          class="upload-receipt-label button round small secondary">
            <i class="one-margin-right fa fa-upload"></i>
            <span>Choose an image...</span>
          </label>

          <p class="small-text grey">PNG, JPEG, and GIF accepted</p>
          <p class="half-margin-top">
            <a class="no-receipt-popup_open">
              Add description of purchase
            </a>
          </p>

          {{ form.redeem_no_proof }}
        </div>
      </div>

      <div class="row half-margin-top">
        <a class="next-offer button round">Next</a>
      </div>
    </div>

    <div id="offer-2">
      <div class="row">
        <div class="small-12 medium-8 small-centered columns">
          <h4 class="">Record price</h4>

          <p class="half-margin-bottom">
            Price of {{ offer.item.name }} before tax:
          </p>

          <div class="relative inline-block">
            <span class="input-icon-left grey">$</span>
            {{ form.redeem_price }}
            {{ form.redeem_currents_amount }}
          </div>

          <p id="offer-details" class="no-margin-bottom grey">
            {{ offer.org.name }} accepts Currents for {{ offer.currents_share }}%
            of this purchase.
          </p>

        </div>
      </div>

      <div class="row one-margin-top">
        <a class="prev-offer button round secondary">Back</a>
        <a class="next-offer button round">Next</a>
      </div>
    </div>

    <div id="offer-3">
      <div class="row">
        <div class="small-12 medium-8 small-centered columns">
          <h4 class="one-margin-bottom">Confirm exchange</h4>

          <p class="one-margin-bottom">
            I agree to give
            <img class="med-text-symbol" src="{% static 'img/symbol-navy.svg' %}"/>
            <span class="currents-total">0.00</span> to {{ offer.org.name }}
            in exchange for $<span class="dollars-total">0.00</span> minus a
            {{ tr_fee }}% transaction fee of $<span class="dollars-fee">0.00</span>.
          </p>

          <p>
            I understand that $<span class="dollars-received">0.00</span> will
            be added to my account as Pending Dollars, which will become
            Available Dollars once {{ offer.org.name }} validates the
            transaction at the end of the month.
            <span class="currents-total">0.00</span> Currents will be deducted
            from my account at this time. I can then transfer Available
            Dollars to my bank account or keep the balance in my
            openCurrents account.
          </p>

          <p id="master-offer-terms" class="grey">
            Note: Special offer is not redeemable for utilities, rent, gas,
            debt, or cell phone payments. We reserve the right to decline
            redemption.
          </p>

          <div class="row three-halves-margin-top">
            <a class="prev-offer button round secondary">Back</a>
            <input type="submit" value="Confirm" class="button round" />
          </div>
        </div>
      </div>
    </div>

    {% if offer.id == master_offer.id %}
      <div id="master-offer-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
        {% include "popups/master-offer-popup.html" %}
      </div>
    {% endif %}

    <!-- form ends here because we are getting input from master-offer-popup -->
    </form>

    <!-- Sets height of page since redeem divs are absolutely positioned -->
    <div id="redeem-spacer"></div>

{% endblock content %}

{% block popups %}
  <div id="redeem-info-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    {% include "popups/redeem-info-popup.html" %}
  </div>

  <div id="no-receipt-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    {% include "popups/no-receipt-popup.html" %}
  </div>

{% endblock popups %}

{% block js %}
  <script type="text/javascript">
    let getUserBalance = function(callback) {
      // let userid = {{ request.user.id }};
      $.ajax({
        url: "{% url 'openCurrents:get_user_balance_available' %}",
        type: 'GET',
        dataType : "json",
        context: document.body
      }).complete(function( data ){
        console.log(data);
        let balanceAvailable = Number(data.responseJSON);
        callback(null, balanceAvailable);
      });
    };
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#redeem-info-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

      $('#no-receipt-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
        // Copy input value from popup to form input
        onclose: function() {
          var text = $('#no-proof-typed').val();
          $('#id_redeem_no_proof').val(text).slideDown();
          $('#redeem-spacer').animate({height: '+=88'});
        }
      });

      $('#master-offer-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
        autoopen: true,
        blur: false,
        escape: false
      });

      // Set height of spacer = to height of content
      $('#redeem-spacer').height($('#offer-3').height());

      // Disable submit on Enter
      $("form input").on("keypress", function(e) {
        return e.keyCode != 13;
      });

      // Slide left on 'Next'
      var page = 1;

      $('.next-offer').click(function() {

        if (page < 3) {
          var $lefty = $('#offer-'+page+'');
          var $righty = $('#offer-'+(page+1)+'');

          $('#container').animate({
            scrollTop: $("#header").offset().top
          }, 1111);

          $righty.show()

          $lefty.animate({
            left: parseInt(-$lefty.outerWidth())
          }, 777);
          $righty.animate({
            left: 0
          }, 777);

          setTimeout(function() {
            $lefty.hide();
          }, 1000);

          $('#progress-'+page+'').removeClass('progress-highlight').siblings('label').removeClass('blue');
          $('#progress-'+(page+1)+'').addClass('progress-highlight').siblings('label').addClass('blue');

          page ++;
        }
      });

      // Slide right on 'Back'
      $('.prev-offer').click(function() {
        if (page > 1) {
          var $lefty = $('#offer-'+(page-1)+'');
          var $righty = $('#offer-'+page+'');

          $('#container').animate({
            scrollTop: $("#header").offset().top
          }, 1111);

          $lefty.show();
          $lefty.animate({
            left: 0
          }, 777);
          $righty.animate({
            left: parseInt($lefty.outerWidth())
          }, 777);

          setTimeout(function() {
            $righty.hide();
          }, 1000);

          $('#progress-'+(page-1)+'').addClass('progress-highlight').siblings('label').addClass('blue');
          $('#progress-'+page+'').removeClass('progress-highlight').siblings('label').removeClass('blue');

          page --;
        }
      });

      // Master offer revisions
      $('#master-offer-next').on('click', function(){
        if ($('#id_biz_name').val() == '') {
          $('#no-biz-alert').show();
        }
        else {
          $('#master-offer-popup').popup('hide');
          $('#offer-details').hide();
          $('#master-offer-details').show();
          $('#id_master_biz_name').val($('#id_biz_name').val());
          $('#master-offer-terms').show();
        }
      });

      // Display filename in upload-receipt label
      $('#upload-receipt').change(function(){
        var fileName = $(this).val().split('\\').pop();;

        if (fileName != '') {
          $('.upload-receipt-label').find('span').text(fileName);
        }

        else {
          $('.upload-receipt-label').find('span').text('Choose an image...');
        }
      });

      let shareToCurrents = function (priceSubjectToShare) {
        var share = {{ offer.currents_share }} /100.;
        var dollars = (priceSubjectToShare * share).toFixed(2);

        // TODO: switch to an API call to get the converstion rate
        var currents = dollars / parseFloat({{cur_rate}});

        return {
          'currents': currents,
          'dollars': dollars
        }
      }

      function setConfirmationVariables() {
        let priceOfferSubjectToShareCurrents = shareToCurrents(
          $('#id_redeem_price').val()
        );

        getUserBalance(function(err, res) {
          let priceSubjectToShare;
          const userBalanceCurrents = res;

          if (userBalanceCurrents < priceOfferSubjectToShareCurrents.currents) {
            priceSubjectToShare = {
              currents: userBalanceCurrents,
              dollars: userBalanceCurrents * parseFloat({{cur_rate}})
            };
          } else {
            priceSubjectToShare = priceOfferSubjectToShareCurrents;
          }

          console.log('priceUsed:' + priceSubjectToShare.currents);
          const fee = (parseFloat({{tr_fee}} / 100) * priceSubjectToShare.dollars).toFixed(2);
          let dollarsReceived = (priceSubjectToShare.dollars - fee).toFixed(2);

          $('.currents-total').text(priceSubjectToShare.currents);
          $('.dollars-total').text(priceSubjectToShare.dollars);
          $('.dollars-fee').text(fee);
          $('.dollars-received').text(dollarsReceived);

          $("input[name^=redeem_currents_amount]").val(
            priceSubjectToShare.currents
          );
        });
      }

      $( window ).on( "load", function(){
        setConfirmationVariables();
      });

      // Display current and dollar totals based on price input
      $('#offer-2').on('input', function(){
        setConfirmationVariables();
      });
    });
  </script>
{% endblock js %}
