{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'css/add-to-calendar.css' %}" rel="stylesheet" type="text/css">

    {% include "partials/head.html" %}
  </head>

  <body>
    {% include "partials/header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <h3 class="title">You're all set!</h3>
            
            <p class="three-halves-margin-bottom">
              Thank you for helping {{ event.project.org.name }} {{ event.project.name }} on {{ event.datetime_start|day }}. Enjoy the event!
            </p>

            <span class="addtocalendar one-margin-bottom">
              <var class="atc_event">
                <var class="atc_date_start">{{ event.datetime_start|time:event.project.org.timezone }}</var>
                <var class="atc_date_end">{{ event.datetime_end|time:event.project.org.timezone }}</var>
                <var class="atc_timezone">America/Chicago</var>
                <var class="atc_title">Let's {{ event.project.name }}!</var>
                <var class="atc_description">{{ event.description }}</var>
                <var class="atc_location">{{ event.location }}</var>
                <var class="atc_organizer">{{ event.coordinator_firstname }}</var>
                <var class="atc_organizer_email">{{ event.coordinator_email }}</var>
              </var>
            </span>
          </div>
        </div>

        <div class="row one-margin-top center">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:profile' %}"/>
              <button class="button round small secondary">Return to profile</button>
            </a>  
          </div>
        </div>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include 'partials/footer.html' %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>

    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>

      <div class="row">
        <div class="small-centered medium-10 columns">

          <p></p>

          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>

    <!-- add to calendar -->
    <script type="text/javascript">(function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = "{% static 'js/atc.min.js' %}";
          var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
