{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>

  <body>
    {% include "partials/header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
            <h2 class="title-sub">Reset password</h2>
        </div>

        {% if status_msg %}
          <div class="row center half-margin-bottom">
            <div class="small-12 medium-6 small-centered columns">
              <p class="alert small">{{status_msg}}</p>
            </div>
          </div>
        {% endif %}

        <form method="post" action="{% url 'openCurrents:process_reset_password' user_email %}">
          {% csrf_token %}
          <div class="hidden row center half-margin-bottom">
            <div class="medium-6 small-centered columns">
              <p class="inline">Verification code: </p>
              <input type="text" {% if token %} readonly {% endif %} id="verify-email" name="verification_token" class="inline-input" value="{{token}}" />
            </div>
          </div>

          <div class="row no-margin-bottom">
            <p class="three-halves-margin-bottom">Enter and confirm your new password:</p>

            <div class="input-left small-6 medium-3 medium-offset-3 columns">
              <input type="password" name='new_password' placeholder="Set password" class="half-margin-bottom"/>
            </div>
            <div class="input-right small-6 medium-3 columns end">
              <input type="password" name='new_password_confirm' placeholder="Verify password" class="half-margin-bottom"/>
            </div>
          </div>

          <label class="one-margin-bottom">8+ chars including UPPER, lower, 123, %#@!</label>

          <div class="row center">
            <input type="submit" class="button round" value="Finish"/>
          </div>
        </form>

        <div id="push"></div>

      </div>

      {% include 'partials/footer.html' %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>


    <script>
      ( function ( $ ) {
        // Initialize Slidebars
        var controller = new slidebars();
        controller.init();
      } ) ( jQuery );
    </script>

    <script>
      // Initialize Slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle Slidebars
      $( '.toggle-menu' ).on( 'click', function ( event ) {
        // Stop default action and bubbling
        event.stopPropagation();
        event.preventDefault();

        // Toggle the Slidebar with id 'id-1'
        controller.toggle( 'menu' );

        // Close any
        $( document ).on( 'click', '.js-close-any', function ( event ) {
          if ( controller.getActiveSlidebar() ) {
            event.preventDefault();
            event.stopPropagation();
            controller.close();
          }
        } );
      } );
    </script>
  </body>
</html>
