{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block head %}
  <link href="{% static "css/signup.css" %}" rel="stylesheet" type="text/css">
{% endblock head %}


{% block status %}
  {% if status_msg %}
    {{ block.super }}
  {% else %}
    <div class="status-highlight row full-width">
      <div class="small-12 column">
        Create your account to get $40 credit
      </div>
    </div>
  {% endif %}
{% endblock status %}


{% block heading %}
  <div class="row center">
    <h2 class="title-sub">
      {% block title %}
        {% block name %}
          Join openCurrents
        {% endblock name %}
      {% endblock title %}
    </h2>
    <h5 class="one-margin-bottom navy">as a...</h5>
  </div>
{% endblock heading %}

{% block content %}
  {% include "partials/vol-signup.html" %}

  <div class="row grey">
    Existing member?
    <a href="{% url 'openCurrents:login' %}">
      Log in
    </a>
  </div>
{% endblock content %}
