{% extends "layouts/base.html" %}
{% load staticfiles %}


{% block title %} Your time has been recorded {% endblock title %}


{% block content %}
  <div class="row one-margin-bottom center">
    <div class="small-12 medium-8 small-centered columns">
      <p class="two-margin-bottom">Once the organizer approves your volunteer hours, Currents will be added to your account. Well done!</p>

      <a href="{% url 'openCurrents:profile' %}" class="button round">Back to profile</a>
      <a href="{% url 'openCurrents:time-tracker' %}" class="button round secondary">Add more time</a>
    </div>
  </div>
{% endblock content %}