{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}

    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-datepicker.js' %}"></script>
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui-datepicker.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
    {% include "partials/header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
          {% if status_msg %}
            <div class="alert row one-margin-bottom">
              {{status_msg}}
            </div>
          {% endif %}
          <h3 class="title-sub">Record volunteer hours</h3>
        </div>

        <form action ="" method="post">
          {% csrf_token %}

          <div class="row">
            <div class="left medium-8 small-centered columns">
              <div class="row">
                <div class="three-halves-margin-top two-margin-bottom small-12 columns">
                  <!--<input type="text" name="" class="center large-text" placeholder="Description of work"/>-->
                  {{ form.description }}
                </div>

                <div class="small-12 medium-4 columns">
                  <label>{{form.date_start.label}}</label>
                  <!--<input type="text" id="volunteer-date" name="volunteer-date" placeholder="yyyy-mm-dd"/>-->
                  {{ form.date_start }}
                </div>

                <div class="small-6 medium-4 columns">
                  <label>{{ form.time_start.label }}</label>
                  <!--<input type="text" id="start-time" name="" value="12:00:00"/>-->
                  {{ form.time_start }}
                </div>

                <div class="small-6 medium-4 columns">
                  <label>{{ form.time_end.label }}</label>
                  <!--<input type="text" id="end-time" name="" value="12:00:00"/>-->
                  {{ form.time_end }}
                </div>
              </div>

              <div class="row one-margin-top">
                <div class="small-6 columns">
                  {{form.org}}
                </div>

                <div class="disabled small-6 columns">
                  <!-- <select id="choose-org">
                    <option disabled selected hidden>Select admin</option>
                    <option>Org admin 1</option>
                    <option>Org admin 2</option>
                    <option>Org admin 3</option>
                    <option value="other-org">Someone else</option>
                  </select> -->
                  {{form.admin}}

                </div>
              </div>

              <div id="new-admin" class="row hidden">
                <div class="small-6 columns">
                  <input type="text" placeholder="Admin first name" />
                </div>

                <div class="small-6 columns">
                  <input type="text" placeholder="Admin email" />
                </div>
              </div> 
            </div>

            <div class="row center one-margin-top">
              <!--<a href="{% url 'openCurrents:time-tracked' %}" class="button round">Save</a>-->
              <a type='submit' class="one-margin-top button round">Submit for approval</a>
              <p><a class="nominate-popup_open">Organization not listed?</a></p>
            </div>
          </div>

        </form>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include 'partials/footer.html' %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>

    <div id="nominate-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Nominate an organization</h3>
        <div class="medium-10 medium-offset-1 columns end">
          <p>Do you give time with a social organization not listed here? Fill out this form and we'll reach out to your volunteer coordinator. If you tell them about openCurrents, they'll be more likely to get onboard!</p>
        </div>
      </div>

      <form method="post" action="process_OrgNomination/" %}">
        {% csrf_token %}
        <div class="row three-halves-margin-bottom half-margin-top">
          <div class="center small-12 medium-9 small-centered columns">

            <div id="org-signup-name" class="small-12 columns">
              <input type="text" name="org_name" placeholder="Organization name" class="center" tabindex="0" />
            </div>

            <div class="input-left small-12 columns">
              <input type="text" name="contact_name" placeholder="Coordinator name" class="center" tabindex="0" />
            </div>

            <div class="small-12 columns">
              <input type="email" name="contact_email" placeholder="Coordinator email address" class="center" tabindex="0" />
            </div>
          </div>
        </div>

        <div class="row center half-margin-top">
          <input type="submit" class="button round" value="Nominate"/>
          <a class="nominate-popup_close button round secondary">Cancel</a>
        </div>
      </form>
    </div>

    <div id="no-admin-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Please contact organization</h3>
        <div class="medium-10 medium-offset-1 columns end">
          <p>You'll need to know who will approve your hours before tracking your time. Please contact the organization to ask for the name of your openCurrents admin.</p>
          <a href="{% url 'openCurrents:profile' %}" class="button round">Back to profile</a>
          <a class="no-org-popup_close button round secondary">Cancel</a>
        </div>
      </div>
    </div>

    <!-- <div id="add-org-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Volunteer request</h3>
        <div class="medium-10 medium-offset-1 columns end">
          <p>Select the participating organization that you are volunteering with. You can record hours today, but the organizer will need to confirm your participation before you receive Currents. If your organization is not listed, you can nominate it.</p>
        </div>
      </div>

      <form>
        <div class="row">
          <div class="small-12 medium-8 medium-offset-2 columns end">
            <label for="all-orgs" class="inline">Organization name</label>

            <select id="all-orgs">
              <option disabled selected hidden>Select organization</option>
              <option>Bike Austin</option>
              <option>Keep Austin Beautiful</option>
              <option>Keep Austin Fed</option>
              <option>Urban Patchwork</option>
              <option>Casa Marianella</option>
            </select>
          </div>
        </div>

        <div class="row center one-margin-top">
          <a id="add-org" type="submit" class="save-org add-org-popup_close button round">Request approval</a>
          <a href="{% url 'openCurrents:org-signup' %}" class="button round secondary">Nominate new org</a>
        </div>
      </form>
    </div> -->

    <script type="text/javascript">
      $(document).ready(function(){
        $('#id_admin_choice').append(`<option disabled selected hidden>Select admin</option>`)

        $("#volunteer-date").mask("9999-99-99");

        $('#volunteer-date').datepicker({
          dateFormat: 'yy-mm-dd',
          minDate: -6,
          maxDate: 0,
        }).datepicker("setDate", new Date());

        $('#start-time, #end-time').timepicker({
          step: 15,
        });

        $('#nominate-popup, #no-admin-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: false,
        });

        $('#choose-org').on('change', function(){
          if($(this).val() == "not-sure") {
            $('#no-admin-popup').popup('show');
          }
        });

        document.getElementById('id_org_choice').options[0].disabled = true;
        document.getElementById('id_org_choice').options[0].selected = true;
        document.getElementById('id_org_choice').options[0].setAttribute("hidden", true);
        // document.getElementById('id_admin_choice').options[0].disabled = true;
        // document.getElementById('id_admin_choice').options[0].selected = true;
        // document.getElementById('id_admin_choice').options[0].setAttribute("hidden", true);

        // $.ajax
        // (
        //   {
        //     type:"GET",
        //     url:"../../orgs_list/",
        //     async:false,
        //     success:function(response){
        //     //var obj = $.parseJSON(response);
        //     //alert(typeof(response.split(",")[0]));
        //     option_list = response.split(",")
        //     //alert(option_list.length)
        //     //var sel = document.getElementById("user-orgs");
        //     var sel = document.getElementById("user-orgs");
        //     for(var i=0;i<option_list.length;i++)
        //     {
        //       var option = document.createElement("option");
        //       option.text = option_list[i];
        //       sel.appendChild(option);
        //     }
        //
        //     },
        //     error:function(response){
        //       alert("error")
        //     }
        //   }
        // );

        //$( "#id_userorgs option[value='sel_org']" ).selected=true;
        $('#id_org_choice').change(function(){
          $('#id_admin_choice')
            .find('option')
            .remove()
            .end()
            .append('<option disabled selected hidden>Select admin</option>');
          var e = document.getElementById('id_org_choice');
          var strOrg = e.options[e.selectedIndex].text;
          $.ajax
          (
            {
              url: "{% url 'openCurrents:org_user_list' %}",
              type:"POST",
              async:false,
              data : {
                  csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                  org: strOrg
              },
              dataType : "json"
            }
          ).complete(function( data ) {
              let test_data = data;
              if (test_data.responseJSON != undefined){
                var admin_list = test_data.responseJSON['admin']
                for(var i=0;i<admin_list.length;i++){
                  $('#id_admin_choice').append(`<option>`+admin_list[i]+`</option>`)
                }
                $('#id_admin_choice').append(`<option value="other-org">Someone else</option>`)
              }
            });
          }
        )

      });
    </script>

    <script type="text/javascript">


    </script>

<!--     <script type="text/javascript">
      $('#clock-in').on('click', function(){
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        var totalSeconds = 0;
        setInterval(setTime, 1000);

        $("#ticker").css('color', '#24b2e7');

        $(this).text('Clock out').attr('id', 'clock-out').css({
          'background-color' : '#999999',
          'border-color' : '#999999',
        });


        function setTime()
        {
            ++totalSeconds;
            secondsLabel.innerHTML = pad(totalSeconds%60);
            minutesLabel.innerHTML = pad(parseInt(totalSeconds/60));
        }

        function pad(val)
        {
            var valString = val + "";
            if(valString.length < 2)
            {
                return "0" + valString;
            }
            else
            {
                return valString;
            }
        }
      });

    </script> -->

    <script type="text/javascript">
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var n = new Date();
      var y = n.getFullYear();
      var m = n.getMonth();
      var d = n.getDate();
      document.getElementById("volunteer-date").innerHTML = d + " " + months[m] + " " + y;
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
