{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block heading %}
  <div class="row">
    <div class="small-12 columns">
      <h3 class="title-sub">
        {% block title %} Volunteer events {% endblock title %}
      </h3>
    </div>
  </div>

  <div class="row half-margin-top half-margin-bottom">
    <a href="{% url 'openCurrents:volunteer-opportunities' %}" class="button round tiny">View organizations</a>
    <a class="other-opportunties-popup_open button round tiny secondary">Other opportunities</a>
  </div>
{% endblock heading %}

{% block content %}
  <div class="row one-margin-bottom left">
    <div class="small-12 medium-8 small-centered columns">
      <div class="upcoming-events">
        {% for event in events %}
          {% if event.event_type != "MN" %}
            <div class="row">
              <div class="input-left small-9 columns">
                <p>
                  <strong>
                    <a href="{% url 'openCurrents:event-detail' event.id %}">
                      Let's {{ event.project.name }}!
                    </a>
                  </strong>
                  with <strong> {{ event.project.org.name }}</strong>
                  on {{ event.datetime_start|day:timezone }}
                  {{ event.datetime_start|time:timezone }} -
                  {{ event.datetime_end|time:timezone }}
                  at {{ event.location }}.
                </p>
              </div>

              <div class="right relative small-3 columns">
                <a class="mini-open">
                  <i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i>
                </a>

                <ul class="mini-menu">
                  <a href="{% url 'openCurrents:event-detail' event.id %}">
                    <li>View event details</li>
                  </a>
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <a href="{% url 'openCurrents:profile' %}" class="button round secondary">
      Back to profile
    </a>
  </div>
{% endblock content %}

{% block js %}

  {% include "scripts/mini-menu.html" %}

{% endblock js %}
