{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}

        <div class="row">
          <h3 class="title">Upcoming events</h3>
        </div>

        <div class="row one-margin-bottom center">
          <div class="small-12 medium-8 small-centered columns">
            <div class="upcoming-events">
              {% for event in events %}
              <div class="upcoming-event">
                <div class="input-left small-9 columns">
                  <strong><a href="{% url 'openCurrents:event-detail' event.id %}"> {{ event.project.name }} </a></strong>
                  with <strong> {{ event.project.org.name }}</strong>
                  on {{ event.datetime_start|day }}
                  {{ event.datetime_start|time }} -
                  {{ event.datetime_end|time }}
                  at {{ event.location }}.
                </div>

                <div class="input-right right small-3 columns">
                  <a href="{% url 'openCurrents:event-detail' event.id %}"/>
                    <button class="button small round secondary">View</button>
                  </a>
                </div>
              </div>
              {% endfor %}

              <!--div class="upcoming-event">
                <div class="input-left small-9 columns">
                  <strong><a>Let's advocate bike safety</a></strong> with <strong>Bike Austin</strong> on June 3 at 6:00pm to 7:30pm at 1000 Brazos St Suite 100.
                </div>

                <div class="input-right right small-3 columns">
                  <button class="button small round secondary">View</button>
                </div>
              </div>

              <div class="upcoming-event">
                <div class="input-left small-9 columns">
                  <strong><a>Let's restore Bunn Creek Nature Preserve</a></strong> with <strong>Keep Austin Beautiful</strong> on June 3 at 8:30am to 12:00pm at 1200 St. Edwards Drive.
                </div>

                <div class="input-right right small-3 columns">
                  <button class="button small round secondary">View</button>
                </div>
              </div>

              <div class="upcoming-event">
                <div class="input-left small-9 columns">
                  <strong><a>Let's clean up Lady Bird Lake</a></strong> with <strong>Keep Austin Beautiful</strong> on June 10th from 10:00am to 12:00pm at multiple locations.
                </div>

                <div class="input-right right small-3 columns">
                  <button class="button small round secondary">View</button>
                </div>
              </div-->
            </div>
          </div>
        </div>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>

      <div class="row">
        <div class="small-centered medium-10 columns">

          <p></p>

          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
