{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>

  <body>
    {% include "header.html" %}

    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        {% if status_msg %}
        <div class="alert row half-margin-top">
          {{status_msg}}
        </div>
        {% endif %}
        
        <div class="row">
          <h3 class="title-sub">Welcome to openCurrents</h3>
          <h6 class="subtitle">Thank you for being a part of the solution.</h6>
        </div>
        <div class="row half-margin-bottom">
          <div class="small-12 medium-8 medium-centered columns">
            <h6>Here are some ways to get started:</h6>
          </div>
        </div>

        <!--<div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:find-orgs' %}"><button class="button round half-margin-bottom">Volunteer</button></a>
            <p class="grey">with a participating organization to start earning Currents</p>
          </div>
        </div>-->

        <!-- <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:invite-friends' referrer=request.user.email %}"><button class="button round half-margin-bottom">Invite friends</button></a>
            <p class="grey">to earn bonus Currents</p>
          </div>
        </div> -->


        <!--<div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:nominate' %}"><button class="button round half-margin-bottom">Nominate an organization</button></a>
            <p class="grey">and earn 3 Currents when they activate an account</p>
          </div>
        </div>-->

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:org-signup' %}"><button class="button round half-margin-bottom">Organization signup</button></a>
            <p class="grey">to apply as a pilot organization</p>
          </div>
        </div>

        <div class="row one-margin-bottom">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:community' %}"><button class="button round half-margin-bottom">Community meeting</button></a>
            <p class="grey">to move openCurrents forward</p>
          </div>
        </div>

        <div id="push"></div>

      <!-- wrapper div-->
      </div>

      {% include "footer.html" %}

    <!--container div -->
    </div>

    <div id="bottom-stripe" class="full-width"></div>

    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>

    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>

      <div class="row">
        <div class="small-centered medium-10 columns">

          <p></p>

          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>

    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>
