{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}

    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-datepicker.js' %}"></script>
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui-datepicker.css' %}" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    {% include "header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
          <h3 class="title">Record volunteer hours</h3>
          <!--<h5 class="subtitle">for <span id="date"></span></h5>-->
        </div>
        
        <div class="row center">
          <div class="left medium-9 small-centered columns">
            <div class="medium-8 columns">
              <label for="user-orgs" class="inline">Volunteering for:</label>
              
              <select id="user-orgs">
                <option disabled selected hidden>Select organization</option>
                <!-- all requested orgs should appear here unless org declines a volunteer -->
                <option>(orgs who approved volunteer)</option>
              </select>
            </div>
            
            <div class="center input-middle medium-4 columns">
              <div class="hide-for-small-only three-halves-margin-top">
              </div>
              
              <button class="add-org-popup_open button small round secondary">Add organization</button>
            </div>
          </div>
        </div>

        <!--<div class="row center one-margin-top">
          <button type="submit" class="button round">Clock in</button>
        </div>-->

        
        <div class="row">
          <div class="left medium-9 small-centered columns">
            <div class="small-12 medium-4 columns">
              <label>Date</label>
              <input type="text" id="volunteer-date" name="volunteer-date" placeholder="yyyy-mm-dd"/>
            </div>
            
            <div class="small-6 medium-4 columns">
              <label>Start time</label>
              <input type="text" id="start-time" name="" value="12:00:00"/>
            </div>
            
            <div class="small-6 medium-4 columns">
              <label>End time</label>
              <input type="text" id="end-time" name="" value="12:00:00"/>
            </div>
            
            <div class="half-margin-top small-12 columns">
              <input type="text" name="" placeholder="Description of work"/>
            </div>

            <!--<div class="medium-4 columns">
              <h6 id="minutes" class="inline">00</h6><h6 class="inline">:</h6><h6 id="seconds" class="inline">00</h6>
            </div>-->
          </div>
        </div>
        
        <div class="row half-margin-top">
          <input type="submit" id="" class="button round" value="Save"/>
        </div>
        
      <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include "footer.html" %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include "menu.html" %}
    </div>
  
    <div id="add-org-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Volunteer request</h3>
        <div class="medium-10 medium-offset-1 columns end">
          <p>Select the organization that you are volunteering with. You can record hours today, but the organizer will need to confirm your participation before you receive Currents. If the organization is not listed, the org's leader may need to activate the account.</p>
        </div>
      </div>
      
      <!--<form>-->
        <div class="row">
          <div class="small-12 medium-8 medium-offset-2 columns end">
            <label for="all-orgs" class="inline">Organization name</label>
            
            <select id="all-orgs">
              <option disabled selected hidden>Select organization</option>
              <option>(all orgs not in user-orgs)</option>
            </select>
          </div>
        </div>

        <div class="row center one-margin-top">
          <button id="add-org" type="submit" class="add-org-popup_close button round">Request approval</button>
          <a href="{% url 'openCurrents:nominate' %}" class="button round secondary">Nominate new org</a>
        </div>
      <!--</form>-->
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        
        $("#volunteer-date").mask("9999-99-99");

        $('#volunteer-date').datepicker({ 
          dateFormat: 'yy-mm-dd',
          minDate: -1,
          maxDate: 0,
        }).datepicker("setDate", new Date());
        
        $('#start-time, #end-time').timepicker({
          step: 15,
        });
        
        $('#add-org-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>

    <!--<script type="text/javascript">
      var minutesLabel = document.getElementById("minutes");
      var secondsLabel = document.getElementById("seconds");
      var totalSeconds = 0;
      setInterval(setTime, 1000);

      function setTime()
      {
          ++totalSeconds;
          secondsLabel.innerHTML = pad(totalSeconds%60);
          minutesLabel.innerHTML = pad(parseInt(totalSeconds/60));
      }

      function pad(val)
      {
          var valString = val + "";
          if(valString.length < 2)
          {
              return "0" + valString;
          }
          else
          {
              return valString;
          }
      }
    </script>-->

    <script type="text/javascript">
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var n = new Date();
      var y = n.getFullYear();
      var m = n.getMonth();
      var d = n.getDate();
      document.getElementById("date").innerHTML = d + " " + months[m] + " " + y;
    </script>

    <script>
      ( function ( $ ) {
        // Initialize Slidebars
        var controller = new slidebars();
        controller.init();
      } ) ( jQuery );
    </script>

    <script>
      // Initialize Slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle Slidebars
      $( '.toggle-menu' ).on( 'click', function ( event ) {
        // Stop default action and bubbling
        event.stopPropagation();
        event.preventDefault();

        // Toggle the Slidebar with id 'id-1'
        controller.toggle( 'menu' );
        
        // Close any
        $( document ).on( 'click', '.js-close-any', function ( event ) {
          if ( controller.getActiveSlidebar() ) {
            event.preventDefault();
            event.stopPropagation();
            controller.close();
          }
        } );
      } );
    </script>
  </body>
</html>