{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block heading %}
  <div class="row">
    <div class="small-12 columns">
      <h3 class="title-sub">
        {% block title %} Volunteer opportunities {% endblock title %}
      </h3>
    </div>
  </div>

  <div class="row half-margin-top half-margin-bottom">
    <a href="{% url 'openCurrents:upcoming-events' %}" class="button round tiny">See upcoming events</a>
    <a class="other-opportunities-popup_open button round tiny secondary">Other opportunities</a>
  </div>
{% endblock heading %}

{% block content %}


  <div class="row one-margin-bottom left">
    <div class="small-12 medium-8 small-centered columns">
      <h6>Organizations creating Currents</h6>
      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="https://bikeaustin.org/" target="_blank"><strong>
              Bike Austin
            </strong></a>
            improves quality of life for all of Austin and Central Texas by growing bicycling as a form of transportation, exercise, and recreation.
          </p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a href="https://bikeaustin.org/" target="_blank">
              <li>Visit website</li>
            </a>
            <a href="mailto:shavone@bikeaustin.org" target="_blank">
              <li>Email coordinator</li>
            </a>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="http://www.coloradoriver.org/" target="_blank"><strong>
              Colorado River Alliance
            </strong></a>
            champions the long-term vitality of the Texas Colorado River through education and engagement.
          </p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a href="http://www.coloradoriver.org/" target="_blank">
              <li>Visit website</li>
            </a>
            <a href="mailto:geoff@coloradoriver.org" target="_blank">
              <li>Email coordinator</li>
            </a>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="https://www.meetup.com/Women-Who-Code-Austin/" target="_blank"><strong>
              Women Who Code Austin
            </strong></a>
            is dedicated to inspiring women to excel in technology careers by creating a global, connected community of women in technology.
          </p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a href="https://www.meetup.com/Women-Who-Code-Austin/" target="_blank">
              <li>Visit website</li>
            </a>
            <a href="mailto:saraines.calderon@gmail.com" target="_blank">
              <li>Email coordinator</li>
            </a>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="https://www.costasverdes.org/?lang=en" target="_blank"><strong>
              Costas Verdas
            </strong></a>
            restores degraded costal ecosystems in Costa Rica with the active involvement of local and global communities.
          </p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a href="https://www.costasverdes.org/?lang=en" target="_blank">
              <li>Visit website</li>
            </a>
            <a href="mailto:gerardo.bolanos@costasverdas.org" target="_blank">
              <li>Email coordinator</li>
            </a>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="http://www.healthstartfoundation.org/" target="_blank"><strong>
              HealthStart Foundation
            </strong></a>
            provides the blueprint for creating healthier communities through children's science-based health education.
          </p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a href="http://www.healthstartfoundation.org/" target="_blank">
              <li>Visit website</li>
            </a>
            <a href="mailto:erin.damm@healthstartfoundation.org" target="_blank">
              <li>Email coordinator</li>
            </a>
          </ul>
        </div>


      </div>

      <div class="row">
        <div class="small-9 columns">
          <p>
            <a href="https://joshuasstage.org/" target="_blank"><strong>
              Joshua's Stage
            </strong></a>
            enriches the lives of children with special needs through the fine arts in a warm and welcoming environment.
          </p>
        </div>

        <div class="right relative small-3 columns">
          <a class="mini-open"><i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i></a>
          <ul class="mini-menu">
            <a href="https://joshuasstage.org/" target="_blank">
              <li>Visit website</li>
            </a>
            <a href="mailto:joshua.levy@joshuasstage.org" target="_blank">
              <li>Email coordinator</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <a href="{% url 'openCurrents:profile' %}" class="button round secondary">
      Back to profile
    </a>
  </div>
{% endblock content %}

{% block popups %}
  <div id="other-opportunities-popup"
  class="modal center small-12 medium-9 small-centered columns">

    {% include "popups/other-opportunities-popup.html" %}

  </div>
{% endblock popups %}

{% block js %}
  <script type="text/javascript">
    $('#other-opportunities-popup').popup({
      vertical: 'top',
      transition: 'all 0.75s',
      scrolllock: false,
    });
  </script>

  {% include "scripts/mini-menu.html" %}

{% endblock js %}
