{% load staticfiles %}

<div class="row two-margin-top">
  <div class="small-12 medium-10 small-centered columns">
    <div class="row collapse">
      <div class="medium-9 small-centered columns">
        <div class="row">
          <h6 class="half-margin-bottom">Featured events for April</h6>
          <div class="small-6 medium-4 columns">
            <a href="{% url 'openCurrents:event-detail' 1 %}">
              <img class="biz-logos" src="{% static 'img/red-cross.png' %}">
            </a>
          </div>
          <div class="small-6 medium-4 columns">
            <a href="{% url 'openCurrents:event-detail' 1 %}">
              <img class="biz-logos" src="{% static 'img/ms150.png' %}">
            </a>
          </div>
          <div class="small-6 medium-4 small-offset-3 medium-offset-0 columns end">
            <a href="{% url 'openCurrents:event-detail' 1 %}">
              <img class="biz-logos" src="{% static 'img/earth-day.png' %}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
