{% load staticfiles %}

<div class="row">
  <div class="small-6 medium-3 columns">
    <a href="{% url 'openCurrents:event-detail' 342 %}">
      <img class="biz-logos" src="{% static 'img/red-cross.png' %}">
    </a>
    <p class="center grey">Thurs May 17</p>
  </div>
  <div class="small-6 medium-3 columns">
    <a href="{% url 'openCurrents:event-detail' 349 %}">
      <img class="biz-logos" src="{% static 'img/ms150.png' %}">
    </a>
    <p class="center grey">Sat May 19</p>
  </div>
  <div class="small-6 medium-3 columns end">
    <a href="{% url 'openCurrents:event-detail' 366 %}">
      <img class="biz-logos" src="{% static 'img/earth-day.png' %}">
    </a>
    <p class="center grey">Sun May 27</p>
  </div>
  <div class="small-6 medium-3 columns end">
    <a href="{% url 'openCurrents:event-detail' 366 %}">
      <img class="biz-logos" src="{% static 'img/earth-day.png' %}">
    </a>
    <p class="center grey">Weds May 30</p>
  </div>
</div>
