{% extends "layouts/featured-orgs.html" %}

{% block overlay-1 %}
  <span class="featured-overlay">
    50%
  </span>
{% endblock overlay-1 %}

{% block overlay-2 %}
  {% block overlay-3 %}
    {% block overlay-4 %}
      <span class="featured-overlay">
        50%
      </span>
    {% endblock overlay-4 %}
  {% endblock overlay-3 %}
{% endblock overlay-2 %}

{% block star-1 %}
  {% block star-2 %}
    <span class="cmu_tags">
      Gift cards available
    </span>
  {% endblock star-2 %}
{% endblock star-1 %}
