{% extends "layouts/featured-orgs.html" %}
{% load staticfiles %}

{% block img-1 %}
  {% static 'img/woodies.png' %}
{% endblock img-1 %}

{% block url-1 %}
  href="{% url 'openCurrents:redeem-currents' 35 %}"
{% endblock url-1 %}

{% block overlay-1 %}
  {% block overlay-3 %}
    <span class="featured-overlay">
      50%
    </span>
  {% endblock overlay-3 %}
{% endblock overlay-1 %}

{% block img-2 %}
  {% static 'img/treecradle.png' %}
{% endblock img-2 %}

{% block url-2 %}
  href="{% url 'openCurrents:redeem-currents' 43 %}"
{% endblock url-2 %}

{% block overlay-2 %}
  <span class="featured-overlay">
    40%
  </span>
{% endblock overlay-2 %}

{% block img-3 %}
  {% static 'img/bcycle.png' %}
{% endblock img-3 %}

{% block url-3 %}
  href="{% url 'openCurrents:redeem-currents' 11 %}""
{% endblock url-3 %}

{% block img-4 %}
  {% static 'img/atlas.png' %}
{% endblock img-4 %}

{% block url-4 %}
  href="{% url 'openCurrents:redeem-currents' 19 %}"
{% endblock url-4 %}

{% block overlay-4 %}
  <span class="featured-overlay">
    30%
  </span>
{% endblock overlay-4 %}
