{% extends "layouts/featured-orgs.html" %}
{% load staticfiles %}

{% block url-1 %}
  {% url 'openCurrents:event-detail' 626 %}
{% endblock url-1 %}">

{% block img-1 %}
  {% static 'img/ff.png' %}
{% endblock img-1 %}

{% block url-2 %}
  {% url 'openCurrents:event-detail' 625 %}
{% endblock url-2 %}">

{% block img-2 %}
  {% static 'img/acr.png' %}
{% endblock img-2 %}

{% block url-3 %}
  {% url 'openCurrents:event-detail' 655 %}
{% endblock url-3 %}

{% block img-3 %}
  {% static 'img/fbff.png' %}
{% endblock img-3 %}

{% block url-4 %}
  {% url 'openCurrents:event-detail' 627 %}
{% endblock url-4 %}

{% block img-4 %}
  {% static 'img/casa.png' %}
{% endblock img-4 %}
