{% extends "layouts/featured-orgs.html" %}

{% block price-1 %}
  {% block price-2 %}
    {% block price-3 %}
      {% block price-4 %}
        <span class="price-circle">
          $25
        </span>
      {% endblock price-4 %}
    {% endblock price-3 %}
  {% endblock price-2 %}
{% endblock price-1 %}

{% block url-1 %}
  {% block url-2 %}
    {% block url-3 %}
      {% block url-4 %}
        {% url 'openCurrents:redeem-option' %}
      {% endblock url-4 %}
    {% endblock url-3 %}
  {% endblock url-2 %}
{% endblock url-1 %}
