{% extends "layouts/featured-orgs.html" %}
{% load staticfiles %}

{% block url-1 %}
  {% url 'openCurrents:event-detail' 758 %}
{% endblock url-1 %}">

{% block img-1 %}
  {% static 'img/acr.png' %}
{% endblock img-1 %}

{% block overlay-1 %}
  <span class="featured-overlay date">
    Jul 24
  </span>
{% endblock overlay-1 %}

{% block url-2 %}
  {% url 'openCurrents:event-detail' 757 %}
{% endblock url-2 %}

{% block img-2 %}
  {% static 'img/aac.png' %}
{% endblock img-2 %}

{% block overlay-2 %}
  <span class="featured-overlay date">
    Aug 4
  </span>
{% endblock overlay-2 %}

{% block url-3 %}
  {% url 'openCurrents:event-detail' 760 %}
{% endblock url-3 %}

{% block img-3 %}
  {% static 'img/macc.png' %}
{% endblock img-3 %}

{% block overlay-3 %}
  <span class="featured-overlay date">
    Aug 5
  </span>
{% endblock overlay-3 %}

{% block url-4 %}
  {% url 'openCurrents:event-detail' 813 %}
{% endblock url-4 %}

{% block img-4 %}
  {% static 'img/fbff.png' %}
{% endblock img-4 %}

{% block overlay-4 %}
  <span class="featured-overlay date">
    Aug 11
  </span>
{% endblock overlay-4 %}
