{% load staticfiles %}

<!-- <!DOCTYPE html> -->
<footer id="footer">
  <div class="small-12 columns center">
    <a href="javascript:void(Tawk_API.toggle())" class="button round clear" tabindex="0">Contact us</a>
  </div>
  
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/58857be25bcc2b263be87c10/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
  <!--<div class="small-12 medium-6 columns right">
    
  </div>-->
</footer>