{% load staticfiles %}

<!-- <!DOCTYPE html> -->
<footer id="footer">
  <div class="row collapse full-width">
    <div class="left small-4 medium-3 medium-offset-1 columns">
      <a alt="Share on Facebook" class="button round clear" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://www.opencurrents.com/time-tracked'),'facebook-share-dialog','width=626,height=436'); return false;">
        <i class="fa fa-lg fa-facebook"></i>
        <span class="qtr-margin-left">Share</span>
      </a>

      {% include 'scripts/fbshare.html' %}
    </div>
    <div class="small-4 columns end">
      <a href="javascript:void(Tawk_API.toggle())" class="button round clear" tabindex="0">Contact us</a>
    </div>
  </div>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/58857be25bcc2b263be87c10/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

  <!--<div class="small-12 medium-6 columns right">

  </div>-->
</footer>
