{% load staticfiles %}

<header id="header" class="full-width row collapse js-close-any" canvas>
  <div class="small-6 small-offset-1 columns">
    {% if orgid %}
    <a href="{% url 'openCurrents:admin-profile' %}">
    {% elif request.user.is_authenticated %}
    <a href="{% url 'openCurrents:profile' %}">
    {% else %}
    <a class="arrow-cursor">
    {% endif %}

    	<img id="header-logo" src="{% static 'img/oc-header-blue2.svg' %}" />
    </a>
  </div>

  <div class="small-3 columns center">
    <a><i class="one-margin-right fa fa-lg fa-user-circle-o"></i></a>
    <a class="toggle-menu">
      {% include 'partials/tilde-menu.html' %}
    </a>
  </div>
</header>
