{% load staticfiles %}

<header id="header" class="full-width row collapse js-close-any" canvas>
  <div class="small-7 medium-6 small-offset-1 columns">
    {% if orgid %}
    <a href="{% url 'openCurrents:admin-profile' %}">
    {% elif request.user.is_authenticated %}
    <a href="{% url 'openCurrents:profile' %}">
    {% else %}
    <a href="{% url 'openCurrents:root' %}">
    {% endif %}

    	<img id="header-logo" src="{% static 'img/oc-header.svg' %}" />
    </a>
  </div>

  <div class="small-3 medium-4 columns relative right end">
    <div id="header-profile" class="hide-for-small-only trim-text">
      <a href="{% url 'openCurrents:profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
    </div>

    <div>
      <a class="toggle-menu">
      {% include 'partials/tilde-menu.html' %}
      </a>
    </div>
  </div>
</header>
