{% load staticfiles %}

<!-- csrf_meta_tags -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<script src="https://use.fontawesome.com/30e81bb612.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=BGAykN4BkG">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=BGAykN4BkG">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=BGAykN4BkG">
<link rel="manifest" href="/manifest.json?v=BGAykN4BkG">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=BGAykN4BkG" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=BGAykN4BkG">
<meta name="apple-mobile-web-app-title" content="openCurrents">
<meta name="application-name" content="openCurrents">
<meta name="theme-color" content="#ff0000">
<link href="{% static "css/slidebars.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/foundation.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/app.css" %}" rel="stylesheet" type="text/css">

<!--<script src="//load.sumome.com/" data-sumo-site-id="1b21a53792e4c88b00e30601504a2f55dc297d404ac939f395a1d738eddc66a8" async="async"></script>-->

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.popupoverlay.js" %}"></script>
<script type="text/javascript" src="{% static "js/slidebars.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
<script type="text/javascript" src="{% static "js/doubletaptogo.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.placeholder.js" %}"></script>
<script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.mask.min.js" %}"></script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '146875852629962');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=146875852629962&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
