<a class="list-group-item" href="{% url 'openCurrents:nonprofit' %}">
  <i class="half-margin-right fa-fw fa fa-heartbeat"></i>
  For nonprofits
</a>

<a class="list-group-item" href="{% url 'openCurrents:business' %}">
  <i class="half-margin-right fa-fw fa fa-briefcase"></i>
  For businesses
</a>

<a class="list-group-item" href="{% url 'openCurrents:our-story' %}">
  <i class="half-margin-right fa-fw fa fa-book"></i>
  Our story
</a>

<a class="list-group-item" href="{% url 'openCurrents:faq' %}">
  <i class="half-margin-right fa-fw fa fa-users"></i>
  FAQ
</a>

<a class="list-group-item"
  {% if request.user.is_authenticated %}
    {% if not org_admin and not biz_admin %}
      href="{% url 'openCurrents:profile' %}"
    {% elif org_admin %}
      href="{% url 'openCurrents:org-admin' %}"
    {% elif biz_admin %}
      href="{% url 'openCurrents:biz-admin' %}"
    {% endif %}
  {% else %}
    href="{% url 'openCurrents:login' %}"
  {% endif %}
  >
  <i class="half-margin-right fa-fw fa fa-sign-in"></i>
  Log in
</a>
