{% load staticfiles %}

<div class="one-margin-bottom">
  <div class="row">
    <div class="icon-box">
      <div class="intro-icon navy">
        <i class="fa fa-2x fa-thumbs-o-up"></i>
      </div>
      <p class="half-margin-bottom navy">Community approves organization</p>
    </div>

    <img id="arrow-1" class="hide-for-small-only" src="{% static "img/arrow-1.png" %}"/>

    <div class="icon-box">
      <div class="intro-icon navy">
        <i class="fa fa-2x fa-clock-o"></i>
      </div>
      <p class="half-margin-bottom navy">Volunteers <br class="hide-for-small-only">invest time</p>
    </div>
  </div>

  <img id="arrow-2" class="hide-for-small-only" src="{% static "img/arrow-2.png" %}"/>

  <div class="row">
    <div class="left medium-4 columns">
      <div class="icon-box center hide-for-small-only">
        <div class="intro-icon navy">
          <i class="fa fa-2x fa-shopping-cart"></i>
        </div>
        <p class="navy half-margin-bottom">Businesses<br/>accept Currents</p>
      </div>
    </div>

    <img id="arrow-5" class="hide-for-small-only" src="{% static "img/arrow-5.png" %}"/>

    <div class="center medium-4 columns">
      <button class="signup-box_open show-for-small-only three-margin-top button round large clear">I'm in!</button>
    </div>


    <div class="right medium-4 columns">
      <div class="icon-box center">
        <div class="intro-icon navy">
          <i class="fa fa-2x fa-check-square-o"></i>
        </div>
        <p class="navy half-margin-bottom">Organization<br/>verifies work</p>
      </div>
    </div>
  </div>

  <img id="arrow-3" class="hide-for-small-only" src="{% static "img/arrow-3.png" %}"/>

  <!--<img id="arrow-down" class="show-for-small-only" src="{% static "img/arrow-down.png" %}">-->

  <div class="row">
    <div class="half-margin-top center">
      <div class="intro-icon navy">
        <svg id="home-symbol" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 140 140.13137">
                    <g transform="translate(-396.62 -884.72)" stroke="#1f4975" fill="none">
                      <circle cx="466.69" transform="scale(1,-1)" cy="-954.78" r="0" stroke-width="11" />
                      <g transform="translate(11.475)">
                        <path d="m509.65 149.95a64.066 64.066 0 0 1 -42.959 16.538 64.066 64.066 0 0 1 -64.066 -64.066 64.066 64.066 0 0 1 64.066 -64.066 64.066 64.066 0 0 1 42.961 16.539" transform="translate(0 852.36)" stroke-width="12"/>
                        <circle stroke-width="11" cy="954.78" cx="466.69" r="34.558" />
                      </g>
                    </g>
                  </svg>
      </div>
      <p class="navy half-margin-bottom">Volunteers earn Currents</p>
    </div>
  </div>

  <!--<img id="arrow-down" class="show-for-small-only" src="{% static "img/arrow-down.png" %}">-->

  <!--<div class="icon-box center show-for-small-only">
    <div class="intro-icon button clear">
      <i class="fa fa-2x fa-users"></i>
    </div>
    <p class="white half-margin-bottom">Community accepts Currents</p>
  </div>-->

  <img id="arrow-4" class="hide-for-small-only" src="{% static "img/arrow-4.png" %}"/>

  <!--<img id="arrow-up" class="show-for-small-only" src="{% static "img/arrow-up.png" %}"/>-->
</div>



<!--<h4 class="white half-margin-top one-margin-bottom">Advantage #1: Available to all</h4>
<p class="lead">For any currency to become a viable alternative to Old Money, widespread adoption is critical.</p>
<p class="lead">Other currencies such as Bitcoin have been too technical and cumbersome for most people to adopt.</p>
<p class="lead">openCurrents makes it easy to earn currency, find buyers and sellers, and exchange. "Yes, I accept openCurrents." It's that easy.</p>-->