{% load staticfiles %}

<header id="header" class="full-width row collapse js-close-any" canvas>
  <div class="small-8 medium-4 small-offset-1 columns">
    <a href="#1">
    	<img id="header-logo" src="{% static 'img/oc-header-blue2.svg' %}" />
    </a>
  </div>

  <div class="hide-for-small-only one-margin-top medium-6 right columns end">
    <a href="{% url 'openCurrents:nonprofit' %}" class="three-halves-margin-right">For nonprofits</a>
    <a href="{% url 'openCurrents:business' %}" class="three-halves-margin-right">For businesses</a>
    <a href="{% url 'openCurrents:login' %}">Log in</a>
  </div>

  <div class="show-for-small-only relative small-2 columns right end">
    <a class="toggle-menu">
      {% include 'partials/tilde-menu.html' %}
    </a>
  </div>
</header>
