{% load staticfiles %}

<div class="row left">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row collapse">
      <div class="input-left small-3 columns">
        <p><strong><img class="" src="{% static 'img/symbol-navy.svg' %}"/> share</strong></p>
      </div>

      <div class="input-right small-9 columns">
        <p id="item-title"><strong>Item or category</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div id="goods-div" class="small-12 medium-6 small-centered columns">
    <div id="item-1" class="row collapse">
      <div class="input-left small-3 columns">
        <div class="relative">
          <input name="discount-amount-1" type="number" class="fit-left qtr-margin-right" placeholder="20" value="20"/>
          <span class="input-icon-right">%</span>
        </div>
        <!-- <span class="input-sizer"><select name="discount-type-1">
          <option selected>% of</option>
          <option>$ of</option>
        </select></span> -->
      </div>

      <div class="input-right small-9 columns">
        <div class="fit-left half-margin-top one-margin-right one-margin-left">of</div>
        <div class="relative input-sizer">
          <input name="item-name-1" type="text" placeholder="Item or category name" value="All products" class="good-cat" disabled />
          <i class="remove-input alert fa fa-times"></i>
        </div>
      </div>
    </div>

    <div id="item-2" class="row collapse">
      <div class="input-left small-3 columns">
        <div class="relative">
          <input name="discount-amount-2" type="number" class="fit-left qtr-margin-right" placeholder="20" value="20" />
          <span class="input-icon-right">%</span>
        </div>
        <!-- <span class="input-sizer"><select name="discount-type-1">
          <option selected>% of</option>
          <option>$ of</option>
        </select></span> -->
      </div>

      <div class="input-right small-9 columns">
        <div class="fit-left half-margin-top one-margin-right one-margin-left">of</div>
        <div class="relative input-sizer">
          <input name="item-name-2" type="text" placeholder="Item or category name" value="All services" class="good-cat" disabled />
          <i class="remove-input alert fa fa-times"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    // Add item
    var id = 3

    $('#add-item').click(function(){
      $('#goods-div').append('<div id="item-'+id+'" class="row collapse hidden"><div class="input-left small-3 columns"><div class="relative"><input name="discount-amount-'+id+'" type="number" class="fit-left qtr-margin-right" placeholder="20" value="20"/><span class="input-icon-right">%</span></div></div><div class="input-right small-9 columns"><div class="fit-left half-margin-top one-margin-right one-margin-left">of</div><div class="relative input-sizer"><input name="item-name-'+id+'" type="text" placeholder="Item or category name" /><i class="remove-input alert fa fa-times"></i></div></div></div>');
      $('#item-'+id+'').slideDown();

      id ++
    });

    // Remove item
    $('body').on('click', '.remove-input', function(){
      $(this).closest('.row').slideUp(function(){
        $(this).remove();
      });
      $('#add-item').slideDown();
    });

    // Show add-item if products/services edited
    $('.good-cat').change(function(){
      $('#add-item').slideDown();
    });
  });
</script>
