{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    {% include "partials/head.html" %}
    {% block head %}{% endblock head %}
    
    <title></title>

  </head>
  
  <body>

    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">

        {% block status %}
          <div class="row">
            <div id="status_msg" class="success half-margin-top small-10 small-centered medium-8 columns">
            </div>
          </div>
        {% endblock status %}


        <div class="hide-for-small-only row full-width collapse one-margin-top one-margin-bottom">
          <div class="left medium-5 medium-offset-1 columns">
            {% block heading-left %}
              <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="fit-left round" />
              <span class="input-sizer"> -->
                <h5 class="one-margin-top no-margin-bottom trim-text"> {{ orgname }} </h5>
                <h6>{{ user.first_name }} {{ user.last_name }}</h6>     
              <!-- </span> -->
            {% endblock heading-left %}
          </div>

          <div class="right one-margin-top medium-5 columns end">
            {% block heading-right %}
              <span class="no-wrap">
                <h6 class="half-margin-bottom inline-block">Business balance:</h6>
                <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
                <h6 class="inline-block"> {{ user_balance }} </h6>
              </span>
              <!-- <h6 class="half-margin-bottom">Hours I've tracked: {{ issued_by_admin }}</h6> -->

                <p class="no-margin-bottom"><a href="{% url 'openCurrents:offer' %}" class="button round tiny">Post an offer</a></p>
            {% endblock heading-right %}
          </div>
        </div>

        <div class="show-for-small-only row one-margin-top">
          <div class="columns">
            {% block heading-small %}
              <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
              <h4 class="half-margin-top no-margin-bottom"> {{ orgname }} </h4>
              <h5>{{ user.first_name }} {{ user.last_name }}</h5>

              <div class="one-margin-top half-margin-bottom">
                <!-- <h6 class="no-margin-bottom">My hours tracked: 10.0</h6> -->
                <h6 class="inline">Business balance: </h6>
                  <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
                  <h6 class="inline-block"> {{ user_balance }} </h6>
              </div>

              <a href="{% url 'openCurrents:offer' %}" class="button round tiny">Post an offer</a>
            {% endblock heading-small %}
          </div>
        </div> 


        {% block content %}{% endblock content %}
        
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    {% block menu %}
      <div off-canvas="menu right shift" id="menu">
        {% include 'partials/menu.html' %}
      </div>
    {% endblock %}


    {% block popups %}{% endblock popups %}
    
    {% block js %}{% endblock js %}
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>