{% extends "layouts/base.html" %}

{% load staticfiles %}
{% load tags %}

{% block heading %}
  <div class="hide-for-small-only row full-width collapse one-margin-top">
    <div class="left medium-5 medium-offset-1 columns">
      {% block heading-left %}
        <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="fit-left round" />
        <span class="input-sizer"> -->
          <h5 class="one-margin-top no-margin-bottom trim-text">
            {% block title %} {{ orgname }} {% endblock title %}
          </h5>
          <h6>{{ user.first_name }} {{ user.last_name }}</h6>
        <!-- </span> -->
      {% endblock heading-left %}
    </div>

    <div class="right one-margin-top medium-5 columns end">
      {% block heading-right %}
        <span class="no-wrap">
          <h6 class="no-margin-bottom inline-block">
            Currents available:
          </h6>
          <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
          <h6 class="inline">
            {{ currents_balance }}
          </h6>
        </span>

        <div class="no-margin-bottom">
          <span class="no-wrap">
            <h6 class="half-margin-bottom inline-block">
              Pending:
            </h6>
            <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
            <h6 class="inline-block">
              {{ currents_pending }}
            </h6>
          </span>
        </div>
      {% endblock heading-right %}
    </div>
  </div>

  <div class="show-for-small-only row one-margin-top">
    <div class="columns">
      {% block heading-small %}
        <!-- <img id="profile-img" src="{% static 'img/smiley.jpg' %}" class="round" /> -->
        <h4 class="half-margin-top no-margin-bottom"> {{ orgname }} </h4>
        <h5>{{ user.first_name }} {{ user.last_name }}</h5>

        <div class="one-margin-top">
          <!-- <h6 class="no-margin-bottom">My hours tracked: 10.0</h6> -->
          <h6 class="inline">
            Currents available:
          </h6>
          <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
          <h6 class="inline">
            {{ currents_balance }}
          </h6>
        </div>
        <div class="no-margin-bottom">
          <span class="no-wrap">
            <h6 class="one-margin-bottom inline-block">
              Pending:
            </h6>
            <img class="h6-symbol" src="{% static 'img/symbol.svg' %}"/>
            <h6 class="inline-block">
              {{ currents_pending }}
            </h6>
          </span>
        </div>
      {% endblock heading-small %}
    </div>
  </div>
{% endblock heading %}


{% block content %}
  <p class="no-margin-bottom">
    <a href="{% url 'openCurrents:offer' %}" class="button round small">
      Post an offer
    </a>
  </p>

  {% block lists %}
    <div class="left row one-margin-top full-width collapse">
      <div class="small-11 medium-10 small-centered columns">
        <h6 class="half-margin-bottom">Our offers</h6>

        {% if offers %}
          {% for offer in offers %}
            <div class="row">
              <div class="left small-9 columns">
                <p class="half-margin-bottom">
                  {{ orgname }} accepts Currents for

                  <strong>
                    {{offer.currents_share}}% of {{offer.item.name}}
                  </strong>

                  {% if offer.limit != -1 %}
                    <span class="small-text grey">
                      Limit {{ offer.limit }} transactions per month
                    </span>
                  {% endif %}
                </p>
              </div>

              <div class="right relative small-3 columns">
                <a class="mini-open">
                  <i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i>
                </a>
                <ul class="mini-menu">
                  <a href="{% url 'openCurrents:edit-offer' offer.id %}">
                    <li> Edit offer </li>
                  </a>
                  <a class="delete-offer-popup_open">
                    <li class="alert"> Delete offer </li>
                  </a>
                </ul>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="row">
            <div class="left small-12 columns">
              <p>
                {{ orgname }} has not made any offers.
                <a href="{% url 'openCurrents:offer' %}">
                  Create one!
                </a>
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock lists %}

  {% block redemption_list %}
    redemptions {{ redemptions }}
    {% if redemptions %}
      <div class="left row one-margin-top full-width collapse">
        <div class="small-11 medium-10 small-centered columns">

          <h6 class="half-margin-bottom">
            {{ redemption_status }} redemptions
          </h6>

          {% for req in redemptions %}
            {% with tr=req.transaction %}
              <div class="row">
                <div class="left small-9 columns">
                  <p class="half-margin-bottom">
                    {{ req.date_updated|day:timezone }} -
                    {{ tr.user.first_name }}
                    {{ tr.user.last_name }}
                    purchased
                    <strong>
                      {{ tr.offer.item.name }} for
                      ${{ tr.price_reported }}
                    </strong>
                    and will receive
                    {% with percent_share=tr.offer.currents_share|percent_to_price %}
                      {% with discount=tr.price_reported|mult:percent_share %}
                        ${{ discount|floatformat:2 }}
                        for
                        <span class="no-wrap">
                          <img class="h6-symbol" src="{% static 'img/symbol-navy.svg' %}"/>
                          {{ discount|usd_to_current|floatformat:3 }}
                        </span>
                      {% endwith %}
                    {% endwith %}
                  </p>
                </div>

                <div class="right relative small-3 columns">
                  <a class="mini-open">
                    <i class="blue half-margin-right fa-chevron-circle-down fa fa-lg"></i>
                  </a>
                  <ul class="mini-menu">
                    <a class="view-receipt-popup_open"><li>View receipt</li></a>
                  </ul>
                </div>
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endblock %}
{% endblock content %}


{% block popups %}
  <div id="delete-offer-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <h3 class="popup-title">Are you sure?</h3>
      <button type="submit" class="button round alert">
        Yes - Delete offer
      </button>
      <a class="delete-offer-popup_close button round secondary">
        Cancel
      </a>
    </div>
  </div>

  <div id="view-receipt-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
    <div class="row center">
      <div class="small-12 medium-8 small-centered columns">
        <h4 class="popup-title">View proof of purchase</h4>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-12 medium-8 small-centered columns">
        <img src="{% static 'img/first_receipt.jpeg' %}" />
      </div>
    </div>

    <div class="row center three-halves-margin-top">
      <a class="view-receipt-popup_close button round">
        Close
      </a>
      <a href="javascript:void(Tawk_API.toggle())" class="button round secondary">
        Contact us
      </a>
    </div>
  </div>
{% endblock popups %}


{% block js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#view-receipt-popup, #delete-offer-popup').popup({
        vertical: 'top',
        transition: 'all 0.75s',
        scrolllock: true,
      });

      $('.mini-open').click(function(){
        $('.mini-menu').hide();
        $(this).siblings('.mini-menu').toggle();
        $(this).attr('visibility', 'visible');
      });

      $(document).click(function(e) {
        var target = e.target;
        if (!$(target).is('.mini-open') && !$(target).parents().is('.mini-open')) {
          $('.mini-menu').hide();
        }
      });
    });
    function status(){
      $('#status_msg').html("There are no hours that need your approval.");
    }
  </script>
{% endblock js %}
