{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    {% include "partials/head.html" %}
    {% block head %}{% endblock head %}
    
    <title>{% block title %} openCurrents {% endblock title %}</title>

  </head>
  
  <body>

    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">

        {% block status %}
          {% if status_msg %}
            <div class="row half-margin-top">
              {{ status_msg }}
            </div>
          {% endif %}
        {% endblock status %}

        {% block heading %}
          <div class="row">
            <div class="small-12 columns">
              <h3 class="title">
                openCurrents
              </h3>
            </div>
          </div>  
        {% endblock heading %}

        {% block content %}{% endblock content %}
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% block footer %}
        {% include 'partials/footer.html' %}
      {% endblock footer %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    {% block menu %}
      <div off-canvas="menu right shift" id="menu">
        {% include 'partials/menu.html' %}
      </div>
    {% endblock %}


    {% block popups %}{% endblock popups %}
    
    {% block js %}{% endblock js %}
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>