{% load staticfiles %}
{% load tags %}

<div class="relative small-6 medium-3 columns">
  <!-- ex-block url-n -->
    {% if biz_offer.offer_type == 'gft' or biz.is_featured_master_biz_giftcard %}
      <a onClick="ga('send', 'event', 'Redemption', 'FeaturedBizGC');"
        href="{% url 'openCurrents:redeem-option' %}?biz_name={{ biz_name }}">
    {% elif biz_offer.is_master %}
      <a onClick="ga('send', 'event', 'Redemption', 'MasterBizRebateOnly');"
        href="{% url 'openCurrents:redeem-currents' biz_offer.id %}?biz_name={{ biz_name }}">
    {% else %}
      <a onClick="ga('send', 'event', 'Redemption', 'FeaturedBizRebateOnly');"
        href="{% url 'openCurrents:redeem-currents' biz_offer.id %}">
    {% endif %}

    <!-- ex-block img-n -->
    <img class="biz-logos" src="{% static biz_name|get_img_name_for_biz %}"/>

    <!-- ex-block overlay-n -->
    <span class="featured-overlay">
      {{ biz_offer.currents_share }}%
    </span>

    <!-- ex-block banner-n -->
    {% if biz_offer.offer_type == 'gft' or biz.is_featured_master_biz_giftcard %}
      <span class="biz-banner">
        Gift cards available
      </span>
    {% endif %}
  </a>

  <!-- ex-block caption-n -->
  <p class="center no-margin-bottom">
  </p>
</div>

{% block popups %}{% endblock popups %}

{% block js %}{% endblock js %}
