{% load staticfiles %}

<div class="row">
  <div class="small-6 medium-3 columns">
    <a href="
      {% block url-1 %}
        {% url 'openCurrents:redeem-currents' master_offer.id %}?biz_name=Whole Foods
      {% endblock url-1 %}
    ">
      <img class="biz-logos" src="
        {% block img-1 %}
          {% static 'img/whole-foods.png' %}
        {% endblock img-1 %}
      "/>
    </a>
    <p class="center no-margin-bottom">
      {% block caption-1 %}{% endblock caption-1 %}
    </p>
  </div>
  <div class="small-6 medium-3 columns">
    <a href="
      {% block url-2 %}
        {% url 'openCurrents:redeem-currents' master_offer.id %}?biz_name=Amazon
      {% endblock url-2 %}
    ">
      <img class="biz-logos" src="
        {% block img-2 %}
          {% static 'img/amazon.png' %}
        {% endblock img-2 %}
      "/>
    </a>
    <p class="center no-margin-bottom">
      {% block caption-2 %}{% endblock caption-2 %}
    </p>
  </div>
  <div class="small-6 medium-3 columns">
    <a href="
      {% block url-3 %}
        {% url 'openCurrents:redeem-currents' master_offer.id %}?biz_name=HEB
      {% endblock url-3 %}
    ">
      <img class="biz-logos" src="
        {% block img-3 %}
          {% static 'img/heb.png' %}
        {% endblock img-3 %}
      "/>
    </a>
    <p class="center no-margin-bottom">
      {% block caption-3 %}{% endblock caption-3 %}
    </p>
  </div>
  <div class="small-6 medium-3 columns">
    <a href="
      {% block url-4 %}
        {% url 'openCurrents:redeem-currents' master_offer.id %}?biz_name=Central Market
      {% endblock url-4 %}
    ">
      <img class="biz-logos" src="
        {% block img-4 %}
          {% static 'img/central-market.png' %}
        {% endblock img-4 %}
      "/>
    </a>
    <p class="center no-margin-bottom">
      {% block caption-4 %}{% endblock caption-4 %}
    </p>
  </div>
</div>
