{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}

    {% block head %}
      <link href="{% static "css/home.css" %}" rel="stylesheet" type="text/css">
      <link href="{% static "css/signup.css" %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Montserrat:700"
      rel="stylesheet">

      <title>Welcome to openCurrents</title>
    {% endblock head %}

  </head>

  <body id="{% block page %}home{% endblock page %}" class="splash" onunload=''>
    {% block header %}
      <header id="header" class="full-width row collapse js-close-any" canvas>
        <div class="relative small-8 large-3 small-offset-1 columns">

          {% block logo %}
            <a href="{% url 'openCurrents:root' %}">
              <img id="header-logo" src="{% static 'img/logo.svg' %}" />
            </a>
          {% endblock logo %}

          <div class="inline-block relative">
            <span id="beta-home">Beta</span>
          </div>
        </div>

        <div class="show-for-large one-margin-top medium-8 right columns end">
          {% block large-links %}
            <a href="{% url 'openCurrents:nonprofit' %}" class="three-halves-margin-right">For nonprofits</a>
            <a href="{% url 'openCurrents:business' %}" class="three-halves-margin-right">For businesses</a>
            <a href="{% url 'openCurrents:our-story' %}" class="three-halves-margin-right">Our story</a>
            <a href="{% url 'openCurrents:faq' %}" class="three-halves-margin-right">FAQ</a>
          {% endblock large-links %}

          <a class="two-margin-right"
            {% include "partials/login-logic.html" %}
            >
            Log in
          </a>
        </div>

        <div class="hide-for-large small-2 relative columns right end">
          <a class="toggle-menu">
            {% include 'partials/tilde-menu.html' %}
          </a>
        </div>
      </header>

      {% if messages %}
        {% for message in messages %}
          {% if not 'logout_message' in message.tags %}
            <div class="row center full-width collapse messages-framework js-close-any" canvas>
              <div class="small-12 medium-8 small-centered columns">
                <span{% if message.tags %} class="{{ message.tags }} alert"{% endif %}>
                  {{ message }}
                </span>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endblock header %}

    {% block content %}{% endblock content %}

    <div off-canvas="menu right shift" id="home-menu">
      {% include 'partials/home-menu.html' %}
    </div>

    {% block popups %}{% endblock popups %}

    <script type="text/javascript" src="{% static "js/home.js" %}"></script>

    {% block js %}
      <script type="text/javascript">
        $(document).ready(function() {
          $('.header-spacer').height($('.messages-framework').height()+60);
        });
      </script>
    {% endblock js %}

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/58857be25bcc2b263be87c10/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

    {% include "partials/end-scripts.html" %}
  </body>
</html>
