{% load staticfiles %}

{% block heading %}
  <div class="row center">
    <h3 class="popup-title">
      {% block title %}
        Popup title
      {% endblock title %}
    </h3>
  </div>
{% endblock heading %}


{% block body %}
  <div class="row center">
    <div class="small-centered medium-10 columns">

      {% block content %}
        <p>Test content</p>

        <div class="row three-halves-margin-top">
            <a class="-popup_close button round">Fix button</a>
        </div>
      {% endblock content %}

    </div>
  </div>
{% endblock body %}

{% block js %}{% endblock js %}
