{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>
  
  <body>
    {% include "partials/header.html" %}
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row two-margin-bottom">
          <div class="left small-7 medium-6 medium-offset-1 columns">
            <h5 class="title">(Organization name)</h5>
          </div>

          <div class="right small-5 medium-4 columns end">
            <h5>Issued<span class="no-wrap"><svg class="h5-symbol" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 140 140.13137">
                <g transform="translate(-396.62 -884.72)" stroke="#888888" fill="none">
                  <circle cx="466.69" transform="scale(1,-1)" cy="-954.78" r="0" stroke-width="11" />
                  <g transform="translate(11.475)">
                    <path d="m509.65 149.95a64.066 64.066 0 0 1 -42.959 16.538 64.066 64.066 0 0 1 -64.066 -64.066 64.066 64.066 0 0 1 64.066 -64.066 64.066 64.066 0 0 1 42.961 16.539" transform="translate(0 852.36)" stroke-width="12"/>
                    <circle stroke-width="11" cy="954.78" cx="466.69" r="34.558" />
                  </g>
                </g>
              </svg>123</span></h5>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:sell' %}"><button class="button round half-margin-bottom">Make a sale</button></a>
            <p class="grey">or take a donation</p>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:inventory' %}"><button class="button round half-margin-bottom">Manage inventory</button></a>
            <p class="grey">to make selling easier</p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:volunteer-summary' %}"><button class="button round half-margin-bottom">Volunteer summary</button></a>
            <p class="grey">to review hours and export data</p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-8 small-centered columns">
            <a href="{% url 'openCurrents:user-home' %}"><button class="button round half-margin-bottom">My personal account</button></a>
            <p class="grey">to volunteer or spend Currents</p>
          </div>
        </div>
        
        <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      {% include 'partials/footer.html' %}
            
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      {% include 'partials/menu.html' %}
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title"></h3>
      </div>
      
      <div class="row">
        <div class="small-centered medium-10 columns">
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript" src="{% static "js/end_scripts.js" %}"></script>
  </body>
</html>